accounts/outbound-travelers-in/chat-and-capture.workflow.json
{
  "updatedAt": "2026-07-11T12:31:03.142Z",
  "createdAt": "2026-05-29T08:12:54.158Z",
  "id": "AfmPZXhWMetbxHTl",
  "name": "OB-1 IG-IN · Chat & Capture (@outboundtravelers.in)",
  "description": null,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-lead-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "webhookId": "ig-lead-bot",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Normalize input\"  (CONVERSATIONAL REWRITE 2026-07-08)\n// The AI now WRITES the reply (warm Rahul, English only) AND extracts the 4\n// details. Parse+validate is the deterministic safety net (backstop, dedup,\n// code-driven Yes/No step, returning-visitor logic, sheet/CRM mapping).\n// Banked profile (WhatsApp + past destinations) is persisted in workflow static\n// data keyed by ig_user_id so a returning visitor is greeted back and never\n// re-asked for their number.\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\nconst wh = $('Webhook').first().json.body || {};\nconst s = (v) => (v === undefined || v === null ? '' : String(v).trim());\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst clean = (v) => { const t = s(v); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\nconst pick = (a, b) => { const x = clean(a); return x !== '' ? x : clean(b); };\n\n// -- DEDUP LAYER 1: synchronous same-message guard. --\nconst _sd = $getWorkflowStaticData('global');\n_sd.seenMsg = _sd.seenMsg || {};\nconst _now = Date.now();\nfor (const _k in _sd.seenMsg) { if (_now - _sd.seenMsg[_k] > 3600000) delete _sd.seenMsg[_k]; }\nconst _dupKey = s(wh.ig_user_id) + '|' + s(wh.message_text);\nif (s(wh.ig_user_id) && s(wh.message_text) && _sd.seenMsg[_dupKey] && (_now - _sd.seenMsg[_dupKey] < 4000)) return [];\nif (_dupKey) _sd.seenMsg[_dupKey] = _now;\nconst _msgId = 'L' + _now + '-' + Math.floor(Math.random() * 1000000);\n\n// -- sheet row (Lookup existing lead) --\nlet row = {};\ntry {\n  const inItems = $input.all();\n  if (inItems && inItems.length && inItems[0] && inItems[0].json) {\n    const j = inItems[0].json;\n    if (j && (clean(j.destination) || clean(j.normalized_destination) || clean(j.travel_date) || clean(j.pax) || clean(j.whatsapp_number) || clean(j.quick_assistance) || clean(j['notes - AI']) || clean(j.first_contact_ts) || clean(j.name))) row = j;\n  }\n} catch (e) { row = {}; }\n\nconst userMsg = s(wh.message_text);\n\n// -- BANKED PROFILE (persists across the 48h reset; static data) --\n_sd.profiles = _sd.profiles || {};\nconst uid = s(wh.ig_user_id);\n// prune profiles older than 365 days\nfor (const _p in _sd.profiles) { if (_now - ((_sd.profiles[_p] || {}).ts || 0) > 365 * 24 * 3600 * 1000) delete _sd.profiles[_p]; }\nconst profile = _sd.profiles[uid] || { whatsapp: '', past: [] };\nconst bankedWhatsapp = clean(profile.whatsapp) || pick(row.whatsapp_number, '');\n\nconst known = {\n  destination:            pick(row.destination, wh.destination),\n  normalized_destination: pick(row.normalized_destination, wh.normalized_destination),\n  travel_date:            pick(row.travel_date, wh.travel_date),\n  pax:                    pick(row.pax, wh.pax),\n  whatsapp_number:        pick(row.whatsapp_number, wh.whatsapp_number) || bankedWhatsapp,\n  quick_assistance:       pick(row.quick_assistance, wh.quick_assistance),\n};\n\n// -- 48h / greeting reset (same rule as before) --\nfunction parseIST(ts) {\n  const m = String(ts).trim().match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})[ T](\\d{1,2}):(\\d{2}):(\\d{2})$/);\n  if (!m) return NaN;\n  const [, y, mo, d, h, mi, se] = m.map(Number);\n  const pad = (n) => String(n).padStart(2, '0');\n  return new Date(`${y}-${pad(mo)}-${pad(d)}T${pad(h)}:${pad(mi)}:${pad(se)}+05:30`).getTime();\n}\nconst lastUpdateTs = clean(row.last_update_ts) || clean(row.first_contact_ts);\nlet hoursSince = Infinity;\nif (lastUpdateTs) { const lastMs = parseIST(lastUpdateTs); if (!isNaN(lastMs)) hoursSince = (_now - lastMs) / 3600000; }\nconst _greetTokens = userMsg.toLowerCase().replace(/[^a-z\\s]/g, ' ').trim().split(/\\s+/).filter(Boolean);\nconst GREET_WORDS = ['hi','hii','hiii','hiiii','hello','helo','hellooo','hey','heyy','heyyy','hai','hlo','yo','gm','gn','good','morning','afternoon','evening','night','namaste','vanakkam','hola','greetings','sir','madam','mam','team','there','bro','ji','anna','dear','all'];\nconst isPureGreeting = _greetTokens.length > 0 && _greetTokens.length <= 4 && _greetTokens.every((t) => GREET_WORDS.indexOf(t) !== -1);\nconst resetConversation = (hoursSince === Infinity) || (hoursSince >= 2 && isPureGreeting);\n\n// A previously-finished lead: completed the funnel OR has a banked number.\nconst wasCompleted = !!(clean(row.quick_assistance) || clean(row.status) === 'qualified' || clean(profile.whatsapp));\n\nif (resetConversation) {\n  known.destination = '';\n  known.normalized_destination = '';\n  known.travel_date = '';\n  known.pax = '';\n  known.quick_assistance = '';\n  known.whatsapp_number = bankedWhatsapp; // BANK the number across visits\n}\n\n// QA in-flight overlay (Button handler may not be in the sheet yet)\n_sd.qaDone = _sd.qaDone || {};\nfor (const _q in _sd.qaDone) { if (_now - (_sd.qaDone[_q].ts || 0) > 72 * 3600 * 1000) delete _sd.qaDone[_q]; }\nconst _qaHit = _sd.qaDone[uid];\nif (resetConversation) { delete _sd.qaDone[uid]; if (_sd.awaitingQA) delete _sd.awaitingQA[uid]; }\nelse if (_qaHit && !known.quick_assistance) { known.quick_assistance = _qaHit.v; }\n\nconst hasDestination = !!(known.destination || known.normalized_destination);\nconst hasTravelDate = !!known.travel_date;\nconst hasPax = !!known.pax;\nconst hasPhone = !!known.whatsapp_number;\nconst hasQuickAssist = !!known.quick_assistance;\n\n// -- VISITOR STATUS --\nlet visitorStatus;\nif (resetConversation) visitorStatus = bankedWhatsapp && wasCompleted ? 'returning' : 'new';\nelse visitorStatus = (hasDestination || hasTravelDate || hasPax || hasQuickAssist || clean(row['notes - AI'])) ? 'continuing' : 'new';\n\nlet existingFirstContact = clean(row.first_contact_ts);\nlet existingNotes = pick(row['notes - AI'], wh.notes);\nif (resetConversation) { existingFirstContact = ''; existingNotes = ''; }\n\nconst nowISTstr = new Date(_now + 5.5 * 3600000).toISOString().replace('T', ' ').slice(0, 19);\nconst convFirstContact = existingFirstContact || nowISTstr;\nconst _epochMs = parseIST(convFirstContact);\nconst _neSalt = (_sd.neSalt && _sd.neSalt[uid]) || '';\nconst sessionKey = uid + '|' + (isNaN(_epochMs) ? convFirstContact : _epochMs) + (_neSalt ? '|ne' + _neSalt : '');\n\nconst savedProfile = { whatsapp: bankedWhatsapp || null, past_destinations: (profile.past || []).slice(-5) };\nconst savedProfileJson = JSON.stringify(savedProfile);\nconst knownJson = JSON.stringify(known);\nconst notesBlock = existingNotes ? existingNotes : '(none yet)';\n\nconst igFullName = clean(wh.ig_fullname) || pick(row.name, '');\nconst igUsername = s(wh.ig_username);\nconst channel = (clean(wh.channel) || 'instagram').toLowerCase();\nconst channelLabel = channel === 'instagram' ? 'instagram' : 'facebook';\n\n// -- Yes/No button detection at the quick-assistance step (code-driven QA) --\nconst _qaTok = userMsg.toLowerCase().replace(/[^a-z\\s]/g, ' ').split(/\\s+/).filter(Boolean).map((t) => t.replace(/(.)\\1+/g, '$1'));\nconst _yesStrong = ['yes','yeah','yea','yep','yup','ya','sure'];\nconst _yesWeak = ['y','s','ok','okay','okey','okie','k','need','needed','want','please','pls','plz'];\nconst _noSet = ['no','nope','nah','na','not','dont','don','dnt'];\nconst _hasNoTok = _qaTok.some((t) => _noSet.indexOf(t) !== -1);\nconst _hasStrongYesTok = _qaTok.some((t) => _noSet.indexOf(t) === -1 && _yesStrong.indexOf(t) !== -1);\n// Weak acknowledgment words (ok/k/please/...) only count as a Yes answer when they ARE\n// the whole message (like a pure greeting check) - otherwise \"ok thinking\" or \"ok wait\"\n// gets misread as a definitive Yes just because it contains \"ok\" anywhere.\nconst _isPureAck = _qaTok.length > 0 && _qaTok.length <= 3 && _qaTok.every((t) => _yesStrong.indexOf(t) !== -1 || _yesWeak.indexOf(t) !== -1 || _noSet.indexOf(t) !== -1);\nconst _hasYesTok = _hasStrongYesTok || (_isPureAck && !_hasNoTok && _qaTok.some((t) => _yesWeak.indexOf(t) !== -1));\n// Required core before the QA step: returning visitors need only destination + phone.\nconst _coreReady = hasPhone && hasDestination && (visitorStatus === 'returning' ? true : (hasTravelDate && hasPax));\n// awaitingQA is set by Parse the moment it asks the Yes/No question, so the reply is\n// recognised as a button even if the sheet read hasn't caught up with the phone yet.\nconst _awaitQA = !!(_sd.awaitingQA && _sd.awaitingQA[uid] && (_now - _sd.awaitingQA[uid] < 72 * 3600000));\nconst _qaPending = (_coreReady || _awaitQA) && !hasQuickAssist;\nconst isButtonClick = _qaPending && (_hasNoTok || _hasYesTok);\nconst buttonValue = isButtonClick ? (_hasNoTok ? 'no' : 'yes') : '';\n\n// -- POST-DONE SILENT-ACK GATE (ported from the WhatsApp bot) -- once everything is\n// collected and quick assistance is answered, bare acknowledgments get no reply at\n// all (and skip the AI Agent call entirely, saving tokens); real follow-up\n// questions still reach the AI normally.\nconst postDone = _coreReady && hasQuickAssist && !isButtonClick;\nconst _ackWord = userMsg.toLowerCase().replace(/[^a-z]/g, '');\nconst POST_ACKS = ['ok', 'okay', 'okk', 'okie', 'okey', 'k', 'kk', 'hm', 'hmm', 'thanks', 'thankyou', 'thanku', 'thx', 'tq', 'great', 'nice', 'good', 'super', 'fine', 'cool', 'done', 'sure', 'welcome', 'yes', 'no'];\nif (postDone && (POST_ACKS.indexOf(_ackWord) !== -1 || _ackWord === '')) { return []; }\n\nconst systemPrompt = `🔴 LANGUAGE RULE: Mirror the user's language and script EXACTLY (English→English, Tamil script→Tamil, Tanglish→Tanglish); match their emoji level. In Tamil/Tanglish ALWAYS use the respectful register — \"neenga\" and polite \"-unga\" verb forms (pannunga, sollunga, varreenga); stay warm but respectful, never rough or over-familiar (\"da\"/\"di\") unless the customer clearly does so first.\n\nYou are a friendly travel consultant for Outbound Travelers, a premium travel brand for South Indian travelers. You are chatting with someone who just commented on our Instagram or Facebook post and is interested in a trip. Your ONLY job is to warmly collect a few details and hand them to a human travel expert. You are not a general assistant.\n\n- Your name is Rahul. When you greet for the first time, introduce yourself by name — e.g. \"Hey, this is Rahul from Outbound Travelers! 👋😊\". NEVER open with a generic \"Welcome to Outbound Travelers\" or a bare \"Hey there!\".\n- Talk like a real, warm team member. NEVER reveal you are an AI or a bot. Never say \"a real person\"/\"a real human\" — just say \"our travel expert\" or \"our team\". Be brief, human, friendly. Light emoji is good. Never sound like a form.\n\nVISITOR CONTEXT\nVisitor status: ${visitorStatus}\nSaved profile (banked from past visits): ${savedProfileJson}\nNOTES SO FAR: ${notesBlock}\nKNOWN DETAILS so far (already collected — NEVER ask for any of these again): ${knownJson}\n\nTHE 3 DETAILS TO COLLECT: destination, members (how many people), travel_month. (Their WhatsApp number is collected by a separate step AFTER these — do NOT ask for the number yourself; if KNOWN DETAILS already has whatsapp_number, it is on file.)\n\nHOW TO OPEN — BASED ON VISITOR STATUS\n- new: greet warmly, introduce yourself as Rahul, and ask the first missing detail (start at destination).\n- continuing: do NOT re-greet; just ask the next single missing detail.\n- returning: someone we've spoken to before, back via a new post. Do NOT run the full question set. (1) greet warmly as a returning friend (\"welcome back!\"); (2) ask which destination they want THIS time (always fresh — never assume it's the same); (3) members and month are NOT required on a return visit. Once you have the new destination, warmly acknowledge and stop (the expert hand-off happens automatically).\n\nFULL FLOW (new/continuing), ONE question per message, in order:\n1. Destination — e.g. \"Hey, this is Rahul from Outbound Travelers! 👋😊 So happy you're planning a trip ✈️ May I know which destination you're planning to visit? 🌍\" We specialize in Thailand, Bali, Malaysia, Singapore + select domestic, but capture ANY place warmly.\n2. Members — \"how many people are travelling? 👥\"\n3. Travel month — \"which month are you planning for? 🗓️\" If unsure, treat as \"flexible\" and move on, don't pressure.\n\nFORMATTING: when your reply has both a short reaction/acknowledgment AND a question, put a line break between them (two short lines, like a real person texting) instead of running them together in one dense line — e.g. \"Malaysia sounds amazing! 🌴\\n\\nHow many people are travelling with you? 👥\" rather than one long sentence. Keep the words natural and warm either way.\n\nCONVERSATION RULES: keep EVERY reply short, crisp and human — like texting a friend (1-2 short sentences max, no long paragraphs, no salesy tone). One question per message. Briefly acknowledge their answer before the next question. If they give several answers at once, capture ALL and jump to the next empty detail. Never list all questions like a form. Never re-ask something already in KNOWN DETAILS.\n\nOFF-TOPIC / SIDE QUESTIONS: if they ask something unrelated (honeymoon packages, \"is Bali safe\", visa, a random question), answer/acknowledge in ONE short warm line (never invent prices/itineraries/dates — defer specifics to the WhatsApp expert), then gently bring them back and re-ask the pending next detail. Never restart the flow. Example — was just asked members and they say \"btw do you do honeymoon trips?\" → \"Yes, honeymoons are one of our specialties 😊 our expert will plan a perfect one for you. Coming back to your trip — how many of you will be travelling? 👥\".\n\nGUARDRAILS: if asked for our phone/contact, share warmly — +91 9597959728 (call or WhatsApp) — this is the ONE exact detail you may give, then continue. Never invent or promise prices, discounts, itineraries, hotel names, availability, visa details, or fixed dates — say \"our travel expert will share all those exact details on WhatsApp\" and continue. Never commit beyond \"an expert will contact you\". SERIOUS MOMENTS: if the person is upset, has a complaint, is an existing customer with a problem, or shares something distressing → drop the sales flow, respond with genuine care, don't push, set flag \"serious\" or \"complaint\". Spam/abusive → stay polite, collect nothing, flag \"spam\".\n\nOUTPUT — respond with ONLY a valid JSON object, no markdown, no backticks, no text before or after — EVERY turn with NO exceptions (even when deflecting/off-topic/chatting, the whole response is this JSON with your message inside \"reply\"). Schema:\n{\"reply\":\"<message to send the user, in their language>\",\"data\":{\"destination\":<string or null>,\"members\":<string or null>,\"travel_month\":<string or null>},\"stage\":\"<greeting|collecting|complete>\",\"handoff_ready\":<true|false>,\"flag\":<null|\"serious\"|\"complaint\"|\"spam\">}\nSet stage \"complete\" and handoff_ready true when destination + members + travel_month are all filled (for a returning visitor: as soon as destination is filled), or when flag is serious/complaint. Always return the full data object with all 3 keys.`;\n\nreturn [{\n  json: {\n    ig_user_id:                uid,\n    ig_username:               igUsername,\n    ig_fullname:               igFullName,\n    user_message:              userMsg,\n    known_fields:              known,\n    known_fields_json:         knownJson,\n    visitor_status:            visitorStatus,\n    saved_profile:             savedProfile,\n    banked_whatsapp:           bankedWhatsapp,\n    prior_chat:                visitorStatus === 'continuing',\n    existing_first_contact_ts: existingFirstContact,\n    conv_first_contact:        convFirstContact,\n    session_key:               sessionKey,\n    existing_notes:            existingNotes,\n    system_prompt:             systemPrompt,\n    msg_id:                    _msgId,\n    channel:                   channel,\n    channel_label:             channelLabel,\n    is_button_click:           isButtonClick,\n    button_value:              buttonValue,\n  },\n}];\n"
      },
      "id": "normalize",
      "name": "Normalize input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Parse + validate\"  (CONVERSATIONAL REWRITE 2026-07-08)\n// The AI now writes the warm reply + extracts destination/members/travel_month.\n// This node is the DETERMINISTIC SAFETY NET:\n//   • maps the AI's new schema -> internal fields (members->pax, month->date)\n//   • field backstop (regex-catch month/pax/PHONE the AI missed) + field cache\n//   • code-driven number step + Yes/No quick-assistance step (reliable, owner-kept)\n//   • returning-visitor completion (destination + on-file number)\n//   • serious/complaint/spam flag handling; same-reply suppression\n//   • banks the profile (WhatsApp + past destinations) on qualification\n// Falls back to a scripted question whenever the AI reply is empty/failed.\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\nconst up = $json || {};\nlet raw = '';\nif (typeof up.output === 'string') raw = up.output;\nelse if (up.output && typeof up.output === 'object') raw = JSON.stringify(up.output);\nelse if (up.message && typeof up.message.content === 'string') raw = up.message.content;\nelse if (up.choices && up.choices[0] && up.choices[0].message) raw = up.choices[0].message.content;\nelse if (typeof up.text === 'string') raw = up.text;\nelse if (typeof up.content === 'string') raw = up.content;\n\nlet parsed = null;\ntry {\n  let c = String(raw).replace(/```json/gi, '').replace(/```/g, '').trim();\n  // The AI occasionally embeds a literal line break inside a JSON string value\n  // (instead of the escaped \\n) when its reply spans two lines -- that alone makes\n  // the whole JSON block unparseable, silently discarding the entire turn's\n  // extracted data (destination/members/month) and forcing a scripted re-ask that\n  // looks exactly like the bot ignoring what was just said. Repair any literal\n  // newline/carriage-return that falls INSIDE a quoted string before parsing.\n  c = c.replace(/\"(?:[^\"\\\\]|\\\\.)*\"/g, (m) => m.replace(/\\r?\\n/g, '\\\\n'));\n  if (c) parsed = JSON.parse(c);\n} catch (e) { parsed = null; }\nif (!parsed || typeof parsed !== 'object') parsed = { reply: '', data: {}, stage: 'collecting', handoff_ready: false, flag: null };\n\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\nconst visitor = norm.visitor_status || 'new';\nconst isReturning = visitor === 'returning';\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\nfunction cleanPhone(v) {\n  if (!v) return '';\n  let d = String(v).replace(/\\D/g, '');\n  let in10 = d;\n  if (in10.length === 12 && in10.startsWith('91')) in10 = in10.slice(2);\n  else if (in10.length === 11 && in10.startsWith('0')) in10 = in10.slice(1);\n  if (in10.length === 10 && /^[6-9]/.test(in10)) return '+91 ' + in10.slice(0, 5) + ' ' + in10.slice(5);\n  const hadPlus = String(v).trim().charAt(0) === '+';\n  if (d.startsWith('00')) d = d.slice(2);\n  if (hadPlus || (d.length >= 11 && d.length <= 15)) return '+' + d;\n  return '';\n}\n\n// -- map AI schema -> internal (fall back to known) --\nconst dd = parsed.data || {};\nconst _rawDest = strip(dd.destination) || strip(knownF.destination);\n// normalized_destination is only trustworthy from cache if the underlying destination\n// hasn't changed since it was cached; otherwise it's stale from a PRIOR destination and\n// must not be kept (this was silently breaking new-enquiry detection below).\nconst _destUnchanged = strip(knownF.destination).toLowerCase() === _rawDest.toLowerCase();\nconst merged = {\n  destination: _rawDest,\n  normalized_destination: _destUnchanged ? strip(knownF.normalized_destination) : '',\n  travel_date: strip(dd.travel_month) || strip(knownF.travel_date),\n  pax: strip(dd.members) || strip(knownF.pax),\n  whatsapp_number: strip(knownF.whatsapp_number), // number comes from the message via backstop, not the AI\n};\nmerged.whatsapp_number = cleanPhone(merged.whatsapp_number);\nif (!merged.normalized_destination && merged.destination) merged.normalized_destination = merged.destination;\n\n// -- NEW-ENQUIRY DETECTION (ported from the WhatsApp bot) -- a lead who already\n// answered quick assistance and now names a DIFFERENT destination is starting a\n// fresh enquiry (e.g. commented on another destination's post). Keep their phone;\n// restart month/pax for the new trip.\nconst _oldDest = (strip(knownF.normalized_destination) || strip(knownF.destination)).toLowerCase();\nconst _newDestL = String(merged.normalized_destination || merged.destination || '').toLowerCase();\nconst newEnquiry = !isReturning && !!_oldDest && !!_newDestL && _newDestL !== _oldDest && !!strip(knownF.quick_assistance);\nif (newEnquiry) {\n  const _lfDate = strip(dd.travel_month);\n  merged.travel_date = (_lfDate && _lfDate !== strip(knownF.travel_date)) ? _lfDate : '';\n  const _lfPax = strip(dd.members);\n  merged.pax = (_lfPax && _lfPax !== strip(knownF.pax)) ? _lfPax : '';\n  const _sdNE = $getWorkflowStaticData('global');\n  if (_sdNE.qaDone) delete _sdNE.qaDone[String(norm.ig_user_id)];\n  if (_sdNE.awaitingQA) delete _sdNE.awaitingQA[String(norm.ig_user_id)];\n  _sdNE.neSalt = _sdNE.neSalt || {};\n  _sdNE.neSalt[String(norm.ig_user_id)] = Date.now();\n}\n\n// -- FIELD BACKSTOP (regex-catch what the AI missed) --\nconst _um = String(norm.user_message || '');\nconst _umL = _um.toLowerCase();\nif (!merged.travel_date) {\n  const _mon = _umL.match(/\\b(jan(uary)?|feb(ruary)?|mar(ch)?|apr(il)?|may|jun(e)?|jul(y)?|aug(ust)?|sep(tember|t)?|oct(ober)?|nov(ember)?|dec(ember)?)\\b/);\n  if (_mon) merged.travel_date = _mon[0].charAt(0).toUpperCase() + _mon[0].slice(1);\n  else {\n    const _rel = _um.match(/next month|this month|next week|coming month|month end|year end|flexible|any ?time/i);\n    if (_rel) merged.travel_date = _rel[0];\n    else if (/\\b(idk|i ?dont ?know|i ?don'?t ?know|not sure|dunno|no idea|unsure|whenever)\\b/i.test(_umL)) merged.travel_date = 'flexible';\n  }\n}\nif (!merged.pax) {\n  const _pn = _um.match(/(\\d{1,3})\\s*(?:people|persons?|pax|adults?|members?|of us|travell?ers?|heads?|nos)\\b/i) || _umL.match(/\\bfor\\s+(\\d{1,3})\\b/) || _umL.match(/\\bwe(?:'?re| are)\\s+(\\d{1,3})\\b/);\n  if (_pn) merged.pax = _pn[1];\n  else if (/\\bhoneymoon\\b|\\bcouple\\b|\\bme and my (?:wife|husband|partner|hubby)\\b|\\bwe two\\b|\\bboth of us\\b|\\bmy spouse\\b/.test(_umL)) merged.pax = '2';\n  else if (/\\bsolo\\b|\\bjust me\\b|\\bmyself\\b|\\balone\\b|\\bonly me\\b/.test(_umL)) merged.pax = '1';\n  else { const _fam = _umL.match(/family of (\\d{1,2})/); if (_fam) merged.pax = _fam[1]; }\n}\nif (!merged.whatsapp_number) {\n  const _digits = _um.replace(/[^0-9]/g, ' ');\n  const _ph = _digits.match(/\\b([6-9]\\d{9})\\b/) || _digits.match(/\\b91\\s*([6-9]\\d{9})\\b/);\n  if (_ph && !/^(\\d)\\1{9}$/.test(_ph[1])) merged.whatsapp_number = '+91 ' + _ph[1].slice(0, 5) + ' ' + _ph[1].slice(5);\n}\n\n// -- FIELD MEMORY CACHE (bridge sheet read lag; only within a continuing chat) --\nconst _sdF = $getWorkflowStaticData('global');\n_sdF.fieldCache = _sdF.fieldCache || {};\nconst _fcKey = String(norm.ig_user_id);\nconst _nowF = Date.now();\nfor (const _k in _sdF.fieldCache) { if (_nowF - ((_sdF.fieldCache[_k] || {})._ts || 0) > 48 * 3600000) delete _sdF.fieldCache[_k]; }\nconst _fc = _sdF.fieldCache[_fcKey] || {};\nconst _CF = ['destination', 'normalized_destination', 'travel_date', 'pax', 'whatsapp_number'];\nif (visitor === 'continuing' && !newEnquiry) { for (const f of _CF) { if ((!merged[f] || merged[f] === '') && _fc[f]) merged[f] = _fc[f]; } }\nconst _fcNew = { _ts: _nowF };\nfor (const f of _CF) { if (merged[f] && merged[f] !== '') _fcNew[f] = merged[f]; }\n_sdF.fieldCache[_fcKey] = _fcNew;\n\n// -- completeness --\nconst hasDest = !!(merged.destination || merged.normalized_destination);\nconst hasDate = !!merged.travel_date;\nconst hasPax = !!merged.pax;\nconst hasPhone = !!merged.whatsapp_number;\nconst qaAnswered = !!strip(knownF.quick_assistance) && !newEnquiry;\nconst detailsBeforePhone = isReturning ? hasDest : (hasDest && hasDate && hasPax);\nconst coreReady = detailsBeforePhone && hasPhone;\n\nconst flag = (parsed.flag && ['serious', 'complaint', 'spam'].indexOf(parsed.flag) !== -1) ? parsed.flag : null;\nconst aiReply = strip(parsed.reply);\n\nfunction scriptedNext() {\n  if (!hasDest) return 'Hey, this is Rahul from Outbound Travelers! 👋😊\\n\\nMay I know which destination you are looking for? 🌍';\n  if (!isReturning && !hasDate) return 'Great choice! Which month are you planning to travel? 🗓️';\n  if (!isReturning && !hasPax) return 'And how many people are travelling? 👥';\n  if (!hasPhone) return 'Perfect! 🎉\\n\\nJust share your WhatsApp number 📲 and our travel expert will reach out to plan everything with you 😊';\n  if (!qaAnswered) return 'Thanks for your co-operation.\\n\\nDo you need quick assistance? Please reply Yes or No.';\n  return 'Thank you! Our travel consultant will get back to you shortly. 😊';\n}\n\n// -- reply decision: code owns the transactional steps (number ask + Yes/No), AI owns the warm collection --\nlet replyText, askQuickAssist = false;\nif (flag === 'spam') {\n  replyText = '';\n} else if (flag === 'serious' || flag === 'complaint') {\n  replyText = aiReply || 'I completely understand — let me have our travel expert reach out and help you personally. 🙏';\n} else if (detailsBeforePhone && !hasPhone) {\n  const _sdP = $getWorkflowStaticData('global');\n  _sdP.phoneAsk = _sdP.phoneAsk || {};\n  const _nowP = Date.now();\n  for (const _k in _sdP.phoneAsk) { if (_nowP - (_sdP.phoneAsk[_k].ts || 0) > 72 * 3600000) delete _sdP.phoneAsk[_k]; }\n  const _pKey = String(norm.ig_user_id);\n  const _pc = (_sdP.phoneAsk[_pKey] && _sdP.phoneAsk[_pKey].c) || 0;\n  // Recognize an explicit refusal (\"I don't have a WhatsApp number\") instead of\n  // telling them their non-answer \"doesn't look like a valid number\" -- that read as\n  // broken/tone-deaf to a real customer and was a root cause of the \"bot ignores me\" complaint.\n  const _phoneRefusal = /\\b(don'?t|dont|do ?not|doesn'?t|no)\\b.{0,25}\\b(whatsapp|number|phone)\\b/i.test(_um);\n  if (_pc >= 3) {\n    // Stop nagging with the same canned line after repeated failed attempts -- let the\n    // AI's own natural reply through (it still won't ask for the number itself, per prompt).\n    replyText = aiReply || 'No worries! Our travel expert will reach out to you here on Instagram directly. 😊';\n  } else {\n    _sdP.phoneAsk[_pKey] = { c: _pc + 1, ts: _nowP };\n    replyText = _phoneRefusal\n      ? \"No worries if you don't have WhatsApp! 😊\\n\\nCould you share any other number, or should our expert reach you here on Instagram instead?\"\n      : (_pc >= 1\n        ? \"Hmm, that doesn't look like a valid number 😅\\n\\nCould you share your 10-digit WhatsApp number?\"\n        : 'Perfect! 🎉\\n\\nJust share your WhatsApp number 📲 and our travel expert will reach out to plan everything with you 😊');\n  }\n} else if (coreReady && !qaAnswered) {\n  replyText = 'Thanks for your co-operation.\\n\\nDo you need quick assistance? Please reply Yes or No.';\n  askQuickAssist = true;\n} else {\n  // The AI can self-report stage:\"complete\"/handoff_ready:true and write a premature\n  // closing line (\"our expert will reach out!\") even when a required field is still\n  // actually missing per our own deterministic tracking (e.g. it treats an \"idk\"/\"not\n  // sure\" answer as satisfying the month without literally putting \"flexible\" in its\n  // own data.travel_month). This is a real production bug: it skipped the mandatory\n  // phone-number step entirely. Cross-check the AI's own completion claim against\n  // what we actually know is filled, and never trust it over that.\n  const _aiClaimsComplete = (parsed.stage === 'complete') || (parsed.handoff_ready === true);\n  replyText = (_aiClaimsComplete && !detailsBeforePhone) ? scriptedNext() : (aiReply || scriptedNext());\n}\n\n// -- REPLY RECONCILIATION (ported from the WhatsApp bot) -- if the AI's reply asks\n// for a field we already have (dedup/timing edge cases), replace it with the\n// correct next scripted step instead of re-asking something already answered.\nconst _asksDest = /which (?:destination|place)|where would you|where do you|destination.*looking|looking for.*destination/i.test(replyText);\nconst _asksDate = /which month|what month|when (?:are|do) you|travel date|planning to travel/i.test(replyText);\nconst _asksPax = /how many (?:people|persons|travell?ers|of you|guests)|number of (?:people|travell?ers|pax|guests)|how many will/i.test(replyText);\nconst _reAsk = (_asksDest && hasDest) || (_asksDate && hasDate && !isReturning) || (_asksPax && hasPax && !isReturning);\nif (_reAsk) replyText = scriptedNext();\n\n// -- QA re-ask cap (max twice, then close) --\nlet qaClosed = false;\nif (askQuickAssist) {\n  const _sdC = $getWorkflowStaticData('global');\n  _sdC.qaAsk = _sdC.qaAsk || {};\n  for (const _k in _sdC.qaAsk) { if (_nowF - (_sdC.qaAsk[_k].ts || 0) > 72 * 3600000) delete _sdC.qaAsk[_k]; }\n  const _cKey = String(norm.ig_user_id) + '|' + String(norm.conv_first_contact || '');\n  const _c = (_sdC.qaAsk[_cKey] && _sdC.qaAsk[_cKey].c) || 0;\n  if (_c >= 2) { qaClosed = true; askQuickAssist = false; replyText = 'No problem! Our travel consultant will reach out to you soon. 😊'; }\n  else {\n    if (_c >= 1) replyText = 'Just checking in!\\n\\nDo you need quick assistance? Please reply Yes or No.';\n    _sdC.qaAsk[_cKey] = { c: _c + 1, ts: _nowF };\n  }\n}\n\n// -- track that we asked the Yes/No question, so the next reply is recognised as a\n//    button answer even if the sheet read lags behind the just-saved phone number --\n_sdF.awaitingQA = _sdF.awaitingQA || {};\nfor (const _k in _sdF.awaitingQA) { if (_nowF - _sdF.awaitingQA[_k] > 72 * 3600000) delete _sdF.awaitingQA[_k]; }\nif (askQuickAssist) _sdF.awaitingQA[_fcKey] = _nowF;\nelse if (strip(knownF.quick_assistance) || qaClosed) delete _sdF.awaitingQA[_fcKey];\n\n// -- same-reply suppression: only blocks a TRUE duplicate delivery of the SAME\n// incoming message (same msg_id reprocessed) -- never a different message that\n// happens to produce identical canned text (e.g. repeated phone-ask retries),\n// which was silently swallowing real customer replies. --\n_sdF.lastReply = _sdF.lastReply || {};\nfor (const _k in _sdF.lastReply) { if (_nowF - (_sdF.lastReply[_k].ts || 0) > 3600000) delete _sdF.lastReply[_k]; }\nconst _lr = _sdF.lastReply[_fcKey];\nconst _rkey = String(replyText || '').trim();\nconst _curMsgId = String(norm.msg_id || '');\nif (replyText && _lr && _lr.msgId === _curMsgId && (_nowF - _lr.ts) < 10 * 60000) replyText = '';\nelse if (replyText) _sdF.lastReply[_fcKey] = { text: _rkey, ts: _nowF, msgId: _curMsgId };\n\n// -- status / notes --\nconst status = coreReady ? 'qualified' : ((hasDest || hasDate || hasPax || hasPhone) ? 'in_progress' : 'new');\nconst notes = ('Dest: ' + (merged.normalized_destination || merged.destination || '-') + ', Month: ' + (merged.travel_date || '-') + ', Pax: ' + (merged.pax || '-') + (flag ? ' [' + flag + ']' : '')).slice(0, 150);\n\n// -- CRM push once at qualification (Button handler no longer pushes) --\nconst CRM_FIELDS = isReturning ? ['destination', 'whatsapp_number'] : ['destination', 'travel_date', 'pax', 'whatsapp_number'];\nconst crmReady = CRM_FIELDS.every((f) => merged[f] && merged[f] !== '');\nconst crmWasReady = CRM_FIELDS.every((f) => strip(knownF[f]) !== '');\nconst crmPush = crmReady && (!crmWasReady || newEnquiry);\n\n// -- bank the profile (survives the 48h reset) --\nif (hasPhone && hasDest) {\n  _sdF.profiles = _sdF.profiles || {};\n  const _pv = _sdF.profiles[_fcKey] || { whatsapp: '', past: [] };\n  _pv.whatsapp = merged.whatsapp_number || _pv.whatsapp;\n  const _dn = merged.normalized_destination || merged.destination;\n  _pv.past = _pv.past || [];\n  if (_dn && _pv.past.indexOf(_dn) === -1) _pv.past.push(_dn);\n  if (_pv.past.length > 8) _pv.past = _pv.past.slice(-8);\n  _pv.ts = _nowF;\n  _sdF.profiles[_fcKey] = _pv;\n}\n\n// -- timestamps --\nconst nowIST = new Date(_nowF + 5.5 * 3600000).toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.conv_first_contact && String(norm.conv_first_contact).trim()) || (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim()) || nowIST;\n\nreturn [{\n  json: {\n    ig_user_id:           norm.ig_user_id,\n    ig_username:          norm.ig_username,\n    full_name:            strip(norm.ig_fullname),\n    reply:                replyText,\n    intent:               'travel_lead',\n    is_lead:              hasPhone,\n    destination:          merged.destination,\n    normalized_destination: merged.normalized_destination,\n    travel_date:          merged.travel_date,\n    pax:                  merged.pax,\n    whatsapp_number:      merged.whatsapp_number,\n    quick_assistance:     qaClosed ? 'no_response' : (newEnquiry ? '' : strip(knownF.quick_assistance)),\n    ask_quick_assistance: askQuickAssist,\n    notes:                notes,\n    status:               status,\n    crm_push:             crmPush,\n    flag:                 flag,\n    visitor_status:       visitor,\n    first_contact_ts:     firstContact,\n    last_update_ts:       nowIST,\n  },\n}];"
      },
      "id": "parse",
      "name": "Parse + validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: \"PENDING\", status: \"received\" }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "1286047384",
          "cachedResultName": "instagram_in"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $('Merge reply').item.json.ig_user_id }}",
            "ig_username": "={{ $('Merge reply').item.json.ig_username }}",
            "name": "={{ $('Merge reply').item.json.full_name }}",
            "destination": "={{ $('Merge reply').item.json.destination }}",
            "normalized_destination": "={{ $('Merge reply').item.json.normalized_destination }}",
            "travel_date": "={{ $('Merge reply').item.json.travel_date }}",
            "pax": "={{ $('Merge reply').item.json.pax }}",
            "whatsapp_number": "={{ \"'\" + $('Merge reply').item.json.whatsapp_number }}",
            "status": "={{ $('Merge reply').item.json.status }}",
            "quick_assistance": "={{ $('Merge reply').item.json.quick_assistance }}",
            "first_contact_ts": "={{ $('Merge reply').item.json.first_contact_ts }}",
            "last_update_ts": "={{ $('Merge reply').item.json.last_update_ts }}",
            "notes - AI": "={{ $('Merge reply').item.json.notes }}",
            "channel": "instagram"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ig_username",
              "displayName": "ig_username",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "sheets",
      "name": "Save lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        220
      ],
      "credentials": {
        "googleApi": {
          "id": "SjmGyVegUeZAEzO7",
          "name": "Google Sheets (Service Account)"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalize input').item.json.user_message }}",
        "options": {
          "systemMessage": "={{ $('Normalize input').item.json.system_prompt }}"
        }
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 300,
          "temperature": 0.3
        }
      },
      "id": "chatmodel",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "6u2h5oY9xOCzQksf",
          "name": "OpenAI - .in Page (OB-1)"
        }
      }
    },
    {
      "id": "lookup",
      "name": "Lookup existing lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        304
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "1286047384",
          "cachedResultName": "instagram_in"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ig_user_id",
              "lookupValue": "={{ $json.body.ig_user_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        },
        "range": "A:P",
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "SjmGyVegUeZAEzO7",
          "name": "Google Sheets (Service Account)"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "5e7f4bfa-4d7f-458c-8013-450d732f00b3",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        512
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize input').item.json.session_key }}",
        "contextWindowLength": 4
      }
    },
    {
      "id": "crmgate",
      "name": "Newly qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cg1",
              "leftValue": "={{ $('Merge reply').first().json.crm_push === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "crmpush",
      "name": "Push to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        140
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1159219.hstgr.cloud/webhook/crm-lead-sync",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Merge reply').item.json.full_name || $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "handle",
              "value": "={{ $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "contact_number",
              "value": "={{ $('Merge reply').item.json.whatsapp_number }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Merge reply').item.json.whatsapp_number }}"
            },
            {
              "name": "destination",
              "value": "={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"
            },
            {
              "name": "normalized_destination",
              "value": "={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"
            },
            {
              "name": "travel_date",
              "value": "={{ $('Merge reply').item.json.travel_date }}"
            },
            {
              "name": "travelers",
              "value": "={{ $('Merge reply').item.json.pax }}"
            },
            {
              "name": "quick_assistance",
              "value": "={{ $('Merge reply').item.json.quick_assistance }}"
            },
            {
              "name": "ig_username",
              "value": "={{ $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "ig_user_id",
              "value": "={{ $('Merge reply').item.json.ig_user_id }}"
            },
            {
              "name": "status",
              "value": "={{ $('Merge reply').item.json.status }}"
            },
            {
              "name": "notes",
              "value": "={{ $('Merge reply').item.json.notes }}"
            },
            {
              "name": "source",
              "value": "instagram_in"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "3dd6b9fe-6399-441d-a59e-dca706016301",
      "name": "Claim lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        600,
        460
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "1286047384",
          "cachedResultName": "instagram_in"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $('Normalize input').item.json.ig_user_id }}",
            "assigned_to": "={{ $('Normalize input').item.json.msg_id }}"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ig_username",
              "displayName": "ig_username",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "SjmGyVegUeZAEzO7",
          "name": "Google Sheets (Service Account)"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "299113ef-44f7-46f3-8bc6-877e9dd72f7d",
      "name": "Read lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1180,
        460
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "1286047384",
          "cachedResultName": "instagram_in"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ig_user_id",
              "lookupValue": "={{ $('Normalize input').item.json.ig_user_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        },
        "range": "A:P",
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "SjmGyVegUeZAEzO7",
          "name": "Google Sheets (Service Account)"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "9fda5b2e-98e0-4b7e-81b9-66dabf03b64b",
      "name": "Winner?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "win1",
              "leftValue": "={{ ((($json.assigned_to || '') === '') || (String($json.assigned_to).trim() === String($json.msg_id).trim())) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9f65fdbf-8b84-4bb4-97a4-ee75332b11c1",
      "name": "Send reply (ManyChat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1540,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((function() {\n  const p = $('Merge reply').first().json;\n  const subscriber = $('Normalize input').first().json.ig_user_id;\n  const contentType = $('Normalize input').first().json.channel || 'instagram';\n  const content = { type: contentType, messages: [{ type: 'text', text: p.reply }] };\n  return { subscriber_id: subscriber, data: { version: 'v2', content } };\n})()) }}",
        "options": {
          "timeout": 15000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "WRHI5I3GZm4zJCrl",
          "name": "ManyChat API"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "btn1",
              "leftValue": "={{ $('Normalize input').first().json.is_button_click }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3443b06f-1ec5-45b3-ad3f-38e04bb432ac",
      "name": "Button click?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Button handler\"  (Code node, \"Run Once for All Items\")\n// Handles the Yes/No quick-assistance button click deterministically (no AI).\n// Runs when Normalize input detects is_button_click = true.\n//\n// Working hours: Monday–Saturday, 9:00 AM – 5:30 PM IST. Sunday is a full holiday.\n// Anything outside that (before 9:00, from 5:30 PM onward, or any time Sunday) = \"after-hours\".\n//\n//   Yes + within hours  → \"Our travel consultant will reach you shortly.\"\n//   Yes + after-hours   → \"...will reach you during our working hours (9:00 AM – 5:30 PM).\"\n//   No                  → polite thank-you, end of chat.\n//   Yes (either case)   → tag the lead quick_assistance = \"yes\" + push to CRM.\n//\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\nconst buttonValue = norm.button_value || '';\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\n// Current time in IST (UTC+5:30).\nconst now = new Date(Date.now() + 5.5 * 60 * 60 * 1000);\nconst day = now.getUTCDay();                       // 0 = Sunday, 6 = Saturday\nconst minutes = now.getUTCHours() * 60 + now.getUTCMinutes();\nconst WORK_START = 9 * 60;                          // 9:00 AM\nconst WORK_END = 17 * 60 + 30;                      // 5:30 PM\nconst withinHours = (day !== 0) && (minutes >= WORK_START) && (minutes < WORK_END);  // Sunday (day 0) = full holiday\n\nlet reply = '';\nlet quickAssistance = '';\nlet crmPush = false;\n\nif (buttonValue === 'yes') {\n  quickAssistance = 'yes';\n  crmPush = false; // CRM push now happens at qualification (Parse), not on the Yes click\n  reply = withinHours\n    ? 'Our travel consultant will reach you shortly.'\n    : 'Thank you! Our travel consultant will reach you during our working hours (9:00 AM – 5:30 PM).';\n} else if (buttonValue === 'no') {\n  quickAssistance = 'no';\n  crmPush = false;\n  reply = 'Thank you! Have a great day. Our travel consultant will still connect with you soon.';\n} else {\n  // Fallback (should never happen — Button handler only runs on a Yes/No click).\n  quickAssistance = '';\n  crmPush = false;\n  reply = 'Thank you! Our team will get back to you shortly.';\n}\n\nconst nowIST = now.toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.conv_first_contact && String(norm.conv_first_contact).trim())\n  || (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim())\n  || nowIST;\n\nif (quickAssistance) {\n  const _sdQ = $getWorkflowStaticData('global');\n  _sdQ.qaDone = _sdQ.qaDone || {};\n  _sdQ.qaDone[String(norm.ig_user_id)] = { v: quickAssistance, ts: Date.now() };\n}\n\nreturn [{\n  json: {\n    ig_user_id:          norm.ig_user_id,\n    ig_username:         norm.ig_username,\n    full_name:           strip(norm.ig_fullname),\n    reply:               reply,\n    intent:              'travel_lead',\n    is_lead:             true,\n    destination:         strip(knownF.destination),\n    normalized_destination: strip(knownF.normalized_destination),\n    travel_date:         strip(knownF.travel_date),\n    pax:                 strip(knownF.pax),\n    whatsapp_number:     strip(knownF.whatsapp_number),\n    quick_assistance:    quickAssistance,\n    ask_quick_assistance: false,\n    notes:               strip(norm.existing_notes) || ('Quick assistance: ' + quickAssistance),\n    status:              'qualified',\n    crm_push:            crmPush,\n    first_contact_ts:    firstContact,\n    last_update_ts:      nowIST,\n    assigned_to:         '',\n    msg_id:              norm.msg_id || '',\n  },\n}];\n"
      },
      "id": "738ff3ea-0b8a-48be-bf4d-1af67df2be2b",
      "name": "Button handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "6420b864-5230-4f94-93fc-39a56a08343e",
      "name": "Merge reply",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1450,
        400
      ]
    },
    {
      "id": "combine-lock-data",
      "name": "Combine lock + data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const lock = $input.first().json || {};\nconst data = $('Parse + validate').first().json || {};\nconst norm = $('Normalize input').first().json || {};\nreturn [{ json: { ...data, assigned_to: lock.assigned_to, msg_id: norm.msg_id } }];"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "hp1",
              "leftValue": "={{ true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "hasphone",
      "name": "Has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1510,
        320
      ]
    },
    {
      "id": "26343a0c-73f1-4719-9ff1-ea3289cf4963",
      "name": "QA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-lead-bot-qa",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "e36b47da-e101-4ef1-976b-edebac5f0e56"
    },
    {
      "id": "15aeb060-73b6-4bd0-8a92-41e30ffb1bd4",
      "name": "QA click handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        900
      ],
      "parameters": {
        "jsCode": "// NODE: \"QA click handler\" — Yes/No button tap via ManyChat dynamic_block_callback.\n// Responds instantly with the scripted confirmation; sheet save happens after.\nconst b = $('QA Webhook').first().json.body || {};\nconst val = String(b.value || '').toLowerCase() === 'yes' ? 'yes' : 'no';\nconst igUserId = String(b.ig_user_id || '').trim();\nconst channel = String(b.channel || 'instagram').toLowerCase();\n\n// Working hours: Mon–Sat 9:00 AM – 5:30 PM IST, Sunday closed.\nconst now = new Date(Date.now() + 5.5 * 60 * 60 * 1000);\nconst day = now.getUTCDay();\nconst minutes = now.getUTCHours() * 60 + now.getUTCMinutes();\nconst withinHours = (day !== 0) && (minutes >= 9 * 60) && (minutes < 17 * 60 + 30);\n\nlet reply;\nif (val === 'yes') {\n  reply = withinHours\n    ? 'Our travel consultant will reach you shortly.'\n    : 'Thank you! Our travel consultant will reach you during our working hours (9:00 AM – 5:30 PM).';\n} else {\n  reply = 'Thank you! Have a great day. Our travel consultant will still connect with you soon.';\n}\n\nconst nowIST = now.toISOString().replace('T', ' ').slice(0, 19);\nreturn [{\n  json: {\n    ig_user_id: igUserId,\n    quick_assistance: val,\n    status: 'qualified',\n    last_update_ts: nowIST,\n    channel,\n    dynamic_block: {\n      version: 'v2',\n      content: {\n        type: channel === 'facebook' ? 'facebook' : 'instagram',\n        messages: [{ type: 'text', text: reply }],\n      },\n    },\n  },\n}];\n"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "8b3d150a-2e94-433f-bbee-f714898b1044",
      "name": "QA Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        440,
        900
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.dynamic_block) }}",
        "options": {}
      }
    },
    {
      "id": "0c28457d-d5fa-4bd8-830c-9a60fea203df",
      "name": "QA Save",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        660,
        900
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "1286047384",
          "cachedResultName": "instagram_in"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $json.ig_user_id }}",
            "quick_assistance": "={{ $json.quick_assistance }}",
            "status": "={{ $json.status }}",
            "last_update_ts": "={{ $json.last_update_ts }}"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ig_username",
              "displayName": "ig_username",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "SjmGyVegUeZAEzO7",
          "name": "Google Sheets (Service Account)"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "59ef9445-5b87-43de-bcd9-665b022db300",
      "name": "Should send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ss1",
              "leftValue": "={{ ($json.reply || '').toString().trim() !== '' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a02aacd3-4408-4144-9a39-45f081d6a0f7",
      "name": "Save lead (old sheet mirror)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1800,
        380
      ],
      "parameters": {
        "preBuiltAgentsCalloutGoogleSheets": "",
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1T89p6LhpjwNJ_kqh5WT6DAj3Jt242Gs1JaTNzDCJJio"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads_v2",
          "cachedResultName": "leads_v2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $('Merge reply').item.json.ig_user_id }}",
            "ig_username": "={{ $('Merge reply').item.json.ig_username }}",
            "destination": "={{ $('Merge reply').item.json.destination }}",
            "normalized_destination": "={{ $('Merge reply').item.json.normalized_destination }}",
            "travel_date": "={{ $('Merge reply').item.json.travel_date }}",
            "pax": "={{ $('Merge reply').item.json.pax }}",
            "whatsapp_number": "={{ \"'\" + $('Merge reply').item.json.whatsapp_number }}",
            "status": "={{ $('Merge reply').item.json.status }}",
            "quick_assistance": "={{ $('Merge reply').item.json.quick_assistance }}",
            "first_contact_ts": "={{ $('Merge reply').item.json.first_contact_ts }}",
            "last_update_ts": "={{ $('Merge reply').item.json.last_update_ts }}",
            "notes - AI": "={{ $('Merge reply').item.json.notes }}"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ig_username",
              "displayName": "ig_username",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "SjmGyVegUeZAEzO7",
          "name": "Google Sheets (Service Account)"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Lookup existing lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup existing lead": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Button click?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Button click?": {
      "main": [
        [
          {
            "node": "Button handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Button handler": {
      "main": [
        [
          {
            "node": "Merge reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim lock": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse + validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse + validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse + validate": {
      "main": [
        [
          {
            "node": "Read lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read lock": {
      "main": [
        [
          {
            "node": "Combine lock + data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Winner?": {
      "main": [
        [
          {
            "node": "Merge reply",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Save lead": {
      "main": [
        [
          {
            "node": "Newly qualified?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save lead (old sheet mirror)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newly qualified?": {
      "main": [
        [
          {
            "node": "Push to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine lock + data": {
      "main": [
        [
          {
            "node": "Winner?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has phone?": {
      "main": [
        [
          {
            "node": "Save lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Webhook": {
      "main": [
        [
          {
            "node": "QA click handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA click handler": {
      "main": [
        [
          {
            "node": "QA Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Respond": {
      "main": [
        [
          {
            "node": "QA Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should send?": {
      "main": [
        [
          {
            "node": "Send reply (ManyChat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge reply": {
      "main": [
        [
          {
            "node": "Should send?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Has phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "f8JebCcUmgk137Li"
  },
  "staticData": {
    "global": {}
  },
  "versionId": "ad96f923-b69d-4a49-b11e-3b58cfca5d89",
  "tags": []
}
