accounts/outbound-travelers-whatsapp/chat-and-capture-whatsapp.workflow.json
{
  "name": "OB-3 WHATSAPP · Chat & Capture (Cloud API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-lead-bot",
        "responseMode": "responseNode",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "webhookId": "ig-lead-bot",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Normalize input\"  (Code node, mode: \"Run Once for All Items\")\n// Reads the user's message + IG ids from the Webhook, and any KNOWN field\n// values, then builds the rigid scripted system prompt. Persona is fixed:\n// always \"Rahul\" from Outbound Travellers.\n//\n// COLLECTION ORDER (strict, never deviate):\n//   1. destination          → ask \"which destination?\"\n//   2. travel_date          → ask \"when are you planning to travel?\"\n//   3. pax                  → ask \"how many people?\"\n//   4. whatsapp_number      → ask \"your contact number?\"\n//   5. quick_assistance     → send Yes/No button after phone is captured\n//\n// BUTTON-CLICK SHORTCUT:\n//   If the incoming message is exactly \"Yes\" or \"No\" AND we already have\n//   whatsapp_number filled AND quick_assistance is still empty, this turn is\n//   treated as a button click. We skip the AI Agent and handle it downstream.\n//\n// MEMORY — production design, 3 layers:\n//   1. Simple Memory (memoryBufferWindow) attached to the AI Agent.\n//   2. KNOWN FIELDS — merged from the Google Sheet row + ManyChat webhook body.\n//   3. NOTES — short one-line summary in the \"notes - AI\" column.\n//\n// ⚠️ Webhook payload lives under $json.body — read via $('Webhook').\n// ⚠️ The notes column header is literally \"notes - AI\" (with spaces).\n// ⚠️ Strip ManyChat unresolved merge tags (literal double-braces).\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// NOTE: keep prompts/system_prompt.md in sync with this embedded prompt.\n// ─────────────────────────────────────────────────────────────────────────\n\nconst wh = $('Webhook').first().json.body || {};\nconst waMessage = (wh.entry && wh.entry[0] && wh.entry[0].changes && wh.entry[0].changes[0] && wh.entry[0].changes[0].value && wh.entry[0].changes[0].value.messages && wh.entry[0].changes[0].value.messages[0]) || {};\nconst waContact = (wh.entry && wh.entry[0] && wh.entry[0].changes && wh.entry[0].changes[0].value && wh.entry[0].changes[0].value.contacts && wh.entry[0].changes[0].value.contacts[0]) || {};\nconst s = (v) => (v === undefined || v === null ? '' : String(v).trim());\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst clean = (v) => { const t = s(v); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n// Prefer the sheet value; fall back to the value ManyChat passed in the body.\nconst pick = (a, b) => { const x = clean(a); return x !== '' ? x : clean(b); };\n\n// GUARD: ignore non-message webhooks (Meta delivery/read status callbacks have no messages[]). They would otherwise run the whole pipeline and 400 the Send with an empty recipient.\nif (!(waMessage && waMessage.id)) { return []; }\n\n// -- DEDUP LAYER 1: synchronous same-message guard. --\nconst _sd = $getWorkflowStaticData('global');\n_sd.seenMsg = _sd.seenMsg || {};\nconst _now = Date.now();\nfor (const _k in _sd.seenMsg) { if (_now - _sd.seenMsg[_k] > 3600000) delete _sd.seenMsg[_k]; }\nconst _dupKey = s(waMessage.from) + '|' + s(waMessage.text?.body);\nif (s(waMessage.from) && s(waMessage.text?.body) && _sd.seenMsg[_dupKey] && (_now - _sd.seenMsg[_dupKey] < 4000)) return [];\nif (_dupKey) _sd.seenMsg[_dupKey] = _now;\n// Unique per-execution token for the Layer-2 sheet ownership lock (last-writer-wins).\nconst _msgId = 'L' + _now + '-' + Math.floor(Math.random() * 1000000);\n\nlet row = {};\ntry {\n  const inItems = $input.all();\n  if (inItems && inItems.length && inItems[0] && inItems[0].json) {\n    const j = inItems[0].json;\n    if (j && (clean(j.destination) || clean(j.normalized_destination) || clean(j.travel_date) || clean(j.pax) || clean(j.whatsapp_number) || clean(j.quick_assistance) || clean(j['notes - AI']) || clean(j.first_contact_ts) || clean(j.name))) row = j;\n  }\n} catch (e) { row = {}; }\n\n// AUTO-FILL: Since the user IS on WhatsApp, their phone number is their identity\nconst senderPhone = s(waMessage.from);\nlet autoWhatsapp = '';\nif (senderPhone) {\n  let digits = senderPhone.replace(/\\D/g, '');\n  if (digits.length === 12 && digits.startsWith('91')) {\n    autoWhatsapp = '+91 ' + digits.slice(2, 7) + ' ' + digits.slice(7);\n  } else if (digits.length === 10 && /^[6-9]/.test(digits)) {\n    autoWhatsapp = '+91 ' + digits.slice(0, 5) + ' ' + digits.slice(5);\n  } else {\n    autoWhatsapp = '+' + digits;\n  }\n}\n\nconst known = {\n  destination:           pick(row.destination, \"\"),\n  normalized_destination: pick(row.normalized_destination, \"\"),\n  travel_date:           pick(row.travel_date, \"\"),\n  pax:                   pick(row.pax, \"\"),\n  whatsapp_number:       pick(row.whatsapp_number, \"\") || autoWhatsapp,\n  quick_assistance:      pick(row.quick_assistance, \"\"),\n};\n\n// -- 2-DAY MEMORY RULE -- remember for 48h since the last message; after 48h\n// idle we forget everything and the next message starts from the greeting.\nfunction parseIST(ts) {\n  const m = String(ts).trim().match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})[ T](\\d{1,2}):(\\d{2}):(\\d{2})$/);\n  if (!m) return NaN;\n  const [, y, mo, d, h, mi, sec] = m.map(Number);\n  const pad = (n) => String(n).padStart(2, '0');\n  return new Date(`${y}-${pad(mo)}-${pad(d)}T${pad(h)}:${pad(mi)}:${pad(sec)}+05:30`).getTime();\n}\nconst lastUpdateTs = clean(row.last_update_ts) || clean(row.first_contact_ts);\nlet hoursSince = Infinity;\nif (lastUpdateTs) {\n  const lastMs = parseIST(lastUpdateTs);\n  if (!isNaN(lastMs)) hoursSince = (_now - lastMs) / (1000 * 60 * 60);\n}\n// -- SMART RESET RULE (owner 2026-07-03) --\n// Under 2h idle: ALWAYS continue. After 2h: a CONNECTED reply (answers the\n// pending question, gives a reason for the silence, mentions the trip)\n// CONTINUES with full memory; only a pure fresh greeting (\"hi\", \"hello\",\n// \"good morning\") starts a NEW conversation. Brand-new leads always start fresh.\nconst _rawGreet = s(waMessage.text?.body) || s(waMessage.interactive?.button_reply?.title) || s(waMessage.interactive?.list_reply?.title) || '';\nconst _greetTokens = _rawGreet.toLowerCase().replace(/[^a-z\\s]/g, ' ').trim().split(/\\s+/).filter(Boolean);\nconst GREET_WORDS = ['hi', 'hii', 'hiii', 'hiiii', 'hello', 'helo', 'hellooo', 'hey', 'heyy', 'heyyy', 'hai', 'hlo', 'yo', 'gm', 'gn', 'good', 'morning', 'afternoon', 'evening', 'night', 'namaste', 'vanakkam', 'hola', 'greetings', 'sir', 'madam', 'mam', 'team', 'there', 'bro', 'ji', 'anna', 'dear', 'all'];\nconst isPureGreeting = _greetTokens.length > 0 && _greetTokens.length <= 4 && _greetTokens.every((t) => GREET_WORDS.indexOf(t) !== -1);\nconst resetConversation = (hoursSince === Infinity) || (hoursSince >= 2 && isPureGreeting);\nif (resetConversation) {\n  known.destination = '';\n  known.normalized_destination = '';\n  known.travel_date = '';\n  known.pax = '';\n  known.whatsapp_number = autoWhatsapp;\n  known.quick_assistance = '';\n}\n// Overlay: a Yes/No just handled by Button handler may not be visible in the\n// sheet yet (read lag) — trust the in-workflow stamp so we never re-ask.\nconst _sdQA = $getWorkflowStaticData('global');\n_sdQA.qaDone = _sdQA.qaDone || {};\nfor (const _q in _sdQA.qaDone) { if (_now - (_sdQA.qaDone[_q].ts || 0) > 72 * 3600 * 1000) delete _sdQA.qaDone[_q]; }\nconst _qaHit = _sdQA.qaDone[s(waMessage.from)];\nif (resetConversation) { delete _sdQA.qaDone[s(waMessage.from)]; if (_sdQA.neSalt) { delete _sdQA.neSalt[s(waMessage.from)]; } }\nelse if (_qaHit && !known.quick_assistance) { known.quick_assistance = _qaHit.v; }\n\nconst knownJson = JSON.stringify(known);\n\nconst hasDestination = !!(known.destination || known.normalized_destination);\nconst hasTravelDate = !!known.travel_date;\nconst hasPax = !!known.pax;\nconst hasPhone = !!known.whatsapp_number;\nconst hasQuickAssist = !!known.quick_assistance;\n\nlet existingFirstContact = clean(row.first_contact_ts);\nlet existingNotes = pick(row['notes - AI'], \"\");\nif (resetConversation) { existingFirstContact = ''; existingNotes = ''; }\nconst notesBlock = existingNotes ? existingNotes : '(none yet — fresh conversation)';\n\n// Conversation epoch: first_contact_ts rotates on a 48h reset, so keying the\n// AI memory session on it makes the bot genuinely forget after 2 days.\nconst nowISTstr = new Date(_now + 5.5 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, 19);\nconst convFirstContact = existingFirstContact || nowISTstr;\nconst _epochMs = parseIST(convFirstContact);\nconst _neSalt = (_sdQA.neSalt && _sdQA.neSalt[s(waMessage.from)]) || '';\nconst sessionKey = s(waMessage.from) + '|' + (isNaN(_epochMs) ? convFirstContact : _epochMs) + (_neSalt ? '|ne' + _neSalt : '');\nconst priorChat = !resetConversation && (!!existingFirstContact || hasDestination || hasTravelDate || hasPax || hasQuickAssist || !!existingNotes);\n\n// WhatsApp profile name (user-set push name). Fallback: name already saved in the sheet row — never downgrade a saved name to blank.\nconst igFullName = clean(waContact.profile?.name) || pick(row.name, '');\nconst igUsername = s(waMessage.from);\nconst channel = 'whatsapp';\nconst channelLabel = 'whatsapp';\n\n// Read text messages OR interactive button replies (Meta WhatsApp sends button clicks differently)\nconst waMessageType = s(waMessage.type);\nlet userMsg = '';\nif (waMessageType === 'interactive' && waMessage.interactive?.button_reply) {\n  userMsg = s(waMessage.interactive.button_reply.title);\n} else if (waMessageType === 'interactive' && waMessage.interactive?.list_reply) {\n  userMsg = s(waMessage.interactive.list_reply.title);\n} else {\n  userMsg = s(waMessage.text?.body);\n}\n\n// MEDIA MESSAGES (2026-07-07): voice notes / photos / videos / documents carry\n// no text — previously the AI got an empty message (silence or odd replies).\n// Feed a neutral placeholder + a prompt note so Rahul politely asks the\n// customer to type instead. Wording avoids yes/no tokens (QA detector safety).\nconst MEDIA_TYPES = ['audio', 'image', 'video', 'document', 'sticker', 'location', 'contacts'];\nconst isMediaMsg = MEDIA_TYPES.indexOf(waMessageType) !== -1 && !userMsg;\nif (isMediaMsg) { userMsg = '(customer sent a ' + waMessageType + ' attachment)'; }\n\n// Detect a Yes/No answer at the quick-assistance step (FUZZY — 2026-07-06).\n// Real lead on .in typed \"Yess\" → exact-match list missed it → QA re-ask loop.\n// Now: tokenize, collapse stretched letters (yesss→yes, nooo→no), match per\n// token so \"yes i need help\" works, and arm the detector ONLY when the QA\n// question is actually pending (all lead fields captured) — also fixes the\n// latent WhatsApp bug where phone is auto-filled from msg 1, so a brand-new\n// user opening with \"yes\" could previously be misread as a QA answer.\nconst _qaTok = userMsg.toLowerCase().replace(/[^a-z\\s]/g, ' ').split(/\\s+/).filter(Boolean).map((t) => t.replace(/(.)\\1+/g, '$1'));\nconst _yesSet = ['yes', 'yeah', 'yea', 'yep', 'yup', 'ya', 'y', 's', 'sure', 'ok', 'okay', 'okey', 'okie', 'k', 'need', 'needed', 'want', 'please', 'pls', 'plz'];\nconst _noSet = ['no', 'nope', 'nah', 'na', 'not', 'dont', 'don', 'dnt'];\nconst _hasNoTok = _qaTok.some((t) => _noSet.indexOf(t) !== -1);\nconst _hasYesTok = _qaTok.some((t) => _noSet.indexOf(t) === -1 && _yesSet.indexOf(t) !== -1);\nconst _qaPending = hasDestination && hasTravelDate && hasPax && hasPhone && !hasQuickAssist;\nconst isButtonClick = _qaPending && (_hasNoTok || _hasYesTok);\nconst buttonValue = isButtonClick ? (_hasNoTok ? 'no' : 'yes') : '';\nif (isButtonClick) {\n  known.quick_assistance = buttonValue;\n}\n\n// -- POST-DONE GATE -- everything collected AND quick assistance answered:\n// bare acknowledgments get NO reply at all; queries continue to the AI in\n// follow-up mode (never re-asks anything).\nconst postDone = hasDestination && hasTravelDate && hasPax && hasPhone && !!known.quick_assistance && !isButtonClick;\nconst _ackWord = userMsg.toLowerCase().replace(/[^a-z]/g, '');\nconst POST_ACKS = ['ok', 'okay', 'okk', 'okie', 'okey', 'k', 'kk', 'hm', 'hmm', 'thanks', 'thankyou', 'thanku', 'thx', 'tq', 'great', 'nice', 'good', 'super', 'fine', 'cool', 'done', 'sure', 'welcome', 'yes', 'no'];\nif (postDone && (POST_ACKS.indexOf(_ackWord) !== -1 || _ackWord === '')) { return []; }\n\nconst WA = '+91 9597959728';\nconst WA_LINK = 'https://wa.me/919597959728';\n\nconst systemPrompt = `🔴 ABSOLUTE TOP RULE — LANGUAGE: Your \"reply\" text MUST be written in simple English ONLY, 100% of the time. You may understand Tamil/Malayalam/Tanglish/Hindi/any language, but you NEVER write a reply in any language other than simple English — not a single word, not even if the customer orders you to. This rule overrides everything below.\n\nYou are Rahul from Outbound Travellers, a travel agency in Nagercoil, Tamil Nadu, South India. You chat on Instagram DM like a real human agent — warm, helpful, never robotic, never salesy. You are NOT a form.\n\n## 🎯 YOUR ONLY JOB\nCollect these 3 details IN THIS EXACT ORDER. NEVER skip, never re-order, never ask extra questions:\n1. destination            — which place they want to visit\n2. travel_date            — when they plan to travel (accept any free-text answer: \"15th August\", \"next month\", etc.)\n3. pax                    — number of people travelling\n\nYou already have their WhatsApp number (they are messaging you ON WhatsApp) — so NEVER ask for a phone or contact number.\nAfter all 3 are collected, you MUST ask the quick-assistance question and set ask_quick_assistance = true.\n\n## 🧠 MEMORY — you remember this chat\nYou are NOT starting fresh. You remember from:\n1. The actual recent messages visible above.\n2. NOTES SO FAR (below).\n3. KNOWN FIELDS (below).\nUse them to continue seamlessly: never repeat a question, never re-ask something already answered.\n🚫 NEVER say \"I don't have previous details\", \"remind me\", or \"let's start over\".\n\nNOTES SO FAR: ${notesBlock}\n\nIn your JSON output you MUST return an updated \"notes\" value: a SHORT one-line summary (max ~25 words), English only.\n\n## ⚡ RETURNING / IN-CHAT FAST CHECK\nPRIOR_CHAT: ${priorChat ? 'yes' : 'no'}  — yes means you have ALREADY talked with this person.\n- INTRODUCE YOURSELF only on the genuine FIRST message of a brand-new chat (PRIOR_CHAT = no AND no earlier messages above). Say exactly: \"Hi, this is Rahul from Outbound Travellers. Thank you for contacting us. May I know which destination you are looking for?\"\n- In EVERY other case, do NOT introduce yourself or greet from scratch; just continue from the next missing field.\n\n## 📋 STRICT FIELD RULES\n- Ask ONLY the next missing field in the exact order above.\n- If the user gives multiple fields at once (e.g. \"Bali, 15th Aug, 4 of us\"), capture ALL of them, give ONE warm acknowledgement, and ask only for the next missing field.\n- NEVER ask for name, budget, hotel, flight, itinerary, or anything outside the 4 fields.\n- If the user asks for advice, opinions, recommendations, prices, packages, weather/best season, hotels, itinerary, visa, or any comparison (e.g. \"Is Munnar better in the monsoon?\"): NEVER answer it yourself \\u2014 no opinions, no details. Reply warmly with exactly this idea: \"I completely understand! I can't share those details here \\u2014 one of our travel experts will contact you and help you with this.\" If lead fields are still missing, continue with the next missing question in the SAME message.\n- If the user REFUSES to share something or says they are not interested (\"I don't have WhatsApp\", \"not interested\"): acknowledge warmly ONCE (\"No problem at all!\"), NEVER repeat the same question or message again, tell them our travel expert is here anytime, and end politely.\n- NEVER invent prices, packages, or inclusions. Always defer to the travel consultant.\n\n## 🗺️ DESTINATION HANDLING\n- Accept ANY real destination on Earth.\n- Return a normalized/canonical destination name in the field \"normalized_destination\" (e.g. \"Jammu\" or \"Kashmir\" → \"Jammu and Kashmir\"; \"Goa\" → \"Goa\"; \"Bali\" → \"Bali\").\n- If the user says something vague like \"anywhere international\", ask once which region/country they prefer.\n- If the destination is impossible/non-real (Mars, Hogwarts), gently joke and ask for a real place.\n\n## 📅 TRAVEL DATE HANDLING\n- Ask the travel date as: \"Which month are you planning to travel?\"\n- Accept the user's date answer as free text and store it in \"travel_date\".\n- Do NOT try to reconcile conflicting dates or ask for year/month separately.\n- If they say \"not sure\" or \"flexible\", store \"flexible\" and move on.\n\n## 👥 PAX HANDLING\n- Capture the number of travellers as free text (\"4\", \"me and my wife\", etc.).\n- Store the clean number or short phrase in \"pax\".\n\n## 📱 PHONE HANDLING\n- Do NOT ask for their WhatsApp number. You already have it because they are messaging on WhatsApp.\n- The phone number is automatically captured from the chat.\n\n## 🚀 QUICK ASSISTANCE BUTTON (trigger ONLY when destination, travel_date, and pax are filled)\nWhen destination, travel_date, and pax are all known (whatsapp_number is auto-captured):\n- Set \"ask_quick_assistance\": true.\n- Reply with exactly this text (it will appear above the Yes/No buttons): \"Thanks for your co-operation. Do you need quick assistance?\"\n- Do NOT add any other question or sentence.\n\n${postDone ? `## CONVERSATION COMPLETE - FOLLOW-UP MODE (this rule DOMINATES everything above)\nAll details are collected and quick assistance is already answered (\"${known.quick_assistance}\"). NEVER re-ask any field. NEVER ask, mention, or repeat \"quick assistance\" or the co-operation line again. NEVER restart or greet. If they ask a question: answer in ONE short helpful sentence or say our travel expert will cover it when they call. EXCEPTION: if they name a NEW destination, that is a FRESH enquiry — warmly acknowledge the new destination and ask \"Which month are you planning to travel?\", then collect month and pax again for the new trip. Nothing else.\n\n` : ''}## 📤 OUTPUT — ONLY this JSON. No markdown, no fences, no preamble.\n{\"reply\":\"<message in SIMPLE ENGLISH ONLY>\",\"intent\":\"travel_lead\",\"fields\":{\"destination\":\"\",\"normalized_destination\":\"\",\"travel_date\":\"\",\"pax\":\"\",\"whatsapp_number\":\"\"},\"ask_quick_assistance\":false,\"notes\":\"<one short line, English>\",\"status\":\"new | in_progress | qualified\"}\n\n## ⚡ CURRENT CONTEXT — read this right before you reply\nPRIOR_CHAT: ${priorChat ? 'yes' : 'no'}\nKNOWN FIELDS: ${knownJson}${isMediaMsg ? `\\nNOTE: The customer's latest message is a ${waMessageType} attachment which you CANNOT open. Politely say you could not view it and ask them to type it as a normal text message instead, then continue with the next missing question.` : ''}`;\n\nreturn [{\n  json: {\n    ig_user_id:                s(waMessage.from),\n    wa_phone_number_id:        s(wh.entry[0]?.changes[0]?.value?.metadata?.phone_number_id),\n    ig_username:               igUsername,\n    ig_fullname:               igFullName,\n    user_message:              userMsg,\n    known_fields:              known,\n    known_fields_json:         knownJson,\n    existing_first_contact_ts: existingFirstContact,\n    conv_first_contact:        convFirstContact,\n    session_key:               sessionKey,\n    prior_chat:                priorChat,\n    existing_notes:            existingNotes,\n    system_prompt:             systemPrompt,\n    msg_id:                    _msgId,\n    channel:                   channel,\n    channel_label:             channelLabel,\n    is_button_click:           isButtonClick,\n    button_value:              buttonValue,\n    post_done:                 postDone,\n  },\n}];\n"
      },
      "id": "normalize",
      "name": "Normalize input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Parse + validate\"  (Code node, \"Run Once for All Items\")\n// Parses the AI Agent JSON output for the new Rahul scripted flow.\n// Validates the WhatsApp number, merges fields over known ones, computes\n// status, and keeps the running one-line notes summary.\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\n// Core 4 fields. A lead is \"qualified\" once all four are captured.\nconst QUALIFY = ['destination', 'travel_date', 'pax', 'whatsapp_number'];\nconst FIELDS = ['destination', 'normalized_destination', 'travel_date', 'pax', 'whatsapp_number'];\n\n// 1. Grab the raw LLM text (AI Agent → $json.output; other shapes as fallback).\nconst up = $json || {};\nlet raw = '';\nif (typeof up.output === 'string') raw = up.output;\nelse if (up.output && typeof up.output === 'object') raw = JSON.stringify(up.output);\nelse if (up.message && typeof up.message.content === 'string') raw = up.message.content;\nelse if (up.choices && up.choices[0] && up.choices[0].message) raw = up.choices[0].message.content;\nelse if (typeof up.text === 'string') raw = up.text;\nelse if (typeof up.content === 'string') raw = up.content;\n\n// 2. Strip stray ```json fences, parse safely.\nlet parsed = null;\ntry {\n  const cleaned = String(raw).replace(/```json/gi, '').replace(/```/g, '').trim();\n  if (cleaned) parsed = JSON.parse(cleaned);\n} catch (e) { parsed = null; }\n\n// 3. Safe fallback — malformed JSON / AI failure must not crash the flow.\nif (!parsed || typeof parsed !== 'object') {\n  parsed = {\n    reply: 'Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.',\n    intent: 'travel_lead',\n    fields: {},\n    ask_quick_assistance: false,\n    notes: '',\n    status: 'in_progress',\n  };\n}\n\n// 4. Validate intent.\nconst VALID = ['travel_lead', 'office_info', 'career', 'customer_query'];\nlet intent = (parsed.intent && String(parsed.intent).trim()) || 'travel_lead';\nif (VALID.indexOf(intent) === -1) intent = 'travel_lead';\n\nconst llmFields = (parsed.fields && typeof parsed.fields === 'object') ? parsed.fields : {};\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\nfunction cleanPhone(v) {\n  if (!v) return '';\n  let d = String(v).replace(/\\D/g, '');\n  // Indian 10-digit mobile (optionally written with 91 / 0 / +91) -> '+91 xxxxx xxxxx'\n  let in10 = d;\n  if (in10.length === 12 && in10.startsWith('91')) in10 = in10.slice(2);\n  else if (in10.length === 11 && in10.startsWith('0')) in10 = in10.slice(1);\n  if (in10.length === 10 && /^[6-9]/.test(in10)) return '+91 ' + in10.slice(0, 5) + ' ' + in10.slice(5);\n  // International number (came with its own country code / + sign) -> keep it, with the +\n  const hadPlus = String(v).trim().charAt(0) === '+';\n  if (d.startsWith('00')) d = d.slice(2);\n  if (hadPlus || (d.length >= 11 && d.length <= 15)) return '+' + d;\n  return '';\n}\n\n// 5. Merge. For non-travel intents, don't let the LLM invent lead data.\nconst takeLLM = (intent === 'travel_lead');\nconst merged = {};\nfor (const f of FIELDS) {\n  const nv = takeLLM ? strip(llmFields[f]) : '';\n  const kv = strip(knownF[f]);\n  merged[f] = nv !== '' ? nv : kv;\n}\nmerged.whatsapp_number = cleanPhone(merged.whatsapp_number);\n\n// If the AI returned a destination but no normalized_destination, fall back to destination.\nif (!merged.normalized_destination && merged.destination) {\n  merged.normalized_destination = merged.destination;\n}\n\n// -- NEW-ENQUIRY DETECTION (comment-led re-entry) --\n// A lead who already answered quick assistance and now names a DIFFERENT\n// destination is starting a fresh enquiry (they commented on another\n// destination video). Keep their phone; restart the trip details warmly.\nconst _oldDest = (strip(knownF.normalized_destination) || strip(knownF.destination)).toLowerCase();\nconst _newDestL = String(merged.normalized_destination || merged.destination || '').toLowerCase();\nconst newEnquiry = !!_oldDest && !!_newDestL && _newDestL !== _oldDest && !!strip(knownF.quick_assistance);\nif (newEnquiry) {\n  // The extractor echoes KNOWN values, so keep month/pax only when THIS message\n  // gave a genuinely new value; otherwise re-collect for the new trip.\n  const _lfDate = takeLLM ? strip(llmFields.travel_date) : '';\n  merged.travel_date = (_lfDate && _lfDate !== strip(knownF.travel_date)) ? _lfDate : '';\n  const _lfPax = takeLLM ? strip(llmFields.pax) : '';\n  merged.pax = (_lfPax && _lfPax !== strip(knownF.pax)) ? _lfPax : '';\n  const _sdNE = $getWorkflowStaticData('global');\n  if (_sdNE.qaDone) { delete _sdNE.qaDone[String(norm.ig_user_id)]; }\n  if (_sdNE.qaAsk) { delete _sdNE.qaAsk[String(norm.ig_user_id) + '|' + String(norm.conv_first_contact || '')]; }\n  _sdNE.neSalt = _sdNE.neSalt || {};\n  _sdNE.neSalt[String(norm.ig_user_id)] = Date.now();\n}\n\n// 6. Notes (running summary). Take the LLM's fresh summary when it gave one.\nconst newNotes = strip(parsed.notes);\nconst prevNotes = strip(norm.existing_notes);\nconst notes = newNotes !== '' ? newNotes : prevNotes;\n\n// 7. Status: qualified once the core 4 are filled; in_progress if anything captured.\nconst qualified = QUALIFY.every((f) => merged[f] && merged[f] !== '');\nconst anyFilled = FIELDS.some((f) => merged[f] && merged[f] !== '');\nconst status = qualified ? 'qualified' : (anyFilled ? 'in_progress' : 'new');\n\n// 8. Should we ask the quick-assistance question? Only on the turn where we first\n//    become qualified, and only if quick_assistance isn't already answered.\nconst askQuickAssist = qualified && (newEnquiry || !strip(knownF.quick_assistance));\n\n// 9. CRM push is handled by the Button handler when the user clicks Yes.\n//    We do NOT push on the phone-number turn because the quick-assistance\n//    answer may change the lead tag.\nconst CRM_FIELDS = ['destination', 'travel_date', 'pax', 'whatsapp_number'];\nconst crmReady = CRM_FIELDS.every((f) => merged[f] && merged[f] !== '');\nconst crmWasReady = CRM_FIELDS.every((f) => strip(knownF[f]) !== '');\nconst crmPush = crmReady && (!crmWasReady || newEnquiry); // push ONCE per enquiry (a new-destination enquiry pushes again)\n\n// 10. Timestamps; preserve original first_contact_ts if the row existed.\nconst nowIST = new Date(Date.now() + 5.5 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.conv_first_contact && String(norm.conv_first_contact).trim()) || (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim()) || nowIST;\n\nlet finalReply = (parsed.reply && String(parsed.reply).trim()) || 'Got it! 🙏';\nif (norm.post_done === true && /quick assistance|co-operation/i.test(finalReply)) {\n  finalReply = 'Thank you! Our travel consultant will be in touch soon.';\n}\n\n// -- QA RE-ASK CAP (2026-07-07) -- the quick-assistance question is asked at\n// most TWICE per conversation. On what would be the 3rd ask we close warmly\n// and mark quick_assistance = 'no_response' so it can never loop again (real\n// leads were spammed when their replies carried no yes/no signal).\nlet qaClosed = false;\nif (finalReply && finalReply.indexOf('Do you need quick assistance') !== -1) {\n  const _sdC = $getWorkflowStaticData('global');\n  _sdC.qaAsk = _sdC.qaAsk || {};\n  const _nowC = Date.now();\n  for (const _k in _sdC.qaAsk) { if (_nowC - (_sdC.qaAsk[_k].ts || 0) > 72 * 3600 * 1000) delete _sdC.qaAsk[_k]; }\n  const _cKey = String(norm.ig_user_id) + '|' + String(norm.conv_first_contact || '');\n  const _c = (_sdC.qaAsk[_cKey] && _sdC.qaAsk[_cKey].c) || 0;\n  if (_c >= 2) {\n    qaClosed = true;\n    finalReply = 'No problem! Our travel consultant will reach out to you soon. 😊';\n  } else {\n    _sdC.qaAsk[_cKey] = { c: _c + 1, ts: _nowC };\n  }\n}\n\nreturn [{\n  json: {\n    ig_user_id:          norm.ig_user_id,\n    ig_username:         norm.ig_username,\n    wa_name:             strip(norm.ig_fullname),\n    reply:               finalReply,\n    intent,\n    is_lead:             true,\n    destination:         merged.destination,\n    normalized_destination: merged.normalized_destination,\n    travel_date:         merged.travel_date,\n    pax:                 merged.pax,\n    whatsapp_number:     merged.whatsapp_number,\n    quick_assistance:    qaClosed ? 'no_response' : (newEnquiry ? '' : strip(knownF.quick_assistance)),\n    ask_quick_assistance: askQuickAssist && !qaClosed,\n    notes,\n    status,\n    crm_push:            crmPush,\n    first_contact_ts:    firstContact,\n    last_update_ts:      nowIST,\n  },\n}];\n"
      },
      "id": "parse",
      "name": "Parse + validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: \"PENDING\", status: \"received\" }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "whatsapp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $('Merge reply').item.json.ig_user_id }}",
            "Whatsapp name": "={{ $('Merge reply').item.json.wa_name || $('Merge reply').item.json.ig_username }}",
            "name": "={{ $('Merge reply').item.json.wa_name }}",
            "destination": "={{ $('Merge reply').item.json.destination }}",
            "normalized_destination": "={{ $('Merge reply').item.json.normalized_destination }}",
            "travel_date": "={{ $('Merge reply').item.json.travel_date }}",
            "pax": "={{ $('Merge reply').item.json.pax }}",
            "whatsapp_number": "={{ \"'\" + $('Merge reply').item.json.whatsapp_number }}",
            "status": "={{ $('Merge reply').item.json.status }}",
            "quick_assistance": "={{ $('Merge reply').item.json.quick_assistance }}",
            "first_contact_ts": "={{ $('Merge reply').item.json.first_contact_ts }}",
            "last_update_ts": "={{ $('Merge reply').item.json.last_update_ts }}",
            "notes - AI": "={{ $('Merge reply').item.json.notes }}",
            "channel": "whatsapp"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whatsapp name",
              "displayName": "Whatsapp name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {},
        "range": "A:P",
        "matchingColumns": [
          "ig_user_id"
        ]
      },
      "id": "sheets",
      "name": "Save lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalize input').item.json.user_message }}",
        "options": {
          "systemMessage": "={{ $('Normalize input').item.json.system_prompt }}"
        }
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.35
        }
      },
      "id": "chatmodel",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "xNZip6hDSsmAroMc",
          "name": "OpenAi account (WORKING June 2026)"
        }
      }
    },
    {
      "id": "lookup",
      "name": "Lookup existing lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        304
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "whatsapp"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ig_user_id",
              "lookupValue": "={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from ?? 'META_STATUS_EVENT' }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        },
        "range": "A:P"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "id": "5e7f4bfa-4d7f-458c-8013-450d732f00b3",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        512
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize input').first().json.session_key }}",
        "contextWindowLength": 4
      }
    },
    {
      "id": "crmgate",
      "name": "Newly qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cg1",
              "leftValue": "={{ $('Merge reply').first().json.crm_push === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "crmpush",
      "name": "Push to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        140
      ],
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1159219.hstgr.cloud/webhook/crm-lead-sync",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Merge reply').item.json.wa_name || $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "handle",
              "value": "={{ $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "contact_number",
              "value": "={{ $('Merge reply').item.json.whatsapp_number }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Merge reply').item.json.whatsapp_number }}"
            },
            {
              "name": "destination",
              "value": "={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"
            },
            {
              "name": "normalized_destination",
              "value": "={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"
            },
            {
              "name": "travel_date",
              "value": "={{ $('Merge reply').item.json.travel_date }}"
            },
            {
              "name": "travelers",
              "value": "={{ $('Merge reply').item.json.pax }}"
            },
            {
              "name": "quick_assistance",
              "value": "={{ $('Merge reply').item.json.quick_assistance }}"
            },
            {
              "name": "ig_username",
              "value": "={{ $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "ig_user_id",
              "value": "={{ $('Merge reply').item.json.ig_user_id }}"
            },
            {
              "name": "status",
              "value": "={{ $('Merge reply').item.json.status }}"
            },
            {
              "name": "notes",
              "value": "={{ $('Merge reply').item.json.notes }}"
            },
            {
              "name": "source",
              "value": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "3dd6b9fe-6399-441d-a59e-dca706016301",
      "name": "Claim lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        600,
        460
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "whatsapp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $('Normalize input').item.json.ig_user_id }}",
            "assigned_to": "={{ $('Normalize input').item.json.msg_id }}"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whatsapp name",
              "displayName": "Whatsapp name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {},
        "range": "A:P"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "299113ef-44f7-46f3-8bc6-877e9dd72f7d",
      "name": "Read lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1180,
        460
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "0",
          "cachedResultName": "whatsapp"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ig_user_id",
              "lookupValue": "={{ $('Normalize input').item.json.ig_user_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        },
        "range": "A:P"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "9fda5b2e-98e0-4b7e-81b9-66dabf03b64b",
      "name": "Winner?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        500
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "win1",
              "leftValue": "={{ ((($json.assigned_to || '') === '') || (String($json.assigned_to).trim() === String($json.msg_id).trim())) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9f65fdbf-8b84-4bb4-97a4-ee75332b11c1",
      "name": "Send reply (Meta API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1540,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/900006843195557/messages",
        "authentication": "none",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((function() {\n  const p = $('Merge reply').first().json;\n  const subscriber = $('Normalize input').first().json.ig_user_id;\n  const payload = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: subscriber,\n    type: \"text\",\n    text: { preview_url: false, body: p.reply }\n  };\n  if (p.ask_quick_assistance === true) {\n    payload.type = \"interactive\";\n    payload.interactive = {\n      type: \"button\",\n      body: { text: \"Thanks for your co-operation. Do you need quick assistance?\" },\n      action: {\n        buttons: [\n          { type: \"reply\", reply: { id: \"qa_yes\", title: \"Yes\" } },\n          { type: \"reply\", reply: { id: \"qa_no\", title: \"No\" } }\n        ]\n      }\n    };\n  }\n  return payload;\n})()) }}",
        "options": {
          "timeout": 15000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer WHATSAPP_META_TOKEN_PLACEHOLDER"
            }
          ]
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "btn1",
              "leftValue": "={{ $('Normalize input').first().json.is_button_click }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3443b06f-1ec5-45b3-ad3f-38e04bb432ac",
      "name": "Button click?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Button handler\"  (Code node, \"Run Once for All Items\")\n// Handles Yes/No quick-assistance button clicks deterministically.\n// Runs when Normalize input detects is_button_click = true.\n//\n// Working hours (Mon–Sat): 9:00 AM – 5:30 PM IST.\n// Sunday: always after-hours (office closed) → \"tomorrow\" message.\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\nconst buttonValue = norm.button_value || '';\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\n// Current time in IST (UTC+5:30)\nconst now = new Date(Date.now() + 5.5 * 60 * 60 * 1000);\nconst day = now.getUTCDay();        // 0 = Sunday, 1 = Monday, ...\nconst hour = now.getUTCHours();\nconst minute = now.getUTCMinutes();\n\nlet reply = '';\nlet quickAssistance = '';\nlet crmPush = false;\n\nif (buttonValue === 'yes') {\n  quickAssistance = 'yes';\n  crmPush = false; // CRM push now happens at qualification (Parse), not on the Yes click\n  if (day === 0) {\n    reply = 'Thank you. Our travel consultant will reach you during working hours tomorrow (Monday, 9:00 AM – 5:30 PM).';\n  } else if (hour > 9 || (hour === 9 && minute >= 0)) {\n    // 9:00 AM or later\n    if (hour < 17 || (hour === 17 && minute <= 30)) {\n      reply = 'Our travel consultant will reach you shortly.';\n    } else {\n      reply = 'Thank you. Our travel consultant will reach you during working hours (9:00 AM – 5:30 PM).';\n    }\n  } else {\n    reply = 'Thank you. Our travel consultant will reach you during working hours (9:00 AM – 5:30 PM).';\n  }\n} else if (buttonValue === 'no') {\n  quickAssistance = 'no';\n  crmPush = false;\n  reply = 'Thank you for your time. Our travel consultant will still connect with you soon. Have a great day!';\n} else {\n  // Fallback (should never happen)\n  quickAssistance = '';\n  crmPush = false;\n  reply = 'Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.';\n}\n\nconst nowIST = now.toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim()) || nowIST;\n\nif (quickAssistance) {\n  const _sdQ = $getWorkflowStaticData('global');\n  _sdQ.qaDone = _sdQ.qaDone || {};\n  _sdQ.qaDone[String(norm.ig_user_id)] = { v: quickAssistance, ts: Date.now() };\n}\n\nreturn [{\n  json: {\n    ig_user_id:          norm.ig_user_id,\n    ig_username:         norm.ig_username,\n    wa_name:             strip(norm.ig_fullname),\n    reply:               reply,\n    intent:              'travel_lead',\n    is_lead:             true,\n    destination:         strip(knownF.destination),\n    normalized_destination: strip(knownF.normalized_destination),\n    travel_date:         strip(knownF.travel_date),\n    pax:                 strip(knownF.pax),\n    whatsapp_number:     strip(knownF.whatsapp_number),\n    quick_assistance:    quickAssistance,\n    ask_quick_assistance: false,\n    notes:               strip(norm.existing_notes) || `Quick assistance: ${quickAssistance}`,\n    status:              'qualified',\n    crm_push:            crmPush,\n    first_contact_ts:    firstContact,\n    last_update_ts:      nowIST,\n    assigned_to:         '',\n    msg_id:              norm.msg_id || '',\n  },\n}];\n"
      },
      "id": "738ff3ea-0b8a-48be-bf4d-1af67df2be2b",
      "name": "Button handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "6420b864-5230-4f94-93fc-39a56a08343e",
      "name": "Merge reply",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1450,
        400
      ]
    },
    {
      "id": "combine-lock-data",
      "name": "Combine lock + data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const lock = $input.first().json || {};\nconst data = $('Parse + validate').first().json || {};\nconst norm = $('Normalize input').first().json || {};\nreturn [{ json: { ...data, assigned_to: lock.assigned_to, msg_id: norm.msg_id } }];"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Lookup existing lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup existing lead": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Button click?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Button click?": {
      "main": [
        [
          {
            "node": "Button handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Button handler": {
      "main": [
        [
          {
            "node": "Merge reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim lock": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse + validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse + validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse + validate": {
      "main": [
        [
          {
            "node": "Read lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read lock": {
      "main": [
        [
          {
            "node": "Combine lock + data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Winner?": {
      "main": [
        [
          {
            "node": "Merge reply",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge reply": {
      "main": [
        [
          {
            "node": "Save lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send reply (Meta API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save lead": {
      "main": [
        [
          {
            "node": "Newly qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newly qualified?": {
      "main": [
        [
          {
            "node": "Push to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine lock + data": {
      "main": [
        [
          {
            "node": "Winner?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "f8JebCcUmgk137Li",
    "availableInMCP": false
  }
}
