accounts/outbound-travelers-whatsapp/chat-and-capture-whatsapp.workflow.json
{"updatedAt":"2026-07-09T07:34:22.662Z","createdAt":"2026-07-02T11:49:32.900Z","id":"HfFqcCEDZJIoGd8e","name":"OB-3 WHATSAPP · Chat & Capture (Cloud API)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"wa-lead-bot","responseMode":"responseNode","options":{},"responseData":"firstEntryJson"},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,304],"webhookId":"ig-lead-bot","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Normalize input\"  (Code node, mode: \"Run Once for All Items\")\n// Reads the user's message + IG ids from the Webhook, and any KNOWN field\n// values, then builds the rigid scripted system prompt. Persona is fixed:\n// always \"Rahul\" from Outbound Travellers.\n//\n// COLLECTION ORDER (strict, never deviate):\n//   1. destination          → ask \"which destination?\"\n//   2. travel_date          → ask \"when are you planning to travel?\"\n//   3. pax                  → ask \"how many people?\"\n//   4. whatsapp_number      → ask \"your contact number?\"\n//   5. quick_assistance     → send Yes/No button after phone is captured\n//\n// BUTTON-CLICK SHORTCUT:\n//   If the incoming message is exactly \"Yes\" or \"No\" AND we already have\n//   whatsapp_number filled AND quick_assistance is still empty, this turn is\n//   treated as a button click. We skip the AI Agent and handle it downstream.\n//\n// MEMORY — production design, 3 layers:\n//   1. Simple Memory (memoryBufferWindow) attached to the AI Agent.\n//   2. KNOWN FIELDS — merged from the Google Sheet row + ManyChat webhook body.\n//   3. NOTES — short one-line summary in the \"notes - AI\" column.\n//\n// ⚠️ Webhook payload lives under $json.body — read via $('Webhook').\n// ⚠️ The notes column header is literally \"notes - AI\" (with spaces).\n// ⚠️ Strip ManyChat unresolved merge tags (literal double-braces).\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// NOTE: keep prompts/system_prompt.md in sync with this embedded prompt.\n// ─────────────────────────────────────────────────────────────────────────\n\nconst wh = $('Webhook').first().json.body || {};\nconst waMessage = (wh.entry && wh.entry[0] && wh.entry[0].changes && wh.entry[0].changes[0] && wh.entry[0].changes[0].value && wh.entry[0].changes[0].value.messages && wh.entry[0].changes[0].value.messages[0]) || {};\nconst waContact = (wh.entry && wh.entry[0] && wh.entry[0].changes && wh.entry[0].changes[0].value && wh.entry[0].changes[0].value.contacts && wh.entry[0].changes[0].value.contacts[0]) || {};\nconst s = (v) => (v === undefined || v === null ? '' : String(v).trim());\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst clean = (v) => { const t = s(v); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n// Prefer the sheet value; fall back to the value ManyChat passed in the body.\nconst pick = (a, b) => { const x = clean(a); return x !== '' ? x : clean(b); };\n\n// GUARD: ignore non-message webhooks (Meta delivery/read status callbacks have no messages[]). They would otherwise run the whole pipeline and 400 the Send with an empty recipient.\nif (!(waMessage && waMessage.id)) { return []; }\n\n// -- DEDUP LAYER 1: synchronous same-message guard. --\nconst _sd = $getWorkflowStaticData('global');\n_sd.seenMsg = _sd.seenMsg || {};\nconst _now = Date.now();\nfor (const _k in _sd.seenMsg) { if (_now - _sd.seenMsg[_k] > 3600000) delete _sd.seenMsg[_k]; }\nconst _dupKey = s(waMessage.from) + '|' + s(waMessage.text?.body);\nif (s(waMessage.from) && s(waMessage.text?.body) && _sd.seenMsg[_dupKey] && (_now - _sd.seenMsg[_dupKey] < 4000)) return [];\nif (_dupKey) _sd.seenMsg[_dupKey] = _now;\n// Unique per-execution token for the Layer-2 sheet ownership lock (last-writer-wins).\nconst _msgId = 'L' + _now + '-' + Math.floor(Math.random() * 1000000);\n\nlet row = {};\ntry {\n  const inItems = $input.all();\n  if (inItems && inItems.length && inItems[0] && inItems[0].json) {\n    const j = inItems[0].json;\n    if (j && (clean(j.destination) || clean(j.normalized_destination) || clean(j.travel_date) || clean(j.pax) || clean(j.whatsapp_number) || clean(j.quick_assistance) || clean(j['notes - AI']) || clean(j.first_contact_ts) || clean(j.name))) row = j;\n  }\n} catch (e) { row = {}; }\n\n// AUTO-FILL: Since the user IS on WhatsApp, their phone number is their identity\nconst senderPhone = s(waMessage.from);\nlet autoWhatsapp = '';\nif (senderPhone) {\n  let digits = senderPhone.replace(/\\D/g, '');\n  if (digits.length === 12 && digits.startsWith('91')) {\n    autoWhatsapp = '+91 ' + digits.slice(2, 7) + ' ' + digits.slice(7);\n  } else if (digits.length === 10 && /^[6-9]/.test(digits)) {\n    autoWhatsapp = '+91 ' + digits.slice(0, 5) + ' ' + digits.slice(5);\n  } else {\n    autoWhatsapp = '+' + digits;\n  }\n}\n\nconst known = {\n  destination:           pick(row.destination, \"\"),\n  normalized_destination: pick(row.normalized_destination, \"\"),\n  travel_date:           pick(row.travel_date, \"\"),\n  pax:                   pick(row.pax, \"\"),\n  whatsapp_number:       pick(row.whatsapp_number, \"\") || autoWhatsapp,\n  quick_assistance:      pick(row.quick_assistance, \"\"),\n};\n\n// -- 2-DAY MEMORY RULE -- remember for 48h since the last message; after 48h\n// idle we forget everything and the next message starts from the greeting.\nfunction parseIST(ts) {\n  const m = String(ts).trim().match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})[ T](\\d{1,2}):(\\d{2}):(\\d{2})$/);\n  if (!m) return NaN;\n  const [, y, mo, d, h, mi, sec] = m.map(Number);\n  const pad = (n) => String(n).padStart(2, '0');\n  return new Date(`${y}-${pad(mo)}-${pad(d)}T${pad(h)}:${pad(mi)}:${pad(sec)}+05:30`).getTime();\n}\nconst lastUpdateTs = clean(row.last_update_ts) || clean(row.first_contact_ts);\nlet hoursSince = Infinity;\nif (lastUpdateTs) {\n  const lastMs = parseIST(lastUpdateTs);\n  if (!isNaN(lastMs)) hoursSince = (_now - lastMs) / (1000 * 60 * 60);\n}\n// -- SMART RESET RULE (owner 2026-07-03) --\n// Under 2h idle: ALWAYS continue. After 2h: a CONNECTED reply (answers the\n// pending question, gives a reason for the silence, mentions the trip)\n// CONTINUES with full memory; only a pure fresh greeting (\"hi\", \"hello\",\n// \"good morning\") starts a NEW conversation. Brand-new leads always start fresh.\nconst _rawGreet = s(waMessage.text?.body) || s(waMessage.interactive?.button_reply?.title) || s(waMessage.interactive?.list_reply?.title) || '';\nconst _greetTokens = _rawGreet.toLowerCase().replace(/[^a-z\\s]/g, ' ').trim().split(/\\s+/).filter(Boolean);\nconst GREET_WORDS = ['hi', 'hii', 'hiii', 'hiiii', 'hello', 'helo', 'hellooo', 'hey', 'heyy', 'heyyy', 'hai', 'hlo', 'yo', 'gm', 'gn', 'good', 'morning', 'afternoon', 'evening', 'night', 'namaste', 'vanakkam', 'hola', 'greetings', 'sir', 'madam', 'mam', 'team', 'there', 'bro', 'ji', 'anna', 'dear', 'all'];\nconst isPureGreeting = _greetTokens.length > 0 && _greetTokens.length <= 4 && _greetTokens.every((t) => GREET_WORDS.indexOf(t) !== -1);\nconst resetConversation = (hoursSince === Infinity) || (hoursSince >= 2 && isPureGreeting);\nif (resetConversation) {\n  known.destination = '';\n  known.normalized_destination = '';\n  known.travel_date = '';\n  known.pax = '';\n  known.whatsapp_number = autoWhatsapp;\n  known.quick_assistance = '';\n}\n// Overlay: a Yes/No just handled by Button handler may not be visible in the\n// sheet yet (read lag) — trust the in-workflow stamp so we never re-ask.\nconst _sdQA = $getWorkflowStaticData('global');\n_sdQA.qaDone = _sdQA.qaDone || {};\nfor (const _q in _sdQA.qaDone) { if (_now - (_sdQA.qaDone[_q].ts || 0) > 72 * 3600 * 1000) delete _sdQA.qaDone[_q]; }\nconst _qaHit = _sdQA.qaDone[s(waMessage.from)];\nif (resetConversation) { delete _sdQA.qaDone[s(waMessage.from)]; if (_sdQA.neSalt) { delete _sdQA.neSalt[s(waMessage.from)]; } }\nelse if (_qaHit && !known.quick_assistance) { known.quick_assistance = _qaHit.v; }\n\nconst knownJson = JSON.stringify(known);\n\nconst hasDestination = !!(known.destination || known.normalized_destination);\nconst hasTravelDate = !!known.travel_date;\nconst hasPax = !!known.pax;\nconst hasPhone = !!known.whatsapp_number;\nconst hasQuickAssist = !!known.quick_assistance;\n\nlet existingFirstContact = clean(row.first_contact_ts);\nlet existingNotes = pick(row['notes - AI'], \"\");\nif (resetConversation) { existingFirstContact = ''; existingNotes = ''; }\nconst notesBlock = existingNotes ? existingNotes : '(none yet — fresh conversation)';\n\n// Conversation epoch: first_contact_ts rotates on a 48h reset, so keying the\n// AI memory session on it makes the bot genuinely forget after 2 days.\nconst nowISTstr = new Date(_now + 5.5 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, 19);\nconst convFirstContact = existingFirstContact || nowISTstr;\nconst _epochMs = parseIST(convFirstContact);\nconst _neSalt = (_sdQA.neSalt && _sdQA.neSalt[s(waMessage.from)]) || '';\nconst sessionKey = s(waMessage.from) + '|' + (isNaN(_epochMs) ? convFirstContact : _epochMs) + (_neSalt ? '|ne' + _neSalt : '');\nconst priorChat = !resetConversation && (!!existingFirstContact || hasDestination || hasTravelDate || hasPax || hasQuickAssist || !!existingNotes);\n\n// WhatsApp profile name (user-set push name). Fallback: name already saved in the sheet row — never downgrade a saved name to blank.\nconst igFullName = clean(waContact.profile?.name) || pick(row.name, '');\nconst igUsername = s(waMessage.from);\nconst channel = 'whatsapp';\nconst channelLabel = 'whatsapp';\n\n// Read text messages OR interactive button replies (Meta WhatsApp sends button clicks differently)\nconst waMessageType = s(waMessage.type);\nlet userMsg = '';\nif (waMessageType === 'interactive' && waMessage.interactive?.button_reply) {\n  userMsg = s(waMessage.interactive.button_reply.title);\n} else if (waMessageType === 'interactive' && waMessage.interactive?.list_reply) {\n  userMsg = s(waMessage.interactive.list_reply.title);\n} else {\n  userMsg = s(waMessage.text?.body);\n}\n\n// MEDIA MESSAGES (2026-07-07): voice notes / photos / videos / documents carry\n// no text — previously the AI got an empty message (silence or odd replies).\n// Feed a neutral placeholder + a prompt note so Rahul politely asks the\n// customer to type instead. Wording avoids yes/no tokens (QA detector safety).\nconst MEDIA_TYPES = ['audio', 'image', 'video', 'document', 'sticker', 'location', 'contacts'];\nconst isMediaMsg = MEDIA_TYPES.indexOf(waMessageType) !== -1 && !userMsg;\nif (isMediaMsg) { userMsg = '(customer sent a ' + waMessageType + ' attachment)'; }\n\n// Detect a Yes/No answer at the quick-assistance step (FUZZY — 2026-07-06).\n// Real lead on .in typed \"Yess\" → exact-match list missed it → QA re-ask loop.\n// Now: tokenize, collapse stretched letters (yesss→yes, nooo→no), match per\n// token so \"yes i need help\" works, and arm the detector ONLY when the QA\n// question is actually pending (all lead fields captured) — also fixes the\n// latent WhatsApp bug where phone is auto-filled from msg 1, so a brand-new\n// user opening with \"yes\" could previously be misread as a QA answer.\nconst _qaTok = userMsg.toLowerCase().replace(/[^a-z\\s]/g, ' ').split(/\\s+/).filter(Boolean).map((t) => t.replace(/(.)\\1+/g, '$1'));\nconst _yesSet = ['yes', 'yeah', 'yea', 'yep', 'yup', 'ya', 'y', 's', 'sure', 'ok', 'okay', 'okey', 'okie', 'k', 'need', 'needed', 'want', 'please', 'pls', 'plz'];\nconst _noSet = ['no', 'nope', 'nah', 'na', 'not', 'dont', 'don', 'dnt'];\nconst _hasNoTok = _qaTok.some((t) => _noSet.indexOf(t) !== -1);\nconst _hasYesTok = _qaTok.some((t) => _noSet.indexOf(t) === -1 && _yesSet.indexOf(t) !== -1);\nconst _qaPending = hasDestination && hasTravelDate && hasPax && hasPhone && !hasQuickAssist;\nconst isButtonClick = _qaPending && (_hasNoTok || _hasYesTok);\nconst buttonValue = isButtonClick ? (_hasNoTok ? 'no' : 'yes') : '';\nif (isButtonClick) {\n  known.quick_assistance = buttonValue;\n}\n\n// -- POST-DONE GATE -- everything collected AND quick assistance answered:\n// bare acknowledgments get NO reply at all; queries continue to the AI in\n// follow-up mode (never re-asks anything).\nconst postDone = hasDestination && hasTravelDate && hasPax && hasPhone && !!known.quick_assistance && !isButtonClick;\nconst _ackWord = userMsg.toLowerCase().replace(/[^a-z]/g, '');\nconst POST_ACKS = ['ok', 'okay', 'okk', 'okie', 'okey', 'k', 'kk', 'hm', 'hmm', 'thanks', 'thankyou', 'thanku', 'thx', 'tq', 'great', 'nice', 'good', 'super', 'fine', 'cool', 'done', 'sure', 'welcome', 'yes', 'no'];\nif (postDone && (POST_ACKS.indexOf(_ackWord) !== -1 || _ackWord === '')) { return []; }\n\nconst WA = '+91 9597959728';\nconst WA_LINK = 'https://wa.me/919597959728';\n\nconst systemPrompt = `🔴 ABSOLUTE TOP RULE — LANGUAGE: Your \"reply\" text MUST be written in simple English ONLY, 100% of the time. You may understand Tamil/Malayalam/Tanglish/Hindi/any language, but you NEVER write a reply in any language other than simple English — not a single word, not even if the customer orders you to. This rule overrides everything below.\n\nYou are Rahul from Outbound Travellers, a travel agency in Nagercoil, Tamil Nadu, South India. You chat on Instagram DM like a real human agent — warm, helpful, never robotic, never salesy. You are NOT a form.\n\n## 🎯 YOUR ONLY JOB\nCollect these 3 details IN THIS EXACT ORDER. NEVER skip, never re-order, never ask extra questions:\n1. destination            — which place they want to visit\n2. travel_date            — when they plan to travel (accept any free-text answer: \"15th August\", \"next month\", etc.)\n3. pax                    — number of people travelling\n\nYou already have their WhatsApp number (they are messaging you ON WhatsApp) — so NEVER ask for a phone or contact number.\nAfter all 3 are collected, you MUST ask the quick-assistance question and set ask_quick_assistance = true.\n\n## 🧠 MEMORY — you remember this chat\nYou are NOT starting fresh. You remember from:\n1. The actual recent messages visible above.\n2. NOTES SO FAR (below).\n3. KNOWN FIELDS (below).\nUse them to continue seamlessly: never repeat a question, never re-ask something already answered.\n🚫 NEVER say \"I don't have previous details\", \"remind me\", or \"let's start over\".\n\nNOTES SO FAR: ${notesBlock}\n\nIn your JSON output you MUST return an updated \"notes\" value: a SHORT one-line summary (max ~25 words), English only.\n\n## ⚡ RETURNING / IN-CHAT FAST CHECK\nPRIOR_CHAT: ${priorChat ? 'yes' : 'no'}  — yes means you have ALREADY talked with this person.\n- INTRODUCE YOURSELF only on the genuine FIRST message of a brand-new chat (PRIOR_CHAT = no AND no earlier messages above). Say exactly: \"Hi, this is Rahul from Outbound Travellers. May I know which destination you are looking for?\"\n- In EVERY other case, do NOT introduce yourself or greet from scratch; just continue from the next missing field.\n\n## 📋 STRICT FIELD RULES\n- Ask ONLY the next missing field in the exact order above.\n- If the user gives multiple fields at once (e.g. \"Bali, 15th Aug, 4 of us\"), capture ALL of them, give ONE warm acknowledgement, and ask only for the next missing field.\n- NEVER ask for name, budget, hotel, flight, itinerary, or anything outside the 4 fields.\n- If the user asks for advice, opinions, recommendations, prices, packages, weather/best season, hotels, itinerary, visa, or any comparison (e.g. \"Is Munnar better in the monsoon?\"): NEVER answer it yourself \\u2014 no opinions, no details. Reply warmly with exactly this idea: \"I completely understand! I can't share those details here \\u2014 one of our travel experts will contact you and help you with this.\" If lead fields are still missing, continue with the next missing question in the SAME message.\n- If the user REFUSES to share something or says they are not interested (\"I don't have WhatsApp\", \"not interested\"): acknowledge warmly ONCE (\"No problem at all!\"), NEVER repeat the same question or message again, tell them our travel expert is here anytime, and end politely.\n- NEVER invent prices, packages, or inclusions. Always defer to the travel consultant.\n\n## 🗺️ DESTINATION HANDLING\n- Accept ANY real destination on Earth.\n- Return a normalized/canonical destination name in the field \"normalized_destination\" (e.g. \"Jammu\" or \"Kashmir\" → \"Jammu and Kashmir\"; \"Goa\" → \"Goa\"; \"Bali\" → \"Bali\").\n- If the user says something vague like \"anywhere international\", ask once which region/country they prefer.\n- If the destination is impossible/non-real (Mars, Hogwarts), gently joke and ask for a real place.\n\n## 📅 TRAVEL DATE HANDLING\n- Ask the travel date as: \"Which month are you planning to travel?\"\n- Accept the user's date answer as free text and store it in \"travel_date\".\n- Do NOT try to reconcile conflicting dates or ask for year/month separately.\n- If they say \"not sure\" or \"flexible\", store \"flexible\" and move on.\n\n## 👥 PAX HANDLING\n- Capture the number of travellers as free text (\"4\", \"me and my wife\", etc.).\n- Store the clean number or short phrase in \"pax\".\n\n## 📱 PHONE HANDLING\n- Do NOT ask for their WhatsApp number. You already have it because they are messaging on WhatsApp.\n- The phone number is automatically captured from the chat.\n\n## 🚀 QUICK ASSISTANCE BUTTON (trigger ONLY when destination, travel_date, and pax are filled)\nWhen destination, travel_date, and pax are all known (whatsapp_number is auto-captured):\n- Set \"ask_quick_assistance\": true.\n- Reply with exactly this text (it will appear above the Yes/No buttons): \"Thanks for your co-operation. Do you need quick assistance?\"\n- Do NOT add any other question or sentence.\n\n${postDone ? `## CONVERSATION COMPLETE - FOLLOW-UP MODE (this rule DOMINATES everything above)\nAll details are collected and quick assistance is already answered (\"${known.quick_assistance}\"). NEVER re-ask any field. NEVER ask, mention, or repeat \"quick assistance\" or the co-operation line again. NEVER restart or greet. If they ask a question: answer in ONE short helpful sentence or say our travel expert will cover it when they call. EXCEPTION: if they name a NEW destination, that is a FRESH enquiry — warmly acknowledge the new destination and ask \"Which month are you planning to travel?\", then collect month and pax again for the new trip. Nothing else.\n\n` : ''}## 📤 OUTPUT — ONLY this JSON. No markdown, no fences, no preamble.\n{\"reply\":\"<message in SIMPLE ENGLISH ONLY>\",\"intent\":\"travel_lead\",\"fields\":{\"destination\":\"\",\"normalized_destination\":\"\",\"travel_date\":\"\",\"pax\":\"\",\"whatsapp_number\":\"\"},\"ask_quick_assistance\":false,\"notes\":\"<one short line, English>\",\"status\":\"new | in_progress | qualified\"}\n\n## ⚡ CURRENT CONTEXT — read this right before you reply\nPRIOR_CHAT: ${priorChat ? 'yes' : 'no'}\nKNOWN FIELDS: ${knownJson}${isMediaMsg ? `\\nNOTE: The customer's latest message is a ${waMessageType} attachment which you CANNOT open. Politely say you could not view it and ask them to type it as a normal text message instead, then continue with the next missing question.` : ''}`;\n\nreturn [{\n  json: {\n    ig_user_id:                s(waMessage.from),\n    wa_phone_number_id:        s(wh.entry[0]?.changes[0]?.value?.metadata?.phone_number_id),\n    ig_username:               igUsername,\n    ig_fullname:               igFullName,\n    user_message:              userMsg,\n    known_fields:              known,\n    known_fields_json:         knownJson,\n    existing_first_contact_ts: existingFirstContact,\n    conv_first_contact:        convFirstContact,\n    session_key:               sessionKey,\n    prior_chat:                priorChat,\n    existing_notes:            existingNotes,\n    system_prompt:             systemPrompt,\n    msg_id:                    _msgId,\n    channel:                   channel,\n    channel_label:             channelLabel,\n    is_button_click:           isButtonClick,\n    button_value:              buttonValue,\n    post_done:                 postDone,\n  },\n}];\n"},"id":"normalize","name":"Normalize input","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,304]},{"parameters":{"jsCode":"// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Parse + validate\"  (Code node, \"Run Once for All Items\")\n// Parses the AI Agent JSON output for the new Rahul scripted flow.\n// Validates the WhatsApp number, merges fields over known ones, computes\n// status, and keeps the running one-line notes summary.\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\n// Core 4 fields. A lead is \"qualified\" once all four are captured.\nconst QUALIFY = ['destination', 'travel_date', 'pax', 'whatsapp_number'];\nconst FIELDS = ['destination', 'normalized_destination', 'travel_date', 'pax', 'whatsapp_number'];\n\n// 1. Grab the raw LLM text (AI Agent → $json.output; other shapes as fallback).\nconst up = $json || {};\nlet raw = '';\nif (typeof up.output === 'string') raw = up.output;\nelse if (up.output && typeof up.output === 'object') raw = JSON.stringify(up.output);\nelse if (up.message && typeof up.message.content === 'string') raw = up.message.content;\nelse if (up.choices && up.choices[0] && up.choices[0].message) raw = up.choices[0].message.content;\nelse if (typeof up.text === 'string') raw = up.text;\nelse if (typeof up.content === 'string') raw = up.content;\n\n// 2. Strip stray ```json fences, parse safely.\nlet parsed = null;\ntry {\n  const cleaned = String(raw).replace(/```json/gi, '').replace(/```/g, '').trim();\n  if (cleaned) parsed = JSON.parse(cleaned);\n} catch (e) { parsed = null; }\n\n// 3. Safe fallback — malformed JSON / AI failure must not crash the flow.\nif (!parsed || typeof parsed !== 'object') {\n  parsed = {\n    reply: 'Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.',\n    intent: 'travel_lead',\n    fields: {},\n    ask_quick_assistance: false,\n    notes: '',\n    status: 'in_progress',\n  };\n}\n\n// 4. Validate intent.\nconst VALID = ['travel_lead', 'office_info', 'career', 'customer_query'];\nlet intent = (parsed.intent && String(parsed.intent).trim()) || 'travel_lead';\nif (VALID.indexOf(intent) === -1) intent = 'travel_lead';\n\nconst llmFields = (parsed.fields && typeof parsed.fields === 'object') ? parsed.fields : {};\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\nfunction cleanPhone(v) {\n  if (!v) return '';\n  let d = String(v).replace(/\\D/g, '');\n  // Indian 10-digit mobile (optionally written with 91 / 0 / +91) -> '+91 xxxxx xxxxx'\n  let in10 = d;\n  if (in10.length === 12 && in10.startsWith('91')) in10 = in10.slice(2);\n  else if (in10.length === 11 && in10.startsWith('0')) in10 = in10.slice(1);\n  if (in10.length === 10 && /^[6-9]/.test(in10)) return '+91 ' + in10.slice(0, 5) + ' ' + in10.slice(5);\n  // International number (came with its own country code / + sign) -> keep it, with the +\n  const hadPlus = String(v).trim().charAt(0) === '+';\n  if (d.startsWith('00')) d = d.slice(2);\n  if (hadPlus || (d.length >= 11 && d.length <= 15)) return '+' + d;\n  return '';\n}\n\n// 5. Merge. For non-travel intents, don't let the LLM invent lead data.\nconst takeLLM = (intent === 'travel_lead');\nconst merged = {};\nfor (const f of FIELDS) {\n  const nv = takeLLM ? strip(llmFields[f]) : '';\n  const kv = strip(knownF[f]);\n  merged[f] = nv !== '' ? nv : kv;\n}\nmerged.whatsapp_number = cleanPhone(merged.whatsapp_number);\n\n// If the AI returned a destination but no normalized_destination, fall back to destination.\nif (!merged.normalized_destination && merged.destination) {\n  merged.normalized_destination = merged.destination;\n}\n\n// -- NEW-ENQUIRY DETECTION (comment-led re-entry) --\n// A lead who already answered quick assistance and now names a DIFFERENT\n// destination is starting a fresh enquiry (they commented on another\n// destination video). Keep their phone; restart the trip details warmly.\nconst _oldDest = (strip(knownF.normalized_destination) || strip(knownF.destination)).toLowerCase();\nconst _newDestL = String(merged.normalized_destination || merged.destination || '').toLowerCase();\nconst newEnquiry = !!_oldDest && !!_newDestL && _newDestL !== _oldDest && !!strip(knownF.quick_assistance);\nif (newEnquiry) {\n  // The extractor echoes KNOWN values, so keep month/pax only when THIS message\n  // gave a genuinely new value; otherwise re-collect for the new trip.\n  const _lfDate = takeLLM ? strip(llmFields.travel_date) : '';\n  merged.travel_date = (_lfDate && _lfDate !== strip(knownF.travel_date)) ? _lfDate : '';\n  const _lfPax = takeLLM ? strip(llmFields.pax) : '';\n  merged.pax = (_lfPax && _lfPax !== strip(knownF.pax)) ? _lfPax : '';\n  const _sdNE = $getWorkflowStaticData('global');\n  if (_sdNE.qaDone) { delete _sdNE.qaDone[String(norm.ig_user_id)]; }\n  if (_sdNE.qaAsk) { delete _sdNE.qaAsk[String(norm.ig_user_id) + '|' + String(norm.conv_first_contact || '')]; }\n  _sdNE.neSalt = _sdNE.neSalt || {};\n  _sdNE.neSalt[String(norm.ig_user_id)] = Date.now();\n}\n\n// -- DETERMINISTIC FIELD BACKSTOP (2026-07-08 audit) -- the AI extractor drops a\n// field when its value sits inside a question / comparison / package request or\n// code-mixed (Tanglish) text, which made the bot re-ask something already\n// answered. Regex-scan the raw message and fill any EMPTY core field. (Destination\n// stays AI-only -- too open to regex.)\nconst _um = String(norm.user_message || '');\nconst _umL = _um.toLowerCase();\nif (!merged.travel_date) {\n  const _mon = _umL.match(/\\b(jan(uary)?|feb(ruary)?|mar(ch)?|apr(il)?|may|jun(e)?|jul(y)?|aug(ust)?|sep(tember|t)?|oct(ober)?|nov(ember)?|dec(ember)?)\\b/);\n  if (_mon) merged.travel_date = _mon[0].charAt(0).toUpperCase() + _mon[0].slice(1);\n  else { const _rel = _um.match(/next month|this month|next week|coming month|month end|year end|flexible|any ?time/i); if (_rel) merged.travel_date = _rel[0]; }\n}\nif (!merged.pax) {\n  const _pn = _um.match(/(\\d{1,3})\\s*(?:people|persons?|pax|adults?|members?|of us|travell?ers?|heads?|nos)\\b/i) || _umL.match(/\\bfor\\s+(\\d{1,3})\\b/) || _umL.match(/\\bwe(?:'?re| are)\\s+(\\d{1,3})\\b/);\n  if (_pn) merged.pax = _pn[1];\n  else if (/\\bhoneymoon\\b|\\bcouple\\b|\\bme and my (?:wife|husband|partner|hubby)\\b|\\bwe two\\b|\\bboth of us\\b|\\bmy spouse\\b/.test(_umL)) merged.pax = '2';\n  else if (/\\bsolo\\b|\\bjust me\\b|\\bmyself\\b|\\balone\\b|\\bonly me\\b/.test(_umL)) merged.pax = '1';\n  else { const _fam = _umL.match(/family of (\\d{1,2})/); if (_fam) merged.pax = _fam[1]; }\n}\nif (!merged.whatsapp_number) {\n  const _digits = _um.replace(/[^0-9]/g, ' ');\n  const _ph = _digits.match(/\\b([6-9]\\d{9})\\b/) || _digits.match(/\\b91\\s*([6-9]\\d{9})\\b/);\n  if (_ph && !/^(\\d)\\1{9}$/.test(_ph[1])) merged.whatsapp_number = '+91 ' + _ph[1].slice(0, 5) + ' ' + _ph[1].slice(5);\n}\n\n// -- FIELD MEMORY CACHE (2026-07-08) -- bridges Google-Sheets read-after-write lag\n// on a rapid follow-up so an already-collected field is never blanked/re-asked.\n// Gated on prior_chat (a >48h reset still forgets) and !newEnquiry.\nconst _sdF = $getWorkflowStaticData('global');\n_sdF.fieldCache = _sdF.fieldCache || {};\nconst _fcKey = String(norm.ig_user_id);\nconst _nowF = Date.now();\nfor (const _k in _sdF.fieldCache) { if (_nowF - ((_sdF.fieldCache[_k] || {})._ts || 0) > 48 * 3600 * 1000) delete _sdF.fieldCache[_k]; }\nconst _fc = _sdF.fieldCache[_fcKey] || {};\nconst _CF = ['destination', 'normalized_destination', 'travel_date', 'pax', 'whatsapp_number'];\nif (norm.prior_chat === true && !newEnquiry) {\n  for (const f of _CF) { if ((!merged[f] || merged[f] === '') && _fc[f]) merged[f] = _fc[f]; }\n}\nconst _fcNew = { _ts: _nowF };\nfor (const f of _CF) { if (merged[f] && merged[f] !== '') _fcNew[f] = merged[f]; }\n_sdF.fieldCache[_fcKey] = _fcNew;\n\n// 6. Notes (running summary). Take the LLM's fresh summary when it gave one.\nconst newNotes = strip(parsed.notes);\nconst prevNotes = strip(norm.existing_notes);\nconst notes = newNotes !== '' ? newNotes : prevNotes;\n\n// 7. Status: qualified once the core 4 are filled; in_progress if anything captured.\nconst qualified = QUALIFY.every((f) => merged[f] && merged[f] !== '');\nconst anyFilled = FIELDS.some((f) => merged[f] && merged[f] !== '');\nconst status = qualified ? 'qualified' : (anyFilled ? 'in_progress' : 'new');\n\n// 8. Should we ask the quick-assistance question? Only on the turn where we first\n//    become qualified, and only if quick_assistance isn't already answered.\nconst askQuickAssist = qualified && (newEnquiry || !strip(knownF.quick_assistance));\n\n// 9. CRM push is handled by the Button handler when the user clicks Yes.\n//    We do NOT push on the phone-number turn because the quick-assistance\n//    answer may change the lead tag.\nconst CRM_FIELDS = ['destination', 'travel_date', 'pax', 'whatsapp_number'];\nconst crmReady = CRM_FIELDS.every((f) => merged[f] && merged[f] !== '');\nconst crmWasReady = CRM_FIELDS.every((f) => strip(knownF[f]) !== '');\nconst crmPush = crmReady && (!crmWasReady || newEnquiry); // push ONCE per enquiry (a new-destination enquiry pushes again)\n\n// 10. Timestamps; preserve original first_contact_ts if the row existed.\nconst nowIST = new Date(Date.now() + 5.5 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.conv_first_contact && String(norm.conv_first_contact).trim()) || (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim()) || nowIST;\n\nlet finalReply = (parsed.reply && String(parsed.reply).trim()) || 'Got it! 🙏';\nif (norm.post_done === true && /quick assistance|co-operation/i.test(finalReply)) {\n  finalReply = 'Thank you! Our travel consultant will be in touch soon.';\n}\n\n// -- REPLY RECONCILIATION (2026-07-08 audit) -- the AI writes the WA reply BEFORE\n// the deterministic backstop fills fields, so it can ask for a value we just\n// captured (e.g. \"how many people?\" after backstop set pax from \"honeymoon in\n// December\"). If the AI reply asks for an ALREADY-FILLED field, replace it with the\n// correct next scripted step so we never re-ask an answered question.\nconst _asksDest = /which (?:destination|place)|where would you|where do you|destination.*looking|looking for.*destination/i.test(finalReply);\nconst _asksDate = /which month|what month|when (?:are|do) you|travel date|planning to travel/i.test(finalReply);\nconst _asksPax = /how many (?:people|persons|travell?ers|of you|guests)|number of (?:people|travell?ers|pax|guests)|how many will/i.test(finalReply);\nconst _mDest = !!(merged.destination || merged.normalized_destination);\nconst _mDate = !!merged.travel_date;\nconst _mPax = !!merged.pax;\nconst _qaAnswered = !!strip(knownF.quick_assistance);\nconst _reAsk = (_asksDest && _mDest) || (_asksDate && _mDate) || (_asksPax && _mPax);\nif (_reAsk) {\n  if (!_mDest) finalReply = 'Which destination are you looking for?';\n  else if (!_mDate) finalReply = 'Which month are you planning to travel?';\n  else if (!_mPax) finalReply = 'How many people are travelling?';\n  else if (!_qaAnswered) finalReply = 'Thanks for your co-operation. Do you need quick assistance? Please reply Yes or No.';\n  else finalReply = 'Thank you! Our travel consultant will be in touch soon.';\n}\n\n// -- QA RE-ASK CAP (2026-07-07) -- the quick-assistance question is asked at\n// most TWICE per conversation. On what would be the 3rd ask we close warmly\n// and mark quick_assistance = 'no_response' so it can never loop again (real\n// leads were spammed when their replies carried no yes/no signal).\nlet qaClosed = false;\nif (finalReply && finalReply.indexOf('Do you need quick assistance') !== -1) {\n  const _sdC = $getWorkflowStaticData('global');\n  _sdC.qaAsk = _sdC.qaAsk || {};\n  const _nowC = Date.now();\n  for (const _k in _sdC.qaAsk) { if (_nowC - (_sdC.qaAsk[_k].ts || 0) > 72 * 3600 * 1000) delete _sdC.qaAsk[_k]; }\n  const _cKey = String(norm.ig_user_id) + '|' + String(norm.conv_first_contact || '');\n  const _c = (_sdC.qaAsk[_cKey] && _sdC.qaAsk[_cKey].c) || 0;\n  if (_c >= 2) {\n    qaClosed = true;\n    finalReply = 'No problem! Our travel consultant will reach out to you soon. 😊';\n  } else {\n    _sdC.qaAsk[_cKey] = { c: _c + 1, ts: _nowC };\n  }\n}\n\n// -- SAME-REPLY SUPPRESSION (2026-07-08) -- if this exact reply text already\n// went to this user in the last 10 minutes, send nothing instead of repeating\n// verbatim (double-texting customers used to get the same question twice in a\n// row; the post-qualification thank-you line repeated on every message).\nconst _sdR = $getWorkflowStaticData('global');\n_sdR.lastReply = _sdR.lastReply || {};\nconst _nowR = Date.now();\nfor (const _k in _sdR.lastReply) { if (_nowR - (_sdR.lastReply[_k].ts || 0) > 3600000) delete _sdR.lastReply[_k]; }\nconst _lrKey = String(norm.ig_user_id);\nconst _lr = _sdR.lastReply[_lrKey];\nif (finalReply && _lr && _lr.text === finalReply && (_nowR - _lr.ts) < 10 * 60 * 1000) {\n  finalReply = '';\n} else if (finalReply) {\n  _sdR.lastReply[_lrKey] = { text: finalReply, ts: _nowR };\n}\n\nreturn [{\n  json: {\n    ig_user_id:          norm.ig_user_id,\n    ig_username:         norm.ig_username,\n    wa_name:             strip(norm.ig_fullname),\n    reply:               finalReply,\n    intent,\n    is_lead:             true,\n    destination:         merged.destination,\n    normalized_destination: merged.normalized_destination,\n    travel_date:         merged.travel_date,\n    pax:                 merged.pax,\n    whatsapp_number:     merged.whatsapp_number,\n    quick_assistance:    qaClosed ? 'no_response' : (newEnquiry ? '' : strip(knownF.quick_assistance)),\n    ask_quick_assistance: askQuickAssist && !qaClosed,\n    notes,\n    status,\n    crm_push:            crmPush,\n    first_contact_ts:    firstContact,\n    last_update_ts:      nowIST,\n  },\n}];\n"},"id":"parse","name":"Parse + validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,304]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ reply: \"PENDING\", status: \"received\" }) }}","options":{}},"id":"respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1120,304]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"},"sheetName":{"__rl":true,"mode":"list","value":"0","cachedResultName":"whatsapp"},"columns":{"mappingMode":"defineBelow","matchingColumns":["ig_user_id"],"value":{"ig_user_id":"={{ $('Merge reply').item.json.ig_user_id }}","Whatsapp name":"={{ $('Merge reply').item.json.wa_name || $('Merge reply').item.json.ig_username }}","name":"={{ $('Merge reply').item.json.wa_name }}","destination":"={{ $('Merge reply').item.json.destination }}","normalized_destination":"={{ $('Merge reply').item.json.normalized_destination }}","travel_date":"={{ $('Merge reply').item.json.travel_date }}","pax":"={{ $('Merge reply').item.json.pax }}","whatsapp_number":"={{ \"'\" + $('Merge reply').item.json.whatsapp_number }}","status":"={{ $('Merge reply').item.json.status }}","quick_assistance":"={{ $('Merge reply').item.json.quick_assistance }}","first_contact_ts":"={{ $('Merge reply').item.json.first_contact_ts }}","last_update_ts":"={{ $('Merge reply').item.json.last_update_ts }}","notes - AI":"={{ $('Merge reply').item.json.notes }}","channel":"whatsapp"},"schema":[{"id":"ig_user_id","displayName":"ig_user_id","type":"string","required":false,"display":true,"defaultMatch":true,"canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp name","displayName":"Whatsapp name","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_number","displayName":"whatsapp_number","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"destination","displayName":"destination","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"normalized_destination","displayName":"normalized_destination","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"travel_date","displayName":"travel_date","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"pax","displayName":"pax","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"quick_assistance","displayName":"quick_assistance","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"channel","displayName":"channel","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"first_contact_ts","displayName":"first_contact_ts","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"last_update_ts","displayName":"last_update_ts","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"assigned_to","displayName":"assigned_to","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"notes - AI","displayName":"notes - AI","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{},"range":"A:P","matchingColumns":["ig_user_id"]},"id":"sheets","name":"Save lead","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1568,220],"credentials":{"googleSheetsOAuth2Api":{"id":"Bnb4dKAXJwcqzUWj","name":"Google Sheets account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"parameters":{"promptType":"define","text":"={{ $('Normalize input').item.json.user_message }}","options":{"systemMessage":"={{ $('Normalize input').item.json.system_prompt }}"}},"id":"agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[672,304],"onError":"continueErrorOutput"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"id":"chatmodel","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[560,512],"credentials":{"googlePalmApi":{"id":"kKc1S4rlwuUU1zuJ","name":"Gemini (TEMP - revert to OpenAI tonight)"}}},{"id":"lookup","name":"Lookup existing lead","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,304],"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"id","value":"1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"},"sheetName":{"__rl":true,"mode":"list","value":"0","cachedResultName":"whatsapp"},"filtersUI":{"values":[{"lookupColumn":"ig_user_id","lookupValue":"={{ $json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from ?? 'META_STATUS_EVENT' }}"}]},"options":{"returnFirstMatch":true},"range":"A:P"},"credentials":{"googleSheetsOAuth2Api":{"id":"Bnb4dKAXJwcqzUWj","name":"Google Sheets account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"alwaysOutputData":true},{"id":"5e7f4bfa-4d7f-458c-8013-450d732f00b3","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[760,512],"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normalize input').first().json.session_key }}","contextWindowLength":4}},{"id":"crmgate","name":"Newly qualified?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1792,220],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"cg1","leftValue":"={{ $('Merge reply').first().json.crm_push === true }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"crmpush","name":"Push to CRM","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2016,140],"parameters":{"method":"POST","url":"https://n8n.srv1159219.hstgr.cloud/webhook/crm-lead-sync","sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Merge reply').item.json.wa_name || $('Merge reply').item.json.ig_username }}"},{"name":"handle","value":"={{ $('Merge reply').item.json.ig_username }}"},{"name":"contact_number","value":"={{ $('Merge reply').item.json.whatsapp_number }}"},{"name":"phone","value":"={{ $('Merge reply').item.json.whatsapp_number }}"},{"name":"destination","value":"={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"},{"name":"normalized_destination","value":"={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"},{"name":"travel_date","value":"={{ $('Merge reply').item.json.travel_date }}"},{"name":"travelers","value":"={{ $('Merge reply').item.json.pax }}"},{"name":"quick_assistance","value":"={{ $('Merge reply').item.json.quick_assistance }}"},{"name":"ig_username","value":"={{ $('Merge reply').item.json.ig_username }}"},{"name":"ig_user_id","value":"={{ $('Merge reply').item.json.ig_user_id }}"},{"name":"status","value":"={{ $('Merge reply').item.json.status }}"},{"name":"notes","value":"={{ $('Merge reply').item.json.notes }}"},{"name":"source","value":"whatsapp"}]},"options":{}},"onError":"continueRegularOutput"},{"id":"3dd6b9fe-6399-441d-a59e-dca706016301","name":"Claim lock","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[600,460],"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"},"sheetName":{"__rl":true,"mode":"list","value":"0","cachedResultName":"whatsapp"},"columns":{"mappingMode":"defineBelow","matchingColumns":["ig_user_id"],"value":{"ig_user_id":"={{ $('Normalize input').item.json.ig_user_id }}","assigned_to":"={{ $('Normalize input').item.json.msg_id }}"},"schema":[{"id":"ig_user_id","displayName":"ig_user_id","type":"string","required":false,"display":true,"defaultMatch":true,"canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp name","displayName":"Whatsapp name","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"whatsapp_number","displayName":"whatsapp_number","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"destination","displayName":"destination","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"normalized_destination","displayName":"normalized_destination","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"travel_date","displayName":"travel_date","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"pax","displayName":"pax","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"budget","displayName":"budget","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"quick_assistance","displayName":"quick_assistance","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"channel","displayName":"channel","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"first_contact_ts","displayName":"first_contact_ts","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"last_update_ts","displayName":"last_update_ts","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"assigned_to","displayName":"assigned_to","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false},{"id":"notes - AI","displayName":"notes - AI","type":"string","required":false,"display":true,"defaultMatch":false,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{},"range":"A:P"},"credentials":{"googleSheetsOAuth2Api":{"id":"Bnb4dKAXJwcqzUWj","name":"Google Sheets account"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"299113ef-44f7-46f3-8bc6-877e9dd72f7d","name":"Read lock","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1180,460],"parameters":{"operation":"read","documentId":{"__rl":true,"mode":"id","value":"1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"},"sheetName":{"__rl":true,"mode":"list","value":"0","cachedResultName":"whatsapp"},"filtersUI":{"values":[{"lookupColumn":"ig_user_id","lookupValue":"={{ $('Normalize input').item.json.ig_user_id }}"}]},"options":{"returnFirstMatch":true},"range":"A:P"},"credentials":{"googleSheetsOAuth2Api":{"id":"Bnb4dKAXJwcqzUWj","name":"Google Sheets account"}},"onError":"continueRegularOutput","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"9fda5b2e-98e0-4b7e-81b9-66dabf03b64b","name":"Winner?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1320,500],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"win1","leftValue":"={{ ((($json.assigned_to || '') === '') || (String($json.assigned_to).trim() === String($json.msg_id).trim())) }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"9f65fdbf-8b84-4bb4-97a4-ee75332b11c1","name":"Send reply (Meta API)","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1540,480],"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/900006843195557/messages","authentication":"none","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify((function() {\n  const p = $('Merge reply').first().json;\n  const subscriber = $('Normalize input').first().json.ig_user_id;\n  const payload = {\n    messaging_product: \"whatsapp\",\n    recipient_type: \"individual\",\n    to: subscriber,\n    type: \"text\",\n    text: { preview_url: false, body: p.reply }\n  };\n  if (p.ask_quick_assistance === true) {\n    payload.type = \"interactive\";\n    payload.interactive = {\n      type: \"button\",\n      body: { text: \"Thanks for your co-operation. Do you need quick assistance?\" },\n      action: {\n        buttons: [\n          { type: \"reply\", reply: { id: \"qa_yes\", title: \"Yes\" } },\n          { type: \"reply\", reply: { id: \"qa_no\", title: \"No\" } }\n        ]\n      }\n    };\n  }\n  return payload;\n})()) }}","options":{"timeout":15000},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer EAASjYozZCHjYBR39ijHloGZACZAv7qNUX1CkUrLmxLD2ZAaskcn9KLdYptQuQpMyjgtnRf1gHLM3J5nOzjAFe4jb7ZCVfZCLWUqZBT5QXLi067zn3VrGqgsN35MkWyxyC8e3s0hSRY9DZBjWgFYl1Mdr2B7KQSpImy64DheZCwg5isYIZA59pvXM7fqDpjTCuy1S5bFgZDZD"}]}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"btn1","leftValue":"={{ $('Normalize input').first().json.is_button_click }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3443b06f-1ec5-45b3-ad3f-38e04bb432ac","name":"Button click?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[600,304]},{"parameters":{"jsCode":"// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Button handler\"  (Code node, \"Run Once for All Items\")\n// Handles Yes/No quick-assistance button clicks deterministically.\n// Runs when Normalize input detects is_button_click = true.\n//\n// Working hours (Mon–Sat): 9:00 AM – 5:30 PM IST.\n// Sunday: always after-hours (office closed) → \"tomorrow\" message.\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\nconst buttonValue = norm.button_value || '';\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\n// Current time in IST (UTC+5:30)\nconst now = new Date(Date.now() + 5.5 * 60 * 60 * 1000);\nconst day = now.getUTCDay();        // 0 = Sunday, 1 = Monday, ...\nconst hour = now.getUTCHours();\nconst minute = now.getUTCMinutes();\n\nlet reply = '';\nlet quickAssistance = '';\nlet crmPush = false;\n\nif (buttonValue === 'yes') {\n  quickAssistance = 'yes';\n  crmPush = false; // CRM push now happens at qualification (Parse), not on the Yes click\n  if (day === 0) {\n    reply = 'Thank you. Our travel consultant will reach you during working hours tomorrow (Monday, 9:00 AM – 5:30 PM).';\n  } else if (hour > 9 || (hour === 9 && minute >= 0)) {\n    // 9:00 AM or later\n    if (hour < 17 || (hour === 17 && minute <= 30)) {\n      reply = 'Our travel consultant will reach you shortly.';\n    } else {\n      reply = 'Thank you. Our travel consultant will reach you during working hours (9:00 AM – 5:30 PM).';\n    }\n  } else {\n    reply = 'Thank you. Our travel consultant will reach you during working hours (9:00 AM – 5:30 PM).';\n  }\n} else if (buttonValue === 'no') {\n  quickAssistance = 'no';\n  crmPush = false;\n  reply = 'Thank you for your time. Our travel consultant will still connect with you soon. Have a great day!';\n} else {\n  // Fallback (should never happen)\n  quickAssistance = '';\n  crmPush = false;\n  reply = 'Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.';\n}\n\nconst nowIST = now.toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim()) || nowIST;\n\nif (quickAssistance) {\n  const _sdQ = $getWorkflowStaticData('global');\n  _sdQ.qaDone = _sdQ.qaDone || {};\n  _sdQ.qaDone[String(norm.ig_user_id)] = { v: quickAssistance, ts: Date.now() };\n}\n\nreturn [{\n  json: {\n    ig_user_id:          norm.ig_user_id,\n    ig_username:         norm.ig_username,\n    wa_name:             strip(norm.ig_fullname),\n    reply:               reply,\n    intent:              'travel_lead',\n    is_lead:             true,\n    destination:         strip(knownF.destination),\n    normalized_destination: strip(knownF.normalized_destination),\n    travel_date:         strip(knownF.travel_date),\n    pax:                 strip(knownF.pax),\n    whatsapp_number:     strip(knownF.whatsapp_number),\n    quick_assistance:    quickAssistance,\n    ask_quick_assistance: false,\n    notes:               strip(norm.existing_notes) || `Quick assistance: ${quickAssistance}`,\n    status:              'qualified',\n    crm_push:            crmPush,\n    first_contact_ts:    firstContact,\n    last_update_ts:      nowIST,\n    assigned_to:         '',\n    msg_id:              norm.msg_id || '',\n  },\n}];\n"},"id":"738ff3ea-0b8a-48be-bf4d-1af67df2be2b","name":"Button handler","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,600]},{"parameters":{"mode":"append"},"id":"6420b864-5230-4f94-93fc-39a56a08343e","name":"Merge reply","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1450,400]},{"id":"combine-lock-data","name":"Combine lock + data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,240],"parameters":{"mode":"runOnceForAllItems","jsCode":"const lock = $input.first().json || {};\nconst data = $('Parse + validate').first().json || {};\nconst norm = $('Normalize input').first().json || {};\nreturn [{ json: { ...data, assigned_to: lock.assigned_to, msg_id: norm.msg_id } }];"}}],"connections":{"Webhook":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Lookup existing lead","type":"main","index":0}]]},"Lookup existing lead":{"main":[[{"node":"Normalize input","type":"main","index":0}]]},"Normalize input":{"main":[[{"node":"Button click?","type":"main","index":0}]]},"Button click?":{"main":[[{"node":"Button handler","type":"main","index":0}],[{"node":"Claim lock","type":"main","index":0}]]},"Button handler":{"main":[[{"node":"Merge reply","type":"main","index":0}]]},"Claim lock":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Parse + validate","type":"main","index":0}],[{"node":"Parse + validate","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Parse + validate":{"main":[[{"node":"Read lock","type":"main","index":0}]]},"Read lock":{"main":[[{"node":"Combine lock + data","type":"main","index":0}]]},"Winner?":{"main":[[{"node":"Merge reply","type":"main","index":1}]]},"Merge reply":{"main":[[{"node":"Save lead","type":"main","index":0},{"node":"Send reply (Meta API)","type":"main","index":0}]]},"Save lead":{"main":[[{"node":"Newly qualified?","type":"main","index":0}]]},"Newly qualified?":{"main":[[{"node":"Push to CRM","type":"main","index":0}]]},"Combine lock + data":{"main":[[{"node":"Winner?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Kolkata","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"f8JebCcUmgk137Li","availableInMCP":false},"staticData":{"global":{"seenMsg":{"917904807586|Hi, I want to enquire about a travel package":1783587721127,"917904807586|Give suggestions and ideas":1783587786413,"917904807586|No specific idea. \nMy preference is hill stations only based on that I came to these choices":1783587880681,"917904807586|I need it to be adventurous too with many activites to do like bungy , rides and any other":1783587980861,"918807256958|Dear Sir/Ma'am,\n\nNoted that you already work with a partner.\n\nWhat sets us apart is our direct operations across all 4 cities and our commitment to quick, reliable support. This is why many partners have switched to us.\n\nI’d like to propose a 'Plan B' for you with better pricing and newer fleet options.\nCould you please share 1-2 requirements? I’ll prepare a quote for you to review.\nWe are happy to align with any specific needs you have.":1783588017912,"917904807586|November":1783588042447,"917904807586|2 members":1783588075104,"919894953896|9677888445":1783588096976,"919790065178|Send me malaysia plan sir":1783588592023,"919741746851|Hi, I want to enquire about a travel package.\nName: Dinesh\nPhone: +91 9741746851\nEmail: testdinesh@gmail.com\nDestination: Maldives\nNumber of travelers: 2\nTravel date: 2026-09-28\nMessage: Honeymoon package":1783588852768,"919741746851|Maldives":1783588870645,"919741746851|September last week":1783588894453,"919741746851|":1783588986208,"919741746851|Ol":1783588995881,"919741746851|Ok*":1783589018713,"916381851453|Hi":1783589362307,"916381851453|Aug last week to September first week":1783589415431,"916381851453|https://www.instagram.com/reel/DaXDomZp-jj/?igsh=MW12Mjh5OGNuNjhnZg==":1783589477446,"916381851453|https://www.instagram.com/reel/Dafx9Cyhr1F/?igsh=MWZnbms0cWRiOGFqeA==":1783589501980,"916381851453|https://www.instagram.com/reel/DaNsnZZJfGh/?igsh=ZmRhN2dlbHJnNWRi":1783589535015,"916381851453|Can you send me the itinerary details":1783589568242,"919884407605|Hi":1783589686141,"919884407605|Thailand":1783589721877,"919884407605|Can I speak with a live agent?":1783589817644,"919884407605|This month":1783589857096,"918122187751|Hi":1783590439874,"918122187751|Need lankawi package details from chennai":1783590455171,"918122187751|This month":1783590475001,"918122187751|Two":1783590495711,"918122187751|":1783590514729,"919363686316|Hii":1783590534726,"919363686316|Kashmir":1783590619446,"919363686316|Yes":1783590781832,"919363686316|September":1783590696441,"919363686316|4people":1783590726651,"919363686316|":1783590753669,"917010026479|Hi":1783590818081,"917010026479|Andaman":1783590850663},"qaDone":{"919994952217":{"v":"yes","ts":1783332833082},"918870766370":{"v":"yes","ts":1783333542353},"918904422401":{"v":"no","ts":1783334377724},"916384051334":{"v":"yes","ts":1783334451282},"919789865668":{"v":"yes","ts":1783337289577},"919573353509":{"v":"yes","ts":1783341489152},"918667324490":{"v":"yes","ts":1783341654083},"919363695134":{"v":"yes","ts":1783343865904},"919999944444":{"v":"yes","ts":1783345635113},"917845776968":{"v":"yes","ts":1783346045193},"919597867319":{"v":"yes","ts":1783348097817},"918056805608":{"v":"yes","ts":1783348138166},"6590566395":{"v":"yes","ts":1783349069688},"919363176880":{"v":"yes","ts":1783352833444},"919042504528":{"v":"yes","ts":1783353230927},"919159828680":{"v":"yes","ts":1783353575401},"971553780454":{"v":"yes","ts":1783355717437},"919363688575":{"v":"yes","ts":1783355849540},"919443392713":{"v":"yes","ts":1783356254566},"919150666601":{"v":"yes","ts":1783359774203},"918220961033":{"v":"yes","ts":1783362732449},"919790408335":{"v":"no","ts":1783363607359},"917871737423":{"v":"yes","ts":1783364642307},"919629805972":{"v":"yes","ts":1783365499487},"917708523326":{"v":"no","ts":1783365702367},"916369002849":{"v":"yes","ts":1783365708717},"919360334901":{"v":"yes","ts":1783374696359},"919677855675":{"v":"yes","ts":1783379457981},"919940726802":{"v":"yes","ts":1783381041831},"918553514883":{"v":"yes","ts":1783385372137},"919094051930":{"v":"yes","ts":1783395283559},"919585765992":{"v":"yes","ts":1783401197948},"919999955555":{"v":"yes","ts":1783402662342},"918939671649":{"v":"yes","ts":1783402862217},"919751860151":{"v":"yes","ts":1783403636514},"918667450699":{"v":"yes","ts":1783404240390},"918610396802":{"v":"yes","ts":1783404396447},"9779815969165":{"v":"yes","ts":1783404707083},"971524628081":{"v":"yes","ts":1783405004847},"918056682364":{"v":"yes","ts":1783405016440},"918592987047":{"v":"yes","ts":1783405545446},"916383812943":{"v":"yes","ts":1783406911966},"919445640418":{"v":"yes","ts":1783407087677},"918098715160":{"v":"no","ts":1783407273394},"918524871706":{"v":"yes","ts":1783407888778},"919176246508":{"v":"yes","ts":1783410458128},"917502383122":{"v":"yes","ts":1783411282237},"916385604592":{"v":"no","ts":1783411649361},"919944899751":{"v":"yes","ts":1783411784665},"916381500969":{"v":"yes","ts":1783412150132},"919361368742":{"v":"yes","ts":1783412189362},"918610755443":{"v":"yes","ts":1783412337506},"919344205688":{"v":"yes","ts":1783413164868},"918220974269":{"v":"yes","ts":1783413855014},"919498216971":{"v":"yes","ts":1783414552804},"919791241269":{"v":"yes","ts":1783416064599},"919847451279":{"v":"yes","ts":1783416460666},"919345619103":{"v":"yes","ts":1783418436693},"918248617059":{"v":"yes","ts":1783420080932},"919901883417":{"v":"yes","ts":1783420391092},"917598277164":{"v":"yes","ts":1783420698516},"917356678032":{"v":"yes","ts":1783420956259},"919498354063":{"v":"yes","ts":1783421672293},"917708814433":{"v":"yes","ts":1783421762825},"917904411907":{"v":"no","ts":1783422171301},"919500166498":{"v":"yes","ts":1783425705492},"919486414123":{"v":"no","ts":1783427553020},"919361182621":{"v":"yes","ts":1783428725474},"918122025880":{"v":"yes","ts":1783432336607},"919626456686":{"v":"yes","ts":1783434028602},"919384635456":{"v":"yes","ts":1783437751274},"919884570197":{"v":"yes","ts":1783437984716},"917092221870":{"v":"yes","ts":1783439377567},"919087738357":{"v":"yes","ts":1783441153584},"919137225214":{"v":"yes","ts":1783441284340},"916380057697":{"v":"yes","ts":1783443345586},"919360660787":{"v":"yes","ts":1783443449414},"916383360309":{"v":"yes","ts":1783446201312},"919500964007":{"v":"yes","ts":1783446500875},"917094403373":{"v":"yes","ts":1783452066402},"919390845528":{"v":"yes","ts":1783462033487},"916281241827":{"v":"yes","ts":1783480953633},"919025876279":{"v":"yes","ts":1783484198853},"917358031167":{"v":"yes","ts":1783484932844},"917200587478":{"v":"yes","ts":1783487570389},"919994854665":{"v":"yes","ts":1783487740354},"919384844227":{"v":"yes","ts":1783488654912},"918248535932":{"v":"no","ts":1783490059059},"919550636438":{"v":"yes","ts":1783490798753},"919345893390":{"v":"yes","ts":1783492966025},"6593455607":{"v":"yes","ts":1783493754248},"916381377657":{"v":"yes","ts":1783494592428},"919487684842":{"v":"yes","ts":1783497233116},"918310482550":{"v":"yes","ts":1783501749577},"919444474538":{"v":"yes","ts":1783502248071},"919843705771":{"v":"yes","ts":1783503112898},"6587411368":{"v":"yes","ts":1783503474024},"917094996765":{"v":"yes","ts":1783504920150},"918925319919":{"v":"yes","ts":1783505903117},"918708388149":{"v":"yes","ts":1783506070192},"918248184926":{"v":"no","ts":1783506498279},"919845756817":{"v":"yes","ts":1783507851986},"919600351146":{"v":"yes","ts":1783508389883},"919043609461":{"v":"yes","ts":1783513546390},"919360481613":{"v":"yes","ts":1783514274068},"919566295995":{"v":"yes","ts":1783514375276},"919597918639":{"v":"no","ts":1783514494496},"918667269574":{"v":"yes","ts":1783516780781},"918148467162":{"v":"yes","ts":1783518409849},"916361425398":{"v":"yes","ts":1783519023008},"918870153644":{"v":"yes","ts":1783519670216},"94715795283":{"v":"yes","ts":1783519741525},"919488213842":{"v":"yes","ts":1783522257647},"919095086713":{"v":"yes","ts":1783525034734},"919489241495":{"v":"no","ts":1783526982517},"919778470705":{"v":"yes","ts":1783527445745},"919171866186":{"v":"no","ts":1783527607794},"918667731790":{"v":"no","ts":1783528464323},"919360745066":{"v":"yes","ts":1783528576275},"96550085478":{"v":"no","ts":1783528899284},"919445918639":{"v":"yes","ts":1783529674265},"919840177154":{"v":"yes","ts":1783530151228},"919629332866":{"v":"yes","ts":1783530854546},"919176677198":{"v":"yes","ts":1783531383837},"919087225165":{"v":"yes","ts":1783532658783},"919791837768":{"v":"yes","ts":1783532803873},"919566206128":{"v":"no","ts":1783536764934},"97430376702":{"v":"no","ts":1783539161524},"4915204079662":{"v":"yes","ts":1783543425933},"919751125411":{"v":"yes","ts":1783544866963},"60167251528":{"v":"yes","ts":1783556172345},"919972661523":{"v":"yes","ts":1783560513815},"918940015493":{"v":"yes","ts":1783562828110},"919080874096":{"v":"yes","ts":1783565119569},"919043791360":{"v":"yes","ts":1783567560506},"919342863733":{"v":"yes","ts":1783567591299},"919344782935":{"v":"yes","ts":1783573213035},"916380719159":{"v":"yes","ts":1783573622470},"447780438575":{"v":"no","ts":1783575996649},"918110040666":{"v":"yes","ts":1783577364537},"94772228662":{"v":"yes","ts":1783577774083},"919698573757":{"v":"yes","ts":1783583222683},"918428209343":{"v":"yes","ts":1783583525407},"919566225084":{"v":"yes","ts":1783585209061},"919952493422":{"v":"yes","ts":1783585585625},"919585131336":{"v":"yes","ts":1783585919588},"966571176949":{"v":"no","ts":1783586176341},"918072572602":{"v":"yes","ts":1783586394476},"918248653409":{"v":"yes","ts":1783586500731},"919741746851":{"v":"yes","ts":1783588986241},"918122187751":{"v":"yes","ts":1783590514799},"919363686316":{"v":"yes","ts":1783590753704}},"neSalt":{"919790723639":1783179724947,"97477292925":1783284735669,"919677855675":1783379405216,"916381377657":1783494515218},"qaAsk":{"918056682364|2026-07-07 11:45:14":{"c":1,"ts":1783404997326},"918592987047|2026-07-07 11:52:16":{"c":1,"ts":1783405525291},"916383812943|2026-07-07 12:16:30":{"c":1,"ts":1783406900380},"919445640418|2026-07-07 12:20:33":{"c":1,"ts":1783407073954},"918524871706|2026-07-07 12:31:27":{"c":1,"ts":1783407768493},"917502383122|2026-07-07 13:29:45":{"c":1,"ts":1783411270670},"916381500969|2026-07-07 13:19:37":{"c":1,"ts":1783412129986},"919498216971|2026-07-07 13:46:13":{"c":1,"ts":1783412420392},"919344205688|2026-07-07 13:58:28":{"c":1,"ts":1783413141488},"918220974269|2026-07-07 14:11:17":{"c":1,"ts":1783413839941},"919847451279|2026-07-07 14:55:45":{"c":1,"ts":1783416430662},"917356678032|2026-07-07 16:11:03":{"c":1,"ts":1783420939639},"966508732463|2026-07-07 16:21:42":{"c":1,"ts":1783421603273},"919487144991|2026-07-07 16:23:01":{"c":1,"ts":1783421704091},"917904411907|2026-07-07 16:30:35":{"c":1,"ts":1783422142377},"919500166498|2026-07-07 17:28:11":{"c":1,"ts":1783425635014},"919486414123|2026-07-07 18:00:26":{"c":1,"ts":1783427535459},"918122025880|2026-07-06 10:04:04":{"c":1,"ts":1783432326445},"919884570197|2026-07-07 20:54:13":{"c":2,"ts":1783437971903},"917092221870|2026-07-07 21:17:17":{"c":1,"ts":1783439367154},"919087738357|2026-07-07 21:47:37":{"c":1,"ts":1783441136543},"919137225214|2026-07-07 21:49:19":{"c":1,"ts":1783441239531},"917868066646|2026-07-07 22:05:04":{"c":1,"ts":1783442222288},"917639895878|2026-07-07 23:01:46":{"c":2,"ts":1783445657860},"916383360309|2026-07-07 23:08:28":{"c":1,"ts":1783446146237},"917094403373|2026-07-08 0:45:25":{"c":1,"ts":1783452042756},"919025876279|2026-07-08 9:43:31":{"c":1,"ts":1783484187401},"918983404324|2026-07-08 9:56:25":{"c":1,"ts":1783484851707},"917200587478|2026-07-08 10:38:53":{"c":1,"ts":1783487556828},"919994854665|2026-07-08 10:44:34":{"c":1,"ts":1783487727998},"919384844227|2026-07-08 10:54:37":{"c":2,"ts":1783488553560},"918248535932|2026-07-08 11:21:12":{"c":1,"ts":1783490046155},"6593455607|2026-07-08 12:23:00":{"c":1,"ts":1783493682297},"916381377657|2026-07-08 12:30:33":{"c":1,"ts":1783494581985},"918310482550|2026-07-08 14:37:01":{"c":1,"ts":1783501735789},"919444474538|2026-07-08 14:46:05":{"c":1,"ts":1783502236142},"6587411368|2026-07-08 15:06:32":{"c":1,"ts":1783503461148},"918708388149|2026-07-08 15:48:34":{"c":1,"ts":1783506058123},"918248184926|2026-07-08 15:56:59":{"c":1,"ts":1783506482459},"919999977777|2026-07-08 17:30:23":{"c":1,"ts":1783512039842},"919043609461|2026-07-08 17:54:57":{"c":1,"ts":1783513529585},"919360481613|2026-07-08 18:06:19":{"c":1,"ts":1783514262690},"919566295995|2026-07-08 18:08:22":{"c":1,"ts":1783514361173},"919597918639|2026-07-08 18:09:44":{"c":1,"ts":1783514474226},"916361425398|2026-07-08 19:23:33":{"c":1,"ts":1783519011325},"918870153644|2026-07-08 19:35:32":{"c":1,"ts":1783519658896},"94715795283|2026-07-08 19:32:34":{"c":2,"ts":1783519727546},"917538816039|2026-07-08 20:21:29":{"c":1,"ts":1783522319850},"919442758552|2026-07-08 20:41:09":{"c":1,"ts":1783523912316},"60195747864|2026-07-08 20:57:10":{"c":2,"ts":1783524555928},"919095086713|2026-07-08 19:56:14":{"c":1,"ts":1783525023872},"919489241495|2026-07-08 21:33:51":{"c":1,"ts":1783526931292},"918667731790|2026-07-08 22:02:32":{"c":2,"ts":1783528449934},"919445918639|2026-07-08 22:23:18":{"c":1,"ts":1783529664761},"917708429759|2026-07-08 22:23:30":{"c":1,"ts":1783529960232},"919840177154|2026-07-08 22:30:04":{"c":1,"ts":1783530106961},"919629332866|2026-07-08 22:40:54":{"c":1,"ts":1783530826185},"919176677198|2026-07-08 22:39:41":{"c":1,"ts":1783531363466},"919786992993|2026-07-08 22:57:45":{"c":2,"ts":1783531808339},"919087225165|2026-07-08 22:58:50":{"c":1,"ts":1783531986575},"919791837768|2026-07-08 23:15:52":{"c":1,"ts":1783532792947},"447780438575|2026-07-09 0:18:52":{"c":2,"ts":1783536570607},"97430376702|2026-07-09 1:01:02":{"c":1,"ts":1783539128953},"4915204079662|2026-07-09 2:12:30":{"c":1,"ts":1783543412533},"919751125411|2026-07-09 2:35:55":{"c":1,"ts":1783544836365},"919159287326|2026-07-09 5:23:05":{"c":1,"ts":1783555131557},"60167251528|2026-07-09 5:44:58":{"c":1,"ts":1783556138778},"919972661523|2026-07-09 6:56:28":{"c":1,"ts":1783560499323},"919043791360|2026-07-09 8:51:17":{"c":1,"ts":1783567317999},"919750398602|2026-07-09 10:03:32":{"c":1,"ts":1783572398548},"919344782935|2026-07-09 10:28:25":{"c":1,"ts":1783573195724},"916380719159|2026-07-09 10:33:33":{"c":2,"ts":1783573608631},"447780438575|2026-07-09 11:13:39":{"c":1,"ts":1783575981205},"918110040666|2026-07-09 11:35:38":{"c":1,"ts":1783577351168},"94772228662|2026-07-09 11:43:58":{"c":1,"ts":1783577727722},"919698573757|2026-07-09 13:16:40":{"c":1,"ts":1783583204944},"918428209343|2026-07-09 13:16:08":{"c":1,"ts":1783583514022},"919566225084|2026-07-09 13:38:45":{"c":1,"ts":1783584776110},"919952493422|2026-07-09 13:54:52":{"c":1,"ts":1783585562918},"916379002305|2026-07-09 13:48:25":{"c":1,"ts":1783585577954},"919585131336|2026-07-09 13:57:11":{"c":1,"ts":1783585878578},"6598627586|2026-07-09 6:29:11":{"c":1,"ts":1783586127976},"918072572602|2026-07-09 14:08:38":{"c":1,"ts":1783586380002},"918248653409|2026-07-09 12:51:32":{"c":1,"ts":1783586490494},"917904807586|2026-07-09 14:32:01":{"c":1,"ts":1783588078980},"919741746851|2026-07-09 14:50:52":{"c":1,"ts":1783588898041},"918122187751|2026-07-09 15:17:19":{"c":1,"ts":1783590499474}},"fieldCache":{"919999988888":{"_ts":1783511875031,"destination":"Goa","normalized_destination":"Goa","travel_date":"December","pax":"2","whatsapp_number":"+91 99999 88888"},"919999977777":{"_ts":1783512039841,"destination":"Goa","normalized_destination":"Goa","travel_date":"December","pax":"2","whatsapp_number":"+91 99999 77777"},"916381377657":{"_ts":1783513391668,"destination":"Odisha and Puri","normalized_destination":"Odisha and Puri","travel_date":"End of September","pax":"60 students","whatsapp_number":"+91 63813 77657"},"919043609461":{"_ts":1783513529584,"destination":"Thailand","normalized_destination":"Thailand","travel_date":"October","pax":"5","whatsapp_number":"+91 90436 09461"},"94776944974":{"_ts":1783515889655,"destination":"Colombo","normalized_destination":"Colombo","whatsapp_number":"+94776944974"},"919360481613":{"_ts":1783514262690,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"this month end","pax":"5","whatsapp_number":"+91 93604 81613"},"919566295995":{"_ts":1783514361172,"destination":"Bali","normalized_destination":"Bali","travel_date":"May","pax":"2","whatsapp_number":"+91 95662 95995"},"919597918639":{"_ts":1783529431104,"destination":"Malaysia","normalized_destination":"Malaysia","travel_date":"August mid","pax":"2","whatsapp_number":"+91 95979 18639"},"918667269574":{"_ts":1783516728725,"destination":"Bali","normalized_destination":"Bali","travel_date":"September","pax":"2","whatsapp_number":"+91 86672 69574"},"918438669606":{"_ts":1783517817624,"whatsapp_number":"+91 84386 69606"},"918148467162":{"_ts":1783518396645,"destination":"Bali","normalized_destination":"Bali","travel_date":"25th January 2027","pax":"2","whatsapp_number":"+91 81484 67162"},"917339192428":{"_ts":1783518798288,"whatsapp_number":"+91 73391 92428"},"916361425398":{"_ts":1783519048291,"destination":"Lakshadweep/Bali","normalized_destination":"Lakshadweep","travel_date":"August","pax":"4","whatsapp_number":"+91 63614 25398"},"919444474538":{"_ts":1783519234175,"destination":"Goa","normalized_destination":"Goa","travel_date":"flexible","pax":"12","whatsapp_number":"+91 94444 74538"},"94715795283":{"_ts":1783519864229,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"October or November","pax":"me, my wife, and two daughters","whatsapp_number":"+94715795283"},"918870153644":{"_ts":1783519658896,"destination":"Kerala","normalized_destination":"Kerala","travel_date":"next week","pax":"2","whatsapp_number":"+91 88701 53644"},"918309371971":{"_ts":1783519772233,"whatsapp_number":"+91 83093 71971"},"919095086713":{"_ts":1783525023872,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"December 1st week","pax":"4","whatsapp_number":"+91 90950 86713"},"919488213842":{"_ts":1783522245589,"destination":"Munnar","normalized_destination":"Munnar","travel_date":"August","pax":"7 members","whatsapp_number":"+91 94882 13842"},"917538816039":{"_ts":1783522319849,"destination":"Singapore","normalized_destination":"Singapore","travel_date":"December","pax":"3 adults","whatsapp_number":"+91 75388 16039"},"60162508327":{"_ts":1783522580823,"destination":"Kasmir","normalized_destination":"Jammu and Kashmir","whatsapp_number":"+60162508327"},"919442758552":{"_ts":1783579351255,"whatsapp_number":"+91 94427 58552"},"919567656595":{"_ts":1783524213862,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","whatsapp_number":"+91 95676 56595"},"60195747864":{"_ts":1783524555927,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"Nov","pax":"6 adults and 4 children","whatsapp_number":"+60195747864"},"94742344264":{"_ts":1783525569455,"destination":"Kerala","normalized_destination":"Kerala","whatsapp_number":"+94742344264"},"919791189407":{"_ts":1783526372032,"destination":"Phucquoc","normalized_destination":"Phu Quoc","travel_date":"August 15","whatsapp_number":"+91 97911 89407"},"919171866186":{"_ts":1783526460316,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"December","whatsapp_number":"+91 91718 66186"},"919778470705":{"_ts":1783527628905,"destination":"Bali","normalized_destination":"Bali","travel_date":"after 15th September","pax":"2","whatsapp_number":"+91 97784 70705"},"919489241495":{"_ts":1783526931292,"destination":"Bali","normalized_destination":"Bali","travel_date":"year end","pax":"2","whatsapp_number":"+91 94892 41495"},"918667731790":{"_ts":1783528449934,"destination":"Manali","normalized_destination":"Manali","travel_date":"22 sep","pax":"2","whatsapp_number":"+91 86677 31790"},"919360745066":{"_ts":1783528563619,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"November","pax":"8","whatsapp_number":"+91 93607 45066"},"96550085478":{"_ts":1783528884269,"destination":"Lengawi","normalized_destination":"Langkawi","travel_date":"October","pax":"2","whatsapp_number":"+96550085478"},"919445918639":{"_ts":1783529664761,"destination":"Andaman Island","normalized_destination":"Andaman Islands","travel_date":"September 18","pax":"2","whatsapp_number":"+91 94459 18639"},"917708429759":{"_ts":1783529960232,"destination":"Munnar","normalized_destination":"Munnar","travel_date":"August 19","pax":"2","whatsapp_number":"+91 77084 29759"},"919840177154":{"_ts":1783530106960,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"Jan Pongal holiday","pax":"5","whatsapp_number":"+91 98401 77154"},"919176677198":{"_ts":1783531363465,"destination":"Wayanad","normalized_destination":"Wayanad","travel_date":"August 14,15-16","pax":"8 boys","whatsapp_number":"+91 91766 77198"},"919629332866":{"_ts":1783530826185,"destination":"kerala","normalized_destination":"Kerala","travel_date":"Sep 5 , 6","pax":"2","whatsapp_number":"+91 96293 32866"},"919786992993":{"_ts":1783532470916,"destination":"Munnar, Thekkady, Vagamon","normalized_destination":"Munnar, Thekkady, Vagamon","travel_date":"August","pax":"3","whatsapp_number":"+91 97869 92993"},"919087225165":{"_ts":1783531986574,"destination":"Munnar and Alleppey","normalized_destination":"Munnar and Alleppey","travel_date":"July end","pax":"100","whatsapp_number":"+91 90872 25165"},"919791837768":{"_ts":1783583082297,"destination":"Kerala","normalized_destination":"Kerala","travel_date":"Sep","pax":"2","whatsapp_number":"+91 97918 37768"},"918810303753":{"_ts":1783571720230,"destination":"Varanasi Prayagraj Ayodhya","normalized_destination":"Varanasi, Prayagraj, Ayodhya","travel_date":"next weekend from July 17th","pax":"2","whatsapp_number":"+91 88103 03753"},"919042703420":{"_ts":1783535291989,"destination":"Singapore","normalized_destination":"Singapore","travel_date":"July","whatsapp_number":"+91 90427 03420"},"919042320892":{"_ts":1783536308888,"destination":"Phu Quoc","normalized_destination":"Phu Quoc","travel_date":"Sept","pax":"4 adults","whatsapp_number":"+91 90423 20892"},"447780438575":{"_ts":1783575981204,"destination":"Malaysia and Singapore","normalized_destination":"Malaysia and Singapore","travel_date":"August","pax":"2 adults and 2 kids","whatsapp_number":"+447780438575"},"919566206128":{"_ts":1783536749704,"destination":"Thailand","normalized_destination":"Thailand","travel_date":"September","pax":"4","whatsapp_number":"+91 95662 06128"},"97430376702":{"_ts":1783539128953,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"October","pax":"3","whatsapp_number":"+97430376702"},"4915204079662":{"_ts":1783543412533,"destination":"Bali","normalized_destination":"Bali","travel_date":"January","pax":"2","whatsapp_number":"+4915204079662"},"918270627860":{"_ts":1783543502444,"whatsapp_number":"+91 82706 27860"},"919751125411":{"_ts":1783544836365,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"January","pax":"2","whatsapp_number":"+91 97511 25411"},"61451702227":{"_ts":1783554469995,"whatsapp_number":"+61451702227"},"919159287326":{"_ts":1783555131557,"destination":"Maldives","normalized_destination":"Maldives","travel_date":"September end","pax":"10","whatsapp_number":"+91 91592 87326"},"60167251528":{"_ts":1783556138778,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"1st Dec","pax":"6","whatsapp_number":"+60167251528"},"6598627586":{"_ts":1783586185967,"whatsapp_number":"+91 65986 27586"},"60194746460":{"_ts":1783559090391,"destination":"Langkawi","normalized_destination":"Langkawi","whatsapp_number":"+60194746460"},"919972661523":{"_ts":1783560499322,"destination":"Andaman","normalized_destination":"Andaman","travel_date":"this month","pax":"2","whatsapp_number":"+91 99726 61523"},"918940015493":{"_ts":1783562815821,"destination":"Malaysia","normalized_destination":"Malaysia","travel_date":"August","pax":"7 adults & 2 kids","whatsapp_number":"+91 89400 15493"},"919952649695":{"_ts":1783564498422,"whatsapp_number":"+91 99526 49695"},"919080874096":{"_ts":1783565155020,"destination":"Vietnam","normalized_destination":"Vietnam","travel_date":"January","pax":"7","whatsapp_number":"+91 90808 74096"},"9595032257":{"_ts":1783565727405,"whatsapp_number":"+91 95950 32257"},"918838841527":{"_ts":1783566558820,"whatsapp_number":"+91 88388 41527"},"919043791360":{"_ts":1783567317999,"destination":"Langkawi","normalized_destination":"Langkawi","travel_date":"October 1st week","pax":"2","whatsapp_number":"+91 90437 91360"},"919342863733":{"_ts":1783567576382,"destination":"Gavi","normalized_destination":"Gavi","travel_date":"18 July","pax":"8 to 10","whatsapp_number":"+91 93428 63733"},"919677400244":{"_ts":1783569725458,"destination":"malaisya","normalized_destination":"Malaysia","travel_date":"August","whatsapp_number":"+91 96774 00244"},"919750398602":{"_ts":1783572398547,"destination":"Andaman","normalized_destination":"Andaman","travel_date":"Sep 10 to 13","pax":"2","whatsapp_number":"+91 97503 98602"},"918675641504":{"_ts":1783573074347,"whatsapp_number":"+91 86756 41504"},"919344782935":{"_ts":1783573238985,"destination":"Andaman","normalized_destination":"Andaman","travel_date":"August or September","pax":"solo","whatsapp_number":"+91 93447 82935"},"916380719159":{"_ts":1783573608630,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"December mid","pax":"10","whatsapp_number":"+91 63807 19159"},"919566184598":{"_ts":1783575361163,"whatsapp_number":"+91 95661 84598"},"918110040666":{"_ts":1783577351167,"destination":"Delhi, Agra, Manali","normalized_destination":"Delhi, Agra, Manali","travel_date":"December 30","pax":"2","whatsapp_number":"+91 81100 40666"},"919176566968":{"_ts":1783577768656,"whatsapp_number":"+91 91765 66968"},"94772228662":{"_ts":1783577727722,"destination":"Malaysia","normalized_destination":"Malaysia","travel_date":"this month","pax":"middle or enda","whatsapp_number":"+94772228662"},"918681921811":{"_ts":1783577747278,"destination":"Munnar","normalized_destination":"Munnar","travel_date":"July","whatsapp_number":"+91 86819 21811"},"6592781707":{"_ts":1783578360865,"destination":"Andaman","normalized_destination":"Andaman","travel_date":"November 16th to 20th","pax":"myself and my sister","whatsapp_number":"+91 65927 81707"},"918939068117":{"_ts":1783578739869,"travel_date":"October","pax":"2","whatsapp_number":"+91 89390 68117"},"917418249557":{"_ts":1783581751174,"whatsapp_number":"+91 74182 49557"},"917977635351":{"_ts":1783581897260,"whatsapp_number":"+91 79776 35351"},"919888777666":{"_ts":1783582504224,"destination":"Thailand","normalized_destination":"Thailand","whatsapp_number":"+91 98887 77666"},"919799005812":{"_ts":1783582879823,"whatsapp_number":"+91 97990 05812"},"918428209343":{"_ts":1783583514021,"destination":"Malaysia","normalized_destination":"Malaysia","travel_date":"this month","pax":"1","whatsapp_number":"+91 84282 09343"},"919698573757":{"_ts":1783583204943,"destination":"Bali","normalized_destination":"Bali","travel_date":"April 2027","pax":"2","whatsapp_number":"+91 96985 73757"},"918248653409":{"_ts":1783586490493,"destination":"bali","normalized_destination":"Bali","travel_date":"August","pax":"2","whatsapp_number":"+91 82486 53409"},"919677962250":{"_ts":1783584441476,"whatsapp_number":"+91 96779 62250"},"919566225084":{"_ts":1783584776109,"destination":"Bali or Maldives","normalized_destination":"Bali or Maldives","travel_date":"Sep 4th to 9th","pax":"2","whatsapp_number":"+91 95662 25084"},"916379002305":{"_ts":1783585639556,"whatsapp_number":"+91 63790 02305"},"919952493422":{"_ts":1783585562917,"destination":"Langkawi island","normalized_destination":"Langkawi","travel_date":"August","pax":"2","whatsapp_number":"+91 99524 93422"},"919585131336":{"_ts":1783585878577,"destination":"Andaman","normalized_destination":"Andaman and Nicobar Islands","travel_date":"July","pax":"1","whatsapp_number":"+91 95851 31336"},"918637425592":{"_ts":1783585990554,"whatsapp_number":"+91 86374 25592"},"919894953896":{"_ts":1783588101989,"whatsapp_number":"+91 98949 53896"},"966571176949":{"_ts":1783586101839,"whatsapp_number":"+966571176949"},"918072572602":{"_ts":1783586414371,"destination":"Lakshadweep","normalized_destination":"Lakshadweep","travel_date":"December or January","pax":"2","whatsapp_number":"+91 80725 72602"},"917904807586":{"_ts":1783588078979,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"November","pax":"2 members","whatsapp_number":"+91 79048 07586"},"918807256958":{"_ts":1783588026329,"whatsapp_number":"+91 88072 56958"},"919790065178":{"_ts":1783588597470,"destination":"Malaysia","normalized_destination":"Malaysia","whatsapp_number":"+91 97900 65178"},"919741746851":{"_ts":1783589001349,"destination":"Maldives","normalized_destination":"Maldives","travel_date":"September last week","pax":"2","whatsapp_number":"+91 97417 46851"},"916381851453":{"_ts":1783589571597,"travel_date":"Aug","whatsapp_number":"+91 63818 51453"},"919884407605":{"_ts":1783589860711,"destination":"Thailand","normalized_destination":"Thailand","travel_date":"This month","whatsapp_number":"+91 98844 07605"},"918122187751":{"_ts":1783590499473,"destination":"Lankawi","normalized_destination":"Langkawi","travel_date":"16th to 21 date","pax":"Two","whatsapp_number":"+91 81221 87751"},"919363686316":{"_ts":1783590732470,"destination":"Kashmir","normalized_destination":"Jammu and Kashmir","travel_date":"Sep","pax":"4 people","whatsapp_number":"+91 93636 86316"},"917010026479":{"_ts":1783590856073,"destination":"Andaman","normalized_destination":"Andaman","whatsapp_number":"+91 70100 26479"}},"lastReply":{"919894953896":{"text":"Thanks for sharing! We already have your WhatsApp number from this chat. Which destination are you interested in visiting?","ts":1783588101991},"917904807586":{"text":"Thanks for your co-operation. Do you need quick assistance?","ts":1783588078980},"918807256958":{"text":"Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.","ts":1783588026330},"919790065178":{"text":"I completely understand! I can't share those details here — one of our travel experts will contact you and help you with this. Which month are you planning to travel to Malaysia?","ts":1783588597471},"919741746851":{"text":"Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.","ts":1783589001350},"916381851453":{"text":"Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.","ts":1783589421152},"919884407605":{"text":"Understood! How many people will be travelling?","ts":1783589860713},"918122187751":{"text":"Thanks for your co-operation. Do you need quick assistance?","ts":1783590499474},"919363686316":{"text":"Perfect, 4 people!","ts":1783590732471},"917010026479":{"text":"Great choice! Which month are you planning to travel to Andaman?","ts":1783590856074}}}},"meta":null,"pinData":null,"versionId":"a7f0c841-4aa9-4a2a-83ff-ec1258728f91","versionCounter":3315,"triggerCount":1,"shared":[{"updatedAt":"2026-07-02T11:49:32.903Z","createdAt":"2026-07-02T11:49:32.903Z","role":"workflow:owner","workflowId":"HfFqcCEDZJIoGd8e","projectId":"rB3QZRABO7nl17PH","project":{"updatedAt":"2025-11-28T05:56:18.467Z","createdAt":"2025-11-28T05:42:25.923Z","id":"rB3QZRABO7nl17PH","name":"Outbound Travelers <outboundtravelers1@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-11-28T05:42:25.924Z","createdAt":"2025-11-28T05:42:25.924Z","userId":"1f2bd6c5-af4f-4a36-8846-17c36547f8ac","projectId":"rB3QZRABO7nl17PH","user":{"updatedAt":"2026-07-09T05:36:54.000Z","createdAt":"2025-11-28T05:42:24.767Z","id":"1f2bd6c5-af4f-4a36-8846-17c36547f8ac","email":"outboundtravelers1@gmail.com","firstName":"Outbound","lastName":"Travelers","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-11-28T06:02:15.741Z","personalization_survey_n8n_version":"1.121.3","companyIndustryExtended":["other"],"otherCompanyIndustryExtended":"Travel and Tourism","companySize":"<20","companyType":"other","automationGoalSm":["lead-generation"],"role":"sales-and-marketing","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"8yGvAmoeoeT4pI2K","userActivatedAt":1765879592923,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1782362054742},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-07-08","isPending":false}}]}}],"tags":[]}