accounts/outbound-travelers-main/chat-and-capture.workflow.json
{
  "updatedAt": "2026-07-09T07:34:23.403Z",
  "createdAt": "2026-06-25T07:01:08.548Z",
  "id": "mO9gd0VJISdzlB5x",
  "name": "OB-2 IG-MAIN+FB · Chat & Capture (@outboundtravelers)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-lead-bot-2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "onError": "continueRegularOutput",
      "webhookId": "c19d63aa-149c-492b-a712-7b647d9cf900"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Normalize input\"  (Code node, mode: \"Run Once for All Items\")\n// Reads the user's message + IG ids from the Webhook, and any KNOWN field\n// values, then builds the rigid scripted system prompt. Persona is fixed:\n// always \"Rahul\" from Outbound Travellers.\n//\n// COLLECTION ORDER (strict, never deviate):\n//   1. destination          → ask \"which destination?\"\n//   2. travel_date          → ask \"when are you planning to travel?\"\n//   3. pax                  → ask \"how many people?\"\n//   4. whatsapp_number      → ask \"your WhatsApp number?\"\n//   5. quick_assistance     → send Yes/No button after phone is captured\n//\n// BUTTON-CLICK SHORTCUT:\n//   If the incoming message is exactly \"Yes\" or \"No\" AND we already have\n//   whatsapp_number filled AND quick_assistance is still empty, this turn is\n//   treated as a button click. We skip the AI Agent and handle it downstream.\n//\n// MEMORY — production design, 3 layers:\n//   1. Simple Memory (memoryBufferWindow) attached to the AI Agent.\n//   2. KNOWN FIELDS — merged from the Google Sheet row + ManyChat webhook body.\n//   3. NOTES — short one-line summary in the \"notes - AI\" column.\n//\n// ⚠️ Webhook payload lives under $json.body — read via $('Webhook').\n// ⚠️ The notes column header is literally \"notes - AI\" (with spaces).\n// ⚠️ Strip ManyChat unresolved merge tags (literal double-braces).\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// NOTE: keep prompts/system_prompt.md in sync with this embedded prompt.\n// ─────────────────────────────────────────────────────────────────────────\n\nconst wh = $('Webhook').first().json.body || {};\nconst s = (v) => (v === undefined || v === null ? '' : String(v).trim());\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst clean = (v) => { const t = s(v); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n// Prefer the sheet value; fall back to the value ManyChat passed in the body.\nconst pick = (a, b) => { const x = clean(a); return x !== '' ? x : clean(b); };\n\n// -- DEDUP LAYER 1: synchronous same-message guard. --\nconst _sd = $getWorkflowStaticData('global');\n_sd.seenMsg = _sd.seenMsg || {};\nconst _now = Date.now();\nfor (const _k in _sd.seenMsg) { if (_now - _sd.seenMsg[_k] > 3600000) delete _sd.seenMsg[_k]; }\nconst _dupKey = s(wh.ig_user_id) + '|' + s(wh.message_text);\nif (s(wh.ig_user_id) && s(wh.message_text) && _sd.seenMsg[_dupKey] && (_now - _sd.seenMsg[_dupKey] < 4000)) return [];\nif (_dupKey) _sd.seenMsg[_dupKey] = _now;\n// Unique per-execution token for the Layer-2 sheet ownership lock (last-writer-wins).\nconst _msgId = 'L' + _now + '-' + Math.floor(Math.random() * 1000000);\n\nlet row = {};\ntry {\n  const inItems = $input.all();\n  if (inItems && inItems.length && inItems[0] && inItems[0].json) {\n    const j = inItems[0].json;\n    if (j && (clean(j.destination) || clean(j.normalized_destination) || clean(j.travel_date) || clean(j.pax) || clean(j.whatsapp_number) || clean(j.quick_assistance) || clean(j['notes - AI']) || clean(j.first_contact_ts) || clean(j.name))) row = j;\n  }\n} catch (e) { row = {}; }\n\nconst userMsg = s(wh.message_text);\n\nconst known = {\n  destination:           pick(row.destination, wh.destination),\n  normalized_destination: pick(row.normalized_destination, wh.normalized_destination),\n  travel_date:           pick(row.travel_date, wh.travel_date),\n  pax:                   pick(row.pax, wh.pax),\n  whatsapp_number:       pick(row.whatsapp_number, wh.whatsapp_number),\n  quick_assistance:      pick(row.quick_assistance, wh.quick_assistance),\n};\n\n// -- CONVERSATION RESET RULE --\n// Start fresh if the user greets us OR if we haven't heard from them in >48 hours.\n// Robust IST timestamp parser (handles single-digit hours that Google Sheets may return).\nfunction parseIST(ts) {\n  const m = String(ts).trim().match(/^(\\d{4})-(\\d{1,2})-(\\d{1,2})[ T](\\d{1,2}):(\\d{2}):(\\d{2})$/);\n  if (!m) return NaN;\n  const [, y, mo, d, h, mi, s] = m.map(Number);\n  const pad = (n) => String(n).padStart(2, '0');\n  return new Date(`${y}-${pad(mo)}-${pad(d)}T${pad(h)}:${pad(mi)}:${pad(s)}+05:30`).getTime();\n}\n\n// -- 2-DAY MEMORY RULE --\n// Remember everything for 48h since the last message. A returning lead within\n// 48h CONTINUES where they left off (a plain \"Hi\" does NOT restart). After 48h\n// idle we forget (fields + memory) and the next message starts from the greeting.\n// A brand-new lead has no prior timestamp (hoursSince = Infinity) so they reset\n// → greeting, exactly like a >48h returner.\nconst lastUpdateTs = clean(row.last_update_ts) || clean(row.first_contact_ts);\nlet hoursSince = Infinity;\nif (lastUpdateTs) {\n  const lastMs = parseIST(lastUpdateTs);\n  if (!isNaN(lastMs)) hoursSince = (_now - lastMs) / (1000 * 60 * 60);\n}\n// -- SMART RESET RULE (owner 2026-07-03) --\n// Under 2h idle: ALWAYS continue. After 2h: a CONNECTED reply (answers the\n// pending question, gives a reason for the silence, mentions the trip)\n// CONTINUES with full memory; only a pure fresh greeting (\"hi\", \"hello\",\n// \"good morning\") starts a NEW conversation. Brand-new leads always start fresh.\nconst _greetTokens = userMsg.toLowerCase().replace(/[^a-z\\s]/g, ' ').trim().split(/\\s+/).filter(Boolean);\nconst GREET_WORDS = ['hi', 'hii', 'hiii', 'hiiii', 'hello', 'helo', 'hellooo', 'hey', 'heyy', 'heyyy', 'hai', 'hlo', 'yo', 'gm', 'gn', 'good', 'morning', 'afternoon', 'evening', 'night', 'namaste', 'vanakkam', 'hola', 'greetings', 'sir', 'madam', 'mam', 'team', 'there', 'bro', 'ji', 'anna', 'dear', 'all'];\nconst isPureGreeting = _greetTokens.length > 0 && _greetTokens.length <= 4 && _greetTokens.every((t) => GREET_WORDS.indexOf(t) !== -1);\nconst resetConversation = (hoursSince === Infinity) || (hoursSince >= 2 && isPureGreeting);\n\nif (resetConversation) {\n  known.destination = '';\n  known.normalized_destination = '';\n  known.travel_date = '';\n  known.pax = '';\n  known.whatsapp_number = '';\n  known.quick_assistance = '';\n}\n// Overlay: a Yes/No just handled by Button handler may not be visible in the\n// sheet yet (read lag) — trust the in-workflow stamp so we never re-ask.\nconst _sdQA = $getWorkflowStaticData('global');\n_sdQA.qaDone = _sdQA.qaDone || {};\nfor (const _q in _sdQA.qaDone) { if (_now - (_sdQA.qaDone[_q].ts || 0) > 72 * 3600 * 1000) delete _sdQA.qaDone[_q]; }\nconst _qaHit = _sdQA.qaDone[s(wh.ig_user_id)];\nif (resetConversation) { delete _sdQA.qaDone[s(wh.ig_user_id)]; if (_sdQA.neSalt) { delete _sdQA.neSalt[s(wh.ig_user_id)]; } }\nelse if (_qaHit && !known.quick_assistance) { known.quick_assistance = _qaHit.v; }\n\nconst knownJson = JSON.stringify(known);\n\nconst hasDestination = !!(known.destination || known.normalized_destination);\nconst hasTravelDate = !!known.travel_date;\nconst hasPax = !!known.pax;\nconst hasPhone = !!known.whatsapp_number;\nconst hasQuickAssist = !!known.quick_assistance;\n\nlet existingFirstContact = clean(row.first_contact_ts);\nlet existingNotes = pick(row['notes - AI'], wh.notes);\n\nif (resetConversation) {\n  existingFirstContact = '';\n  existingNotes = '';\n}\n\n// -- CONVERSATION EPOCH (memory-session isolation) --\n// first_contact_ts doubles as the conversation epoch. It is stable for the life\n// of a conversation but rotates whenever we reset (>48h idle, so existingFirstContact\n// was just cleared). The AI's Simple Memory is keyed by this epoch, so a reset\n// starts a FRESH memory session — that is what makes the bot \"forget after 2 days\".\nconst nowISTstr = new Date(_now + 5.5 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, 19);\nconst convFirstContact = existingFirstContact || nowISTstr;\n// Key the memory session off the PARSED epoch (ms), not the raw string — Google Sheets\n// reformats the saved timestamp on read-back (e.g. strips the leading zero from the hour),\n// which would otherwise split one conversation across two memory buckets.\nconst _epochMs = parseIST(convFirstContact);\nconst _neSalt = (_sdQA.neSalt && _sdQA.neSalt[s(wh.ig_user_id)]) || '';\nconst sessionKey = s(wh.ig_user_id) + '|' + (isNaN(_epochMs) ? convFirstContact : _epochMs) + (_neSalt ? '|ne' + _neSalt : '');\n\nconst notesBlock = existingNotes ? existingNotes : '(none yet — fresh conversation)';\n// \"We've already started this conversation\" — true once a row exists within the\n// 48h window (so the greeting fires exactly once per conversation, never twice).\nconst priorChat = !resetConversation && (!!existingFirstContact || hasDestination || hasTravelDate || hasPax || hasPhone || hasQuickAssist || !!existingNotes);\n\n// Account display name from ManyChat; fallback to the name already saved in\n// the sheet row so a saved name is never downgraded to blank.\nconst igFullName = clean(wh.ig_fullname) || pick(row.name, '');\nconst igUsername = s(wh.ig_username);\nconst channel = (clean(wh.channel) || 'instagram').toLowerCase();\nconst channelLabel = channel === 'instagram' ? 'instagram' : 'facebook';\n\n// Detect a Yes/No answer at the quick-assistance step (FUZZY — 2026-07-06).\n// Real lead on .in typed \"Yess\" → exact-match list missed it → QA re-ask loop.\n// Now: tokenize, collapse stretched letters (yesss→yes, nooo→no), match per\n// token so \"yes i need help\" works, and arm the detector ONLY when the QA\n// question is actually pending (all lead fields captured).\nconst _qaTok = userMsg.toLowerCase().replace(/[^a-z\\s]/g, ' ').split(/\\s+/).filter(Boolean).map((t) => t.replace(/(.)\\1+/g, '$1'));\nconst _yesSet = ['yes', 'yeah', 'yea', 'yep', 'yup', 'ya', 'y', 's', 'sure', 'ok', 'okay', 'okey', 'okie', 'k', 'need', 'needed', 'want', 'please', 'pls', 'plz'];\nconst _noSet = ['no', 'nope', 'nah', 'na', 'not', 'dont', 'don', 'dnt'];\nconst _hasNoTok = _qaTok.some((t) => _noSet.indexOf(t) !== -1);\nconst _hasYesTok = _qaTok.some((t) => _noSet.indexOf(t) === -1 && _yesSet.indexOf(t) !== -1);\nconst _qaPending = hasDestination && hasTravelDate && hasPax && hasPhone && !hasQuickAssist;\nconst isButtonClick = _qaPending && (_hasNoTok || _hasYesTok);\nconst buttonValue = isButtonClick ? (_hasNoTok ? 'no' : 'yes') : '';\n\nconst WA = '+91 9597959728';\nconst WA_LINK = 'https://wa.me/919597959728';\n\n// ── EXTRACTOR-ONLY PROMPT ────────────────────────────────────────────────\n// The AI does NOT chat and does NOT write replies. It ONLY pulls field values\n// out of the user's message and normalizes the destination. The conversation\n// wording is 100% scripted downstream in \"Parse + validate\" — this keeps the\n// agent on rails (no improvising, no extra questions, no off-script chatter).\nconst systemPrompt = `You are a silent data-extraction engine for Outbound Travellers, a travel agency. You do NOT chat. You NEVER write a message to the user. You ONLY read the user's latest message together with the KNOWN FIELDS already collected, and return updated field values as JSON.\n\n## FIELDS YOU EXTRACT (only these four — capture any the user volunteers)\n1. destination        — the place they want to travel to.\n2. travel_date        — when they plan to travel. Free text is fine: \"15th August\", \"next month\", \"flexible\".\n3. pax                — number of people travelling. Convert clear phrases to a number (\"me and my wife\" → \"2\", \"just me\" → \"1\"); otherwise keep the short phrase.\n4. whatsapp_number    — their contact / WhatsApp number, exactly as typed (validation happens downstream).\n\n## HARD RULES\n- Extract ONLY what the user actually provided in THIS message or already-known values. NEVER invent, guess, or assume a value. If the message has nothing for a field, keep the KNOWN value (or empty).\n- If the user gives several fields in one message, capture ALL of them.\n- You do NOT decide what to ask next. You do NOT greet, acknowledge, or reply. Output JSON only.\n- IGNORE anything outside the four fields (budget, name, hotel, flight, itinerary). Do not store them.\n- Field extraction is INDEPENDENT of intent: ALWAYS populate destination/travel_date/pax/whatsapp_number with any value the user states, EVEN IF the message is a question, a price/package/'send details' request, a comparison (\"X or Y\" -- capture the raw options as destination), or code-mixed Tamil/Hindi/Malayalam in Latin script (Tanglish/Hinglish/Manglish -- e.g. \"send pannunga\"=please send, \"kuda\"=also, \"venum\"=want, \"illa/venam\"=no). If your own notes mention a value, that value MUST appear in the matching field.\n\n## DESTINATION NORMALIZATION (important)\nAlways also return \"normalized_destination\" = the correct, canonical destination name — fix misspellings and resolve partial/loose names to the proper place:\n- \"Jammu\" / \"kashmir\" / \"i want to explore kashmir\" / \"kashmeer\" → \"Jammu and Kashmir\"\n- \"balli\" / \"bali island\" / \"bally\" → \"Bali\"\n- \"goa beach\" / \"gova\" → \"Goa\"\n- \"kerela\" / \"kerla\" → \"Kerala\"\n- \"andaman\" / \"andmaan\" → \"Andaman and Nicobar Islands\"\nIf you cannot recognize a real place, set \"destination\" to what they typed and leave \"normalized_destination\" empty.\n\n## CONSULTATION QUESTIONS (flag only — do NOT answer them)\nIf the user's message is mainly a question asking for advice, opinions, recommendations, prices, packages, weather or best season, hotels, itinerary, visa, or any comparison (e.g. \"Is Munnar better in the monsoon?\", \"Is Kashmir good this month?\"), set \"consult_question\": true. Still capture any fields they volunteered in the same message. Greetings, acknowledgments (\"ok\", \"okay\", \"thanks\", \"hmm\"), refusals, and plain statements are NOT consultation questions — for those set it false.\n\n## REFUSAL / NOT INTERESTED (flag only)\nSet \"user_refused\": true ONLY when the user declines to share their contact number or clearly wants to stop (e.g. \"I don't have WhatsApp\", \"I won't share my number\", \"not interested\", \"stop messaging\"). A normal answer, greeting, or question is NOT a refusal. Otherwise false.\n\n## NOTES\nReturn \"notes\" = one short English line summarizing what is known so far (max ~20 words).\n\n## OUTPUT — return ONLY this JSON. No markdown, no code fences, no preamble, no reply text.\n{\"fields\":{\"destination\":\"\",\"normalized_destination\":\"\",\"travel_date\":\"\",\"pax\":\"\",\"whatsapp_number\":\"\"},\"notes\":\"<one short line>\",\"status\":\"new | in_progress | qualified\",\"consult_question\":false,\"user_refused\":false}\n\nKNOWN FIELDS: ${knownJson}`;\n\nreturn [{\n  json: {\n    ig_user_id:                s(wh.ig_user_id),\n    ig_username:               igUsername,\n    ig_fullname:               igFullName,\n    user_message:              userMsg,\n    known_fields:              known,\n    known_fields_json:         knownJson,\n    prior_chat:                priorChat,\n    existing_first_contact_ts: existingFirstContact,\n    conv_first_contact:        convFirstContact,\n    session_key:               sessionKey,\n    existing_notes:            existingNotes,\n    system_prompt:             systemPrompt,\n    msg_id:                    _msgId,\n    channel:                   channel,\n    channel_label:             channelLabel,\n    is_button_click:           isButtonClick,\n    button_value:              buttonValue,\n  },\n}];\n"
      },
      "id": "normalize",
      "name": "Normalize input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Parse + validate\"  (Code node, \"Run Once for All Items\")\n// Parses the AI Agent JSON output for the new Rahul scripted flow.\n// Validates the WhatsApp number, merges fields over known ones, computes\n// status, and keeps the running one-line notes summary.\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\n// Core 4 fields. A lead is \"qualified\" once all four are captured.\nconst QUALIFY = ['destination', 'travel_date', 'pax', 'whatsapp_number'];\nconst FIELDS = ['destination', 'normalized_destination', 'travel_date', 'pax', 'whatsapp_number'];\n\n// 1. Grab the raw LLM text (AI Agent → $json.output; other shapes as fallback).\nconst up = $json || {};\nlet raw = '';\nif (typeof up.output === 'string') raw = up.output;\nelse if (up.output && typeof up.output === 'object') raw = JSON.stringify(up.output);\nelse if (up.message && typeof up.message.content === 'string') raw = up.message.content;\nelse if (up.choices && up.choices[0] && up.choices[0].message) raw = up.choices[0].message.content;\nelse if (typeof up.text === 'string') raw = up.text;\nelse if (typeof up.content === 'string') raw = up.content;\n\n// 2. Strip stray ```json fences, parse safely.\nlet parsed = null;\ntry {\n  const cleaned = String(raw).replace(/```json/gi, '').replace(/```/g, '').trim();\n  if (cleaned) parsed = JSON.parse(cleaned);\n} catch (e) { parsed = null; }\n\n// 3. Safe fallback — malformed JSON / AI failure must not crash the flow.\nif (!parsed || typeof parsed !== 'object') {\n  parsed = {\n    reply: 'Thanks so much for messaging Outbound Travellers! 😊 Our team will get back to you very shortly.',\n    intent: 'travel_lead',\n    fields: {},\n    ask_quick_assistance: false,\n    notes: '',\n    status: 'in_progress',\n  };\n}\n\n// 4. Validate intent.\nconst VALID = ['travel_lead', 'office_info', 'career', 'customer_query'];\nlet intent = (parsed.intent && String(parsed.intent).trim()) || 'travel_lead';\nif (VALID.indexOf(intent) === -1) intent = 'travel_lead';\n\nconst llmFields = (parsed.fields && typeof parsed.fields === 'object') ? parsed.fields : {};\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\nfunction cleanPhone(v) {\n  if (!v) return '';\n  let d = String(v).replace(/\\D/g, '');\n  // Indian 10-digit mobile (optionally written with 91 / 0 / +91) -> '+91 xxxxx xxxxx'\n  let in10 = d;\n  if (in10.length === 12 && in10.startsWith('91')) in10 = in10.slice(2);\n  else if (in10.length === 11 && in10.startsWith('0')) in10 = in10.slice(1);\n  if (in10.length === 10 && /^[6-9]/.test(in10)) return '+91 ' + in10.slice(0, 5) + ' ' + in10.slice(5);\n  // International number (came with its own country code / + sign) -> keep it, with the +\n  const hadPlus = String(v).trim().charAt(0) === '+';\n  if (d.startsWith('00')) d = d.slice(2);\n  if (hadPlus || (d.length >= 11 && d.length <= 15)) return '+' + d;\n  return '';\n}\n\n// 5. Merge. For non-travel intents, don't let the LLM invent lead data.\nconst takeLLM = (intent === 'travel_lead');\nconst merged = {};\nfor (const f of FIELDS) {\n  const nv = takeLLM ? strip(llmFields[f]) : '';\n  const kv = strip(knownF[f]);\n  merged[f] = nv !== '' ? nv : kv;\n}\nmerged.whatsapp_number = cleanPhone(merged.whatsapp_number);\n\n// If the AI returned a destination but no normalized_destination, fall back to destination.\nif (!merged.normalized_destination && merged.destination) {\n  merged.normalized_destination = merged.destination;\n}\n\n// -- NEW-ENQUIRY DETECTION (comment-led re-entry) --\n// A lead who already answered quick assistance and now names a DIFFERENT\n// destination is starting a fresh enquiry (they commented on another\n// destination video). Keep their phone; restart the trip details warmly.\nconst _oldDest = (strip(knownF.normalized_destination) || strip(knownF.destination)).toLowerCase();\nconst _newDestL = String(merged.normalized_destination || merged.destination || '').toLowerCase();\nconst newEnquiry = !!_oldDest && !!_newDestL && _newDestL !== _oldDest && !!strip(knownF.quick_assistance);\nif (newEnquiry) {\n  // The extractor echoes KNOWN values, so keep month/pax only when THIS message\n  // gave a genuinely new value; otherwise re-collect for the new trip.\n  const _lfDate = takeLLM ? strip(llmFields.travel_date) : '';\n  merged.travel_date = (_lfDate && _lfDate !== strip(knownF.travel_date)) ? _lfDate : '';\n  const _lfPax = takeLLM ? strip(llmFields.pax) : '';\n  merged.pax = (_lfPax && _lfPax !== strip(knownF.pax)) ? _lfPax : '';\n  const _sdNE = $getWorkflowStaticData('global');\n  if (_sdNE.qaDone) { delete _sdNE.qaDone[String(norm.ig_user_id)]; }\n  if (_sdNE.qaAsk) { delete _sdNE.qaAsk[String(norm.ig_user_id) + '|' + String(norm.conv_first_contact || '')]; }\n  _sdNE.neSalt = _sdNE.neSalt || {};\n  _sdNE.neSalt[String(norm.ig_user_id)] = Date.now();\n}\n\n// -- DETERMINISTIC FIELD BACKSTOP (2026-07-08 audit) -- the AI extractor drops a\n// field when its value sits inside a question / comparison / package request or\n// code-mixed (Tanglish) text, which made the bot re-ask something already\n// answered. Regex-scan the raw message and fill any EMPTY core field. (Destination\n// stays AI-only -- too open to regex; handled by the extractor prompt.)\nconst _um = String(norm.user_message || '');\nconst _umL = _um.toLowerCase();\nif (!merged.travel_date) {\n  const _mon = _umL.match(/\\b(jan(uary)?|feb(ruary)?|mar(ch)?|apr(il)?|may|jun(e)?|jul(y)?|aug(ust)?|sep(tember|t)?|oct(ober)?|nov(ember)?|dec(ember)?)\\b/);\n  if (_mon) merged.travel_date = _mon[0].charAt(0).toUpperCase() + _mon[0].slice(1);\n  else { const _rel = _um.match(/next month|this month|next week|coming month|month end|year end|flexible|any ?time/i); if (_rel) merged.travel_date = _rel[0]; }\n}\nif (!merged.pax) {\n  const _pn = _um.match(/(\\d{1,3})\\s*(?:people|persons?|pax|adults?|members?|of us|travell?ers?|heads?|nos)\\b/i) || _umL.match(/\\bfor\\s+(\\d{1,3})\\b/) || _umL.match(/\\bwe(?:'?re| are)\\s+(\\d{1,3})\\b/);\n  if (_pn) merged.pax = _pn[1];\n  else if (/\\bhoneymoon\\b|\\bcouple\\b|\\bme and my (?:wife|husband|partner|hubby)\\b|\\bwe two\\b|\\bboth of us\\b|\\bmy spouse\\b/.test(_umL)) merged.pax = '2';\n  else if (/\\bsolo\\b|\\bjust me\\b|\\bmyself\\b|\\balone\\b|\\bonly me\\b/.test(_umL)) merged.pax = '1';\n  else { const _fam = _umL.match(/family of (\\d{1,2})/); if (_fam) merged.pax = _fam[1]; }\n}\nif (!merged.whatsapp_number) {\n  const _digits = _um.replace(/[^0-9]/g, ' ');\n  const _ph = _digits.match(/\\b([6-9]\\d{9})\\b/) || _digits.match(/\\b91\\s*([6-9]\\d{9})\\b/);\n  if (_ph && !/^(\\d)\\1{9}$/.test(_ph[1])) merged.whatsapp_number = '+91 ' + _ph[1].slice(0, 5) + ' ' + _ph[1].slice(5);\n}\n\n// -- FIELD MEMORY CACHE (2026-07-08) -- the Google-Sheets lookup can return a\n// stale/empty row on a rapid follow-up (esp. right after a save), which would\n// blank a field the customer already gave and make the bot re-ask it. Keep a\n// short-lived (48h) per-user cache of the last non-empty core-field values and\n// fall back to it. Gated on prior_chat (a >48h reset still forgets) and\n// !newEnquiry (a new-destination enquiry still re-collects for the new trip).\nconst _sdF = $getWorkflowStaticData('global');\n_sdF.fieldCache = _sdF.fieldCache || {};\nconst _fcKey = String(norm.ig_user_id);\nconst _nowF = Date.now();\nfor (const _k in _sdF.fieldCache) { if (_nowF - ((_sdF.fieldCache[_k] || {})._ts || 0) > 48 * 3600 * 1000) delete _sdF.fieldCache[_k]; }\nconst _fc = _sdF.fieldCache[_fcKey] || {};\nconst _CF = ['destination', 'normalized_destination', 'travel_date', 'pax', 'whatsapp_number'];\nif (norm.prior_chat === true && !newEnquiry) {\n  for (const f of _CF) { if ((!merged[f] || merged[f] === '') && _fc[f]) merged[f] = _fc[f]; }\n}\nconst _fcNew = { _ts: _nowF };\nfor (const f of _CF) { if (merged[f] && merged[f] !== '') _fcNew[f] = merged[f]; }\n_sdF.fieldCache[_fcKey] = _fcNew;\n\n// 6. Notes (running summary). Take the LLM's fresh summary when it gave one.\nconst newNotes = strip(parsed.notes);\nconst prevNotes = strip(norm.existing_notes);\nconst notes = newNotes !== '' ? newNotes : prevNotes;\n\n// 7. Status: qualified once the core 4 are filled; in_progress if anything captured.\nconst qualified = QUALIFY.every((f) => merged[f] && merged[f] !== '');\nconst anyFilled = FIELDS.some((f) => merged[f] && merged[f] !== '');\nconst status = qualified ? 'qualified' : (anyFilled ? 'in_progress' : 'new');\n\n// 8. DETERMINISTIC SCRIPTED REPLY — the AI only extracts fields; every line the\n//    customer sees is fixed here, so the agent cannot improvise or go off-script.\n//    Pick the message for the next missing field, in strict order:\n//    destination → travel_date → pax → whatsapp_number → quick-assistance.\nconst hasDest  = !!(merged.destination || merged.normalized_destination);\nconst hasDate  = !!merged.travel_date;\nconst hasPaxF  = !!merged.pax;\nconst hasPhone = !!(merged.whatsapp_number && merged.whatsapp_number !== '');\nconst priorChat = norm.prior_chat === true;\n\n// Ask quick-assistance once all four are captured and it isn't already answered.\nconst askQuickAssist = hasDest && hasDate && hasPaxF && hasPhone && (newEnquiry || !strip(knownF.quick_assistance));\n\n// Deterministic consult backstop (2026-07-08 audit): indirect questions\n// (\"more info\", \"package for X\", \"B2B rates\", \"send details\", \"is it safe\")\n// slipped past the AI flag and got answered with the next field. Force the\n// expert-deflection when the message clearly asks for advice/price/details.\nconst _consultRe = /\\b(price|cost|rate|rates|charges?|quot|discount|b2b|packages?|itinerary|inclusion|visa|passport|best (?:time|season|month)|which (?:is )?better|per head|per person|land package)\\b|\\bis it safe\\b|\\bsend (?:me )?(?:the )?(?:details|info|itinerary|package|quote)\\b|\\bmore (?:info|details)\\b|\\b(?:call|contact|reach) me\\b|\\bwhen (?:will|can) (?:you|u) (?:call|contact)\\b/i;\nconst consultQ = (parsed.consult_question === true) || _consultRe.test(String(norm.user_message || ''));\nconst userRefused = parsed.user_refused === true;\nconst CONSULT_INTRO = (norm.prior_chat === true) ? '' : 'Hi, this is Rahul from Outbound Travellers. ';\nlet replyText;\nif (userRefused) {\n  replyText = \"No problem at all! Thank you for your time. If you ever plan a trip, our team is just a message away. Have a great day! \\ud83d\\ude0a\";\n} else if (consultQ && !hasPhone) {\n  replyText = CONSULT_INTRO + \"I completely understand! I'm not able to share those details here. Please share your WhatsApp number \\u2014 one of our travel experts will personally help you with this on WhatsApp.\";\n} else if (consultQ) {\n  replyText = CONSULT_INTRO + \"I completely understand! I'm not able to share those details here, but one of our travel experts will contact you on WhatsApp and help you with this.\";\n} else if (newEnquiry) {\n  const _dn = merged.normalized_destination || merged.destination;\n  replyText = _dn + ' is a great choice too! ' + (!merged.travel_date\n    ? 'Which month are you planning to travel?'\n    : (!merged.pax ? 'May I know the number of people travelling?'\n    : 'Thanks for your co-operation. Do you need quick assistance? Please reply Yes or No.'));\n} else if (askQuickAssist) {\n  replyText = 'Thanks for your co-operation. Do you need quick assistance? Please reply Yes or No.';\n} else if (!hasDest) {\n  // First contact gets the full intro; a continuing chat just re-asks for destination.\n  replyText = priorChat\n    ? 'May I know which destination you are looking for?'\n    : 'Hi, this is Rahul from Outbound Travellers. May I know which destination you are looking for?';\n} else if (!hasDate) {\n  replyText = 'Great choice! Which month are you planning to travel?';\n} else if (!hasPaxF) {\n  replyText = 'Great. May I know the number of people travelling?';\n} else if (!hasPhone) {\n  replyText = 'Please share your WhatsApp number:';\n} else {\n  // All four captured and quick-assistance already answered.\n  const _ack = String(norm.user_message || '').toLowerCase().replace(/[^a-z]/g, '');\n  const ACKS = ['ok', 'okay', 'okk', 'okie', 'okey', 'k', 'kk', 'hm', 'hmm', 'thanks', 'thankyou', 'thanku', 'thx', 'tq', 'great', 'nice', 'good', 'super', 'fine', 'cool', 'done', 'sure', 'welcome'];\n  if (ACKS.indexOf(_ack) !== -1 || _ack === '') {\n    replyText = '';  // bare acknowledgment after completion -> stay silent like a human\n  } else {\n    replyText = 'Thank you! Our travel consultant will get back to you shortly.';\n  }\n}\n\n// -- QA RE-ASK CAP (2026-07-07) -- the quick-assistance question is asked at\n// most TWICE per conversation. On what would be the 3rd ask we close warmly\n// and mark quick_assistance = 'no_response' so it can never loop again (real\n// leads were spammed when their replies carried no yes/no signal).\nlet qaClosed = false;\nif (replyText && replyText.indexOf('Do you need quick assistance') !== -1) {\n  const _sdC = $getWorkflowStaticData('global');\n  _sdC.qaAsk = _sdC.qaAsk || {};\n  const _nowC = Date.now();\n  for (const _k in _sdC.qaAsk) { if (_nowC - (_sdC.qaAsk[_k].ts || 0) > 72 * 3600 * 1000) delete _sdC.qaAsk[_k]; }\n  const _cKey = String(norm.ig_user_id) + '|' + String(norm.conv_first_contact || '');\n  const _c = (_sdC.qaAsk[_cKey] && _sdC.qaAsk[_cKey].c) || 0;\n  if (_c >= 2) {\n    qaClosed = true;\n    replyText = 'No problem! Our travel consultant will reach out to you soon. 😊';\n  } else {\n    _sdC.qaAsk[_cKey] = { c: _c + 1, ts: _nowC };\n  }\n}\n\n// Fresh-conversation intro: comment-keyword entries often carry the destination\n// as the very first message — still introduce Rahul once.\nif (norm.prior_chat !== true && replyText && replyText.indexOf('Hi, this is Rahul') === -1 && !userRefused) {\n  replyText = 'Hi, this is Rahul from Outbound Travellers! ' + replyText;\n}\n\n// -- SAME-REPLY SUPPRESSION (2026-07-08) -- if this exact reply text already\n// went to this user in the last 10 minutes, send nothing instead of repeating\n// verbatim (double-texting customers used to get the same scripted question\n// twice in a row -> \"double reply\" complaints; post-done thank-you spammed too).\nconst _sdR = $getWorkflowStaticData('global');\n_sdR.lastReply = _sdR.lastReply || {};\nconst _nowR = Date.now();\nfor (const _k in _sdR.lastReply) { if (_nowR - (_sdR.lastReply[_k].ts || 0) > 3600000) delete _sdR.lastReply[_k]; }\nconst _lrKey = String(norm.ig_user_id);\nconst _lr = _sdR.lastReply[_lrKey];\nconst _rkey = String(replyText || '').replace(/^Hi, this is Rahul from Outbound Travellers! /, '').trim();\nif (replyText && _lr && _lr.text === _rkey && (_nowR - _lr.ts) < 10 * 60 * 1000) {\n  replyText = '';\n} else if (replyText) {\n  _sdR.lastReply[_lrKey] = { text: _rkey, ts: _nowR };\n}\n\n// 9. CRM push is handled by the Button handler on a Yes click (not on the phone turn).\nconst CRM_FIELDS = ['destination', 'travel_date', 'pax', 'whatsapp_number'];\nconst crmReady = CRM_FIELDS.every((f) => merged[f] && merged[f] !== '');\nconst crmWasReady = CRM_FIELDS.every((f) => strip(knownF[f]) !== '');\nconst crmPush = crmReady && (!crmWasReady || newEnquiry); // push ONCE per enquiry (a new-destination enquiry pushes again)\n\n// 10. Timestamps. Use the conversation epoch from Normalize as first_contact_ts so the\n//     saved value matches the memory session key (both rotate together on a >48h reset).\nconst nowIST = new Date(Date.now() + 5.5 * 60 * 60 * 1000).toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.conv_first_contact && String(norm.conv_first_contact).trim())\n  || (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim())\n  || nowIST;\n\nreturn [{\n  json: {\n    ig_user_id:          norm.ig_user_id,\n    ig_username:         norm.ig_username,\n    full_name:           strip(norm.ig_fullname),\n    reply:               replyText,\n    intent,\n    is_lead:             !!(merged.whatsapp_number && merged.whatsapp_number !== ''),\n    destination:         merged.destination,\n    normalized_destination: merged.normalized_destination,\n    travel_date:         merged.travel_date,\n    pax:                 merged.pax,\n    whatsapp_number:     merged.whatsapp_number,\n    quick_assistance:    qaClosed ? 'no_response' : (newEnquiry ? '' : strip(knownF.quick_assistance)),\n    ask_quick_assistance: askQuickAssist && !qaClosed,\n    notes,\n    status,\n    crm_push:            crmPush,\n    first_contact_ts:    firstContact,\n    last_update_ts:      nowIST,\n  },\n}];\n"
      },
      "id": "parse",
      "name": "Parse + validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: \"PENDING\", status: \"received\" }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Normalize input').item.json.channel_label === 'facebook' ? 'facebook' : 'instagram_main' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $('Merge reply').item.json.ig_user_id }}",
            "ig_username": "={{ $('Merge reply').item.json.ig_username }}",
            "name": "={{ $('Merge reply').item.json.full_name }}",
            "whatsapp_number": "={{ \"'\" + $('Merge reply').item.json.whatsapp_number }}",
            "destination": "={{ $('Merge reply').item.json.destination }}",
            "normalized_destination": "={{ $('Merge reply').item.json.normalized_destination }}",
            "travel_date": "={{ $('Merge reply').item.json.travel_date }}",
            "pax": "={{ $('Merge reply').item.json.pax }}",
            "budget": "={{ $('Merge reply').item.json.budget }}",
            "quick_assistance": "={{ $('Merge reply').item.json.quick_assistance }}",
            "status": "={{ $('Merge reply').item.json.status }}",
            "channel": "={{ $('Normalize input').item.json.channel_label }}",
            "first_contact_ts": "={{ $('Merge reply').item.json.first_contact_ts }}",
            "last_update_ts": "={{ $('Merge reply').item.json.last_update_ts }}",
            "notes - AI": "={{ $('Merge reply').item.json.notes }}"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ig_username",
              "displayName": "ig_username",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sheets",
      "name": "Save lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        220
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Normalize input').item.json.user_message }}",
        "options": {
          "systemMessage": "={{ $('Normalize input').item.json.system_prompt }}"
        }
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "chatmodel",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        512
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "kKc1S4rlwuUU1zuJ",
          "name": "Gemini (TEMP - revert to OpenAI tonight)"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ ((($json.body || {}).channel || 'instagram').toString().trim().toLowerCase() === 'facebook') ? 'facebook' : 'instagram_main' }}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ig_user_id",
              "lookupValue": "={{ $json.body.ig_user_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        },
        "range": "A:P"
      },
      "id": "lookup",
      "name": "Lookup existing lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normalize input').first().json.session_key }}",
        "contextWindowLength": 4
      },
      "id": "5e7f4bfa-4d7f-458c-8013-450d732f00b3",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        760,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cg1",
              "leftValue": "={{ $('Merge reply').first().json.crm_push === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "crmgate",
      "name": "Newly qualified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1159219.hstgr.cloud/webhook/crm-lead-sync",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Merge reply').item.json.full_name || $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "contact_number",
              "value": "={{ $('Merge reply').item.json.whatsapp_number }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Merge reply').item.json.whatsapp_number }}"
            },
            {
              "name": "destination",
              "value": "={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"
            },
            {
              "name": "normalized_destination",
              "value": "={{ $('Merge reply').item.json.normalized_destination || $('Merge reply').item.json.destination }}"
            },
            {
              "name": "travel_date",
              "value": "={{ $('Merge reply').item.json.travel_date }}"
            },
            {
              "name": "travelers",
              "value": "={{ $('Merge reply').item.json.pax }}"
            },
            {
              "name": "budget",
              "value": "={{ $('Merge reply').item.json.budget }}"
            },
            {
              "name": "quick_assistance",
              "value": "={{ $('Merge reply').item.json.quick_assistance }}"
            },
            {
              "name": "ig_username",
              "value": "={{ $('Merge reply').item.json.ig_username }}"
            },
            {
              "name": "ig_user_id",
              "value": "={{ $('Merge reply').item.json.ig_user_id }}"
            },
            {
              "name": "status",
              "value": "={{ $('Merge reply').item.json.status }}"
            },
            {
              "name": "notes",
              "value": "={{ $('Merge reply').item.json.notes }}"
            },
            {
              "name": "source",
              "value": "={{ $('Merge reply').item.json.channel === 'facebook' ? 'facebook' : 'instagram_main' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "crmpush",
      "name": "Push to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        140
      ],
      "onError": "continueRegularOutput",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Normalize input').item.json.channel_label === 'facebook' ? 'facebook' : 'instagram_main' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $('Normalize input').item.json.ig_user_id }}",
            "assigned_to": "={{ $('Normalize input').item.json.msg_id }}"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ig_username",
              "displayName": "ig_username",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "3dd6b9fe-6399-441d-a59e-dca706016301",
      "name": "Claim lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        600,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Normalize input').item.json.channel_label === 'facebook' ? 'facebook' : 'instagram_main' }}"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ig_user_id",
              "lookupValue": "={{ $('Normalize input').item.json.ig_user_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        },
        "range": "A:P"
      },
      "id": "299113ef-44f7-46f3-8bc6-877e9dd72f7d",
      "name": "Read lock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1180,
        460
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "win1",
              "leftValue": "={{ ((($json.assigned_to || '') === '') || (String($json.assigned_to).trim() === String($('Normalize input').first().json.msg_id).trim())) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9fda5b2e-98e0-4b7e-81b9-66dabf03b64b",
      "name": "Winner?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.manychat.com/fb/sending/sendContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify((function() {\n  const p = $('Merge reply').first().json;\n  const subscriber = $('Normalize input').first().json.ig_user_id;\n  const contentType = $('Normalize input').first().json.channel || 'instagram';\n  const content = { type: contentType, messages: [{ type: 'text', text: p.reply }] };\n  return { subscriber_id: subscriber, data: { version: 'v2', content } };\n})()) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "9f65fdbf-8b84-4bb4-97a4-ee75332b11c1",
      "name": "Send reply (ManyChat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1540,
        480
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "qNSVhbNH7kRyBci8",
          "name": "ManyChat API — Account 2 (main @outboundtravelers)"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "3443b06f-1ec5-45b3-ad3f-38e04bb432ac",
      "name": "Button click?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        140
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "btn1",
              "leftValue": "={{ $('Normalize input').first().json.is_button_click }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "738ff3ea-0b8a-48be-bf4d-1af67df2be2b",
      "name": "Button handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        620
      ],
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────────────────\n// NODE: \"Button handler\"  (Code node, \"Run Once for All Items\")\n// Handles the Yes/No quick-assistance button click deterministically (no AI).\n// Runs when Normalize input detects is_button_click = true.\n//\n// Working hours: Monday–Saturday, 9:00 AM – 5:30 PM IST. Sunday is a full holiday.\n// Anything outside that (before 9:00, from 5:30 PM onward, or any time Sunday) = \"after-hours\".\n//\n//   Yes + within hours  → \"Our travel consultant will reach you shortly.\"\n//   Yes + after-hours   → \"...will reach you during our working hours (9:00 AM – 5:30 PM).\"\n//   No                  → polite thank-you, end of chat.\n//   Yes (either case)   → tag the lead quick_assistance = \"yes\" + push to CRM.\n//\n// ⚠️ Code node MUST return [{ json: { ... } }].\n// ─────────────────────────────────────────────────────────────────────────\n\nconst norm = $('Normalize input').first().json;\nconst knownF = norm.known_fields || {};\nconst buttonValue = norm.button_value || '';\n\nconst OB = String.fromCharCode(123) + String.fromCharCode(123);\nconst CB = String.fromCharCode(125) + String.fromCharCode(125);\nconst strip = (v) => { const t = (v === undefined || v === null) ? '' : String(v).trim(); return (t.slice(0, 2) === OB && t.slice(-2) === CB) ? '' : t; };\n\n// Current time in IST (UTC+5:30).\nconst now = new Date(Date.now() + 5.5 * 60 * 60 * 1000);\nconst day = now.getUTCDay();                       // 0 = Sunday, 6 = Saturday\nconst minutes = now.getUTCHours() * 60 + now.getUTCMinutes();\nconst WORK_START = 9 * 60;                          // 9:00 AM\nconst WORK_END = 17 * 60 + 30;                      // 5:30 PM\nconst withinHours = (day !== 0) && (minutes >= WORK_START) && (minutes < WORK_END);  // Sunday (day 0) = full holiday\n\nlet reply = '';\nlet quickAssistance = '';\nlet crmPush = false;\n\nif (buttonValue === 'yes') {\n  quickAssistance = 'yes';\n  crmPush = false; // CRM push now happens at qualification (Parse), not on the Yes click\n  reply = withinHours\n    ? 'Our travel consultant will reach you shortly.'\n    : 'Thank you! Our travel consultant will reach you during our working hours (9:00 AM – 5:30 PM).';\n} else if (buttonValue === 'no') {\n  quickAssistance = 'no';\n  crmPush = false;\n  reply = 'Thank you! Have a great day. Our travel consultant will still connect with you soon.';\n} else {\n  // Fallback (should never happen — Button handler only runs on a Yes/No click).\n  quickAssistance = '';\n  crmPush = false;\n  reply = 'Thank you! Our team will get back to you shortly.';\n}\n\nconst nowIST = now.toISOString().replace('T', ' ').slice(0, 19);\nconst firstContact = (norm.conv_first_contact && String(norm.conv_first_contact).trim())\n  || (norm.existing_first_contact_ts && String(norm.existing_first_contact_ts).trim())\n  || nowIST;\n\nif (quickAssistance) {\n  const _sdQ = $getWorkflowStaticData('global');\n  _sdQ.qaDone = _sdQ.qaDone || {};\n  _sdQ.qaDone[String(norm.ig_user_id)] = { v: quickAssistance, ts: Date.now() };\n}\n\nreturn [{\n  json: {\n    ig_user_id:          norm.ig_user_id,\n    ig_username:         norm.ig_username,\n    full_name:           strip(norm.ig_fullname),\n    reply:               reply,\n    intent:              'travel_lead',\n    is_lead:             true,\n    destination:         strip(knownF.destination),\n    normalized_destination: strip(knownF.normalized_destination),\n    travel_date:         strip(knownF.travel_date),\n    pax:                 strip(knownF.pax),\n    whatsapp_number:     strip(knownF.whatsapp_number),\n    quick_assistance:    quickAssistance,\n    ask_quick_assistance: false,\n    notes:               strip(norm.existing_notes) || ('Quick assistance: ' + quickAssistance),\n    status:              'qualified',\n    crm_push:            crmPush,\n    first_contact_ts:    firstContact,\n    last_update_ts:      nowIST,\n    assigned_to:         '',\n    msg_id:              norm.msg_id || '',\n  },\n}];\n"
      }
    },
    {
      "id": "combine-lock-data",
      "name": "Combine lock + data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        380
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const lock = $input.first().json || {};\nconst data = $('Parse + validate').first().json || {};\nconst norm = $('Normalize input').first().json || {};\nreturn [{ json: { ...data, assigned_to: lock.assigned_to, msg_id: norm.msg_id } }];"
      }
    },
    {
      "id": "6420b864-5230-4f94-93fc-39a56a08343e",
      "name": "Merge reply",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1450,
        400
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "hasphone",
      "name": "Has phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1510,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "hp1",
              "leftValue": "={{ true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "99711ef9-52d2-40a4-830b-a5ae2bb1fbf1",
      "name": "QA Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        900
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ig-lead-bot-2-qa",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "751a0238-7e5e-4615-b608-391c457221dd"
    },
    {
      "id": "3854cf9d-3e74-4eca-8da8-f6fdc8db0bb7",
      "name": "QA click handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        900
      ],
      "parameters": {
        "jsCode": "// NODE: \"QA click handler\" — Yes/No button tap via ManyChat dynamic_block_callback.\n// Responds instantly with the scripted confirmation; sheet save happens after.\nconst b = $('QA Webhook').first().json.body || {};\nconst val = String(b.value || '').toLowerCase() === 'yes' ? 'yes' : 'no';\nconst igUserId = String(b.ig_user_id || '').trim();\nconst channel = String(b.channel || 'instagram').toLowerCase();\n\n// Working hours: Mon–Sat 9:00 AM – 5:30 PM IST, Sunday closed.\nconst now = new Date(Date.now() + 5.5 * 60 * 60 * 1000);\nconst day = now.getUTCDay();\nconst minutes = now.getUTCHours() * 60 + now.getUTCMinutes();\nconst withinHours = (day !== 0) && (minutes >= 9 * 60) && (minutes < 17 * 60 + 30);\n\nlet reply;\nif (val === 'yes') {\n  reply = withinHours\n    ? 'Our travel consultant will reach you shortly.'\n    : 'Thank you! Our travel consultant will reach you during our working hours (9:00 AM – 5:30 PM).';\n} else {\n  reply = 'Thank you! Have a great day. Our travel consultant will still connect with you soon.';\n}\n\nconst nowIST = now.toISOString().replace('T', ' ').slice(0, 19);\nreturn [{\n  json: {\n    ig_user_id: igUserId,\n    quick_assistance: val,\n    status: 'qualified',\n    last_update_ts: nowIST,\n    channel,\n    dynamic_block: {\n      version: 'v2',\n      content: {\n        type: channel === 'facebook' ? 'facebook' : 'instagram',\n        messages: [{ type: 'text', text: reply }],\n      },\n    },\n  },\n}];\n"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "254d90e6-6004-4ea0-967a-fd18e1a387dc",
      "name": "QA Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        440,
        900
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.dynamic_block) }}",
        "options": {}
      }
    },
    {
      "id": "fb8fb0c8-1ed2-4d3e-b8b7-d6a3bc011ab1",
      "name": "QA Save",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        660,
        900
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1B2bpou1p6ZISE0nGWjxhSY23ezlzjuysDtZ9AuB4EVg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.channel === 'facebook' ? 'facebook' : 'instagram_main' }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "ig_user_id"
          ],
          "value": {
            "ig_user_id": "={{ $json.ig_user_id }}",
            "quick_assistance": "={{ $json.quick_assistance }}",
            "status": "={{ $json.status }}",
            "last_update_ts": "={{ $json.last_update_ts }}"
          },
          "schema": [
            {
              "id": "ig_user_id",
              "displayName": "ig_user_id",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ig_username",
              "displayName": "ig_username",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp_number",
              "displayName": "whatsapp_number",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "destination",
              "displayName": "destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "normalized_destination",
              "displayName": "normalized_destination",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "travel_date",
              "displayName": "travel_date",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pax",
              "displayName": "pax",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "budget",
              "displayName": "budget",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quick_assistance",
              "displayName": "quick_assistance",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channel",
              "displayName": "channel",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_contact_ts",
              "displayName": "first_contact_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_ts",
              "displayName": "last_update_ts",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes - AI",
              "displayName": "notes - AI",
              "type": "string",
              "required": false,
              "display": true,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bnb4dKAXJwcqzUWj",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "4c434f05-aa0b-4496-9d3f-0f65ac288868",
      "name": "Should send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1400,
        560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ss1",
              "leftValue": "={{ ($json.reply || '').toString().trim() !== '' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Lookup existing lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup existing lead": {
      "main": [
        [
          {
            "node": "Normalize input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim lock": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse + validate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse + validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse + validate": {
      "main": [
        [
          {
            "node": "Read lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save lead": {
      "main": [
        [
          {
            "node": "Newly qualified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newly qualified?": {
      "main": [
        [
          {
            "node": "Push to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize input": {
      "main": [
        [
          {
            "node": "Button click?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Button click?": {
      "main": [
        [
          {
            "node": "Button handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claim lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Button handler": {
      "main": [
        [
          {
            "node": "Merge reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read lock": {
      "main": [
        [
          {
            "node": "Combine lock + data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine lock + data": {
      "main": [
        [
          {
            "node": "Winner?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Winner?": {
      "main": [
        [
          {
            "node": "Merge reply",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge reply": {
      "main": [
        [
          {
            "node": "Has phone?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Should send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has phone?": {
      "main": [
        [
          {
            "node": "Save lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Webhook": {
      "main": [
        [
          {
            "node": "QA click handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA click handler": {
      "main": [
        [
          {
            "node": "QA Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QA Respond": {
      "main": [
        [
          {
            "node": "QA Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should send?": {
      "main": [
        [
          {
            "node": "Send reply (ManyChat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "errorWorkflow": "f8JebCcUmgk137Li",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": null,
  "pinData": null,
  "versionId": "3228a28f-f016-4add-a065-d205328d6730",
  "versionCounter": 44,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-25T07:01:08.558Z",
      "createdAt": "2026-06-25T07:01:08.558Z",
      "role": "workflow:owner",
      "workflowId": "mO9gd0VJISdzlB5x",
      "projectId": "rB3QZRABO7nl17PH",
      "project": {
        "updatedAt": "2025-11-28T05:56:18.467Z",
        "createdAt": "2025-11-28T05:42:25.923Z",
        "id": "rB3QZRABO7nl17PH",
        "name": "Outbound Travelers <outboundtravelers1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-28T05:42:25.924Z",
            "createdAt": "2025-11-28T05:42:25.924Z",
            "userId": "1f2bd6c5-af4f-4a36-8846-17c36547f8ac",
            "projectId": "rB3QZRABO7nl17PH",
            "user": {
              "updatedAt": "2026-07-09T05:36:54.000Z",
              "createdAt": "2025-11-28T05:42:24.767Z",
              "id": "1f2bd6c5-af4f-4a36-8846-17c36547f8ac",
              "email": "outboundtravelers1@gmail.com",
              "firstName": "Outbound",
              "lastName": "Travelers",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-28T06:02:15.741Z",
                "personalization_survey_n8n_version": "1.121.3",
                "companyIndustryExtended": [
                  "other"
                ],
                "otherCompanyIndustryExtended": "Travel and Tourism",
                "companySize": "<20",
                "companyType": "other",
                "automationGoalSm": [
                  "lead-generation"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "8yGvAmoeoeT4pI2K",
                "userActivatedAt": 1765879592923,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1782362054742
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
