accounts/crm-sync/ob5-crm-sync.workflow.json
{
  "updatedAt": "2026-07-09T09:51:49.165Z",
  "createdAt": "2026-06-03T11:46:10.067Z",
  "id": "yH0weFfeYiobqdZq",
  "name": "OB-5 CRM SYNC · Workpex + Custom CRM (dual push)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-lead-sync",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "60cd518a-7bd2-4c2a-a978-199c78193f12"
    },
    {
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Normalize for CRM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        300
      ],
      "parameters": {
        "jsCode": "// NODE: \"Normalize for CRM\"  (Code node, \"Run Once for All Items\")\n// Workflow: \"Outbound IG Lead Bot — 3 · CRM Sync (Workpex)\" (yH0weFfeYiobqdZq)\n//\n// Normalizes the qualified lead (sent by Flow 1's \"Push to CRM\") into the exact\n// shapes the Workpex form expects, BEFORE \"Send to CRM\":\n//   • travel_budget — free-text budget -> number  (50k->50000, 1.5L->150000, vague/junk->0)\n//   • members       — pax free text    -> integer (digits OR spelled-out words; else '')\n//   • phone         — WhatsApp number   -> digits only w/ country code (e.g. 919344105896), no + / spaces\n// (Workpex \"Destination\" is a dropdown; the raw destination is passed through by Send to CRM.)\n//\n// Nothing here throws on odd input — unparseable values become '' / 0, never an error.\n// ⚠️ Webhook payload lives under $json.body. Code node MUST return [{ json }].\n\nconst body = $('Webhook').first().json.body || {};\n\n// --- budget -> number ---\n// Read a unit (k / lakh / cr) ONLY when it is attached to the number. This avoids\n// the trap where words like \"total\" or \"per person\" contain letters (the 'l' in\n// \"total\") that were previously mistaken for a lakh/k suffix (30k total -> 30L bug).\nfunction toBudget(input) {\n  const s = String(input || '').toLowerCase().replace(/₹|rs\\.?|inr|,/g, '');\n  const m = s.match(/(\\d+(?:\\.\\d+)?)\\s*(crore|cr|lakh|lac|l|k)?/);\n  if (!m) return 0;\n  let n = parseFloat(m[1]);\n  if (isNaN(n)) return 0;\n  const unit = m[2] || '';\n  if (unit === 'crore' || unit === 'cr') n *= 10000000;\n  else if (unit === 'lakh' || unit === 'lac' || unit === 'l') n *= 100000;\n  else if (unit === 'k') n *= 1000;\n  else if (n < 100) n *= 1000;   // bare small number like \"50\" -> 50,000\n  return Math.round(n);\n}\nconst budget = toBudget(body.budget);\n\n// --- pax -> integer ---\n// 1) digits win (\"4 people\" -> 4, \"2 adults +1 kid\" -> 2).\n// 2) else spelled-out words (\"five members\" -> 5, \"a couple\" -> 2, \"solo\" -> 1).\n// 3) else '' (blank) — never throws.\nfunction toMembers(input) {\n  const t = String(input || '').toLowerCase().trim();\n  if (!t) return '';\n  const d = t.match(/\\d+/);\n  if (d) return parseInt(d[0], 10);\n  const words = [['twenty',20],['nineteen',19],['eighteen',18],['seventeen',17],['sixteen',16],['fifteen',15],['fourteen',14],['thirteen',13],['twelve',12],['eleven',11],['ten',10],['nine',9],['eight',8],['seven',7],['six',6],['five',5],['four',4],['three',3],['couple',2],['pair',2],['two',2],['one',1],['solo',1],['single',1],['alone',1]];\n  for (let i = 0; i < words.length; i++) {\n    if (new RegExp('\\\\b' + words[i][0] + '\\\\b').test(t)) return words[i][1];\n  }\n  return '';\n}\nconst members = toMembers(body.travelers);\n\n// --- phone -> digits only, keep country code, drop + / spaces / leading 00 ---\nlet phone = String(body.contact_number || '').replace(/\\D/g, '');\nif (phone.startsWith('00')) phone = phone.slice(2);\n\n// -- IDEMPOTENCY GUARD -- one push per phone per 15 min (bot turns can race\n// around the qualification moment when Sheets read-back lags; see 2026-07-03).\nconst _sd = $getWorkflowStaticData('global');\n_sd.pushed = _sd.pushed || {};\nconst _nowMs = Date.now();\nfor (const _k in _sd.pushed) { if (_nowMs - _sd.pushed[_k] > 15 * 60 * 1000) delete _sd.pushed[_k]; }\nif (phone && _sd.pushed[phone]) { return []; }\nif (phone) _sd.pushed[phone] = _nowMs;\n\nreturn [{ json: { travel_budget: budget, members, phone } }];\n"
      }
    },
    {
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Send to CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://app.workpex.com/form/527c22ad-a7f7-4586-8f72-9024a0ff1eac",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lead_firstname",
              "value": "={{ $('Webhook').item.json.body.name }}"
            },
            {
              "name": "lead_phone",
              "value": "={{ $('Normalize for CRM').item.json.phone }}"
            },
            {
              "name": "Destination",
              "value": "={{ $('Webhook').item.json.body.destination }}"
            },
            {
              "name": "Number Of Members",
              "value": "={{ $('Normalize for CRM').item.json.members }}"
            },
            {
              "name": "Budget",
              "value": "={{ $('Normalize for CRM').item.json.travel_budget }}"
            }
          ]
        },
        "options": {}
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "3b5049f9-0083-4f70-87a2-851bfa1effcd",
      "name": "Send to Outbound CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -200,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://app.187-127-180-241.sslip.io/tms/api/ingest",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"source\": $('Webhook').item.json.body.source || \"instagram_in\",\n  \"name\": $('Webhook').item.json.body.name,\n  \"ig_username\": $('Webhook').item.json.body.handle || $('Webhook').item.json.body.ig_username,\n  \"phone\": $('Normalize for CRM').item.json.phone,\n  \"destination\": $('Webhook').item.json.body.destination,\n  \"travel_date\": $('Webhook').item.json.body.travel_date,\n  \"travelers\": $('Normalize for CRM').item.json.members,\n  \"budget\": $('Normalize for CRM').item.json.travel_budget,\n  \"quick_assistance\": $('Webhook').item.json.body.quick_assistance,\n  \"status\": $('Webhook').item.json.body.status,\n  \"notes\": $('Webhook').item.json.body.notes,\n  \"ig_user_id\": $('Webhook').item.json.body.ig_user_id\n} }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "onError": "stopWorkflow",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "disabled": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "gI20n2XCpu3GzUFZ",
          "name": "Custom CRM Ingest Key (X-Api-Key)"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize for CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize for CRM": {
      "main": [
        [
          {
            "node": "Send to CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Outbound CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "f8JebCcUmgk137Li"
  },
  "meta": null,
  "pinData": null,
  "versionId": "1bdd2609-81d4-4d8c-9ee2-2b437b5199ac",
  "versionCounter": 453,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-03T11:46:10.071Z",
      "createdAt": "2026-06-03T11:46:10.071Z",
      "role": "workflow:owner",
      "workflowId": "yH0weFfeYiobqdZq",
      "projectId": "rB3QZRABO7nl17PH",
      "project": {
        "updatedAt": "2025-11-28T05:56:18.467Z",
        "createdAt": "2025-11-28T05:42:25.923Z",
        "id": "rB3QZRABO7nl17PH",
        "name": "Outbound Travelers <outboundtravelers1@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-11-28T05:42:25.924Z",
            "createdAt": "2025-11-28T05:42:25.924Z",
            "userId": "1f2bd6c5-af4f-4a36-8846-17c36547f8ac",
            "projectId": "rB3QZRABO7nl17PH",
            "user": {
              "updatedAt": "2026-07-09T05:36:54.000Z",
              "createdAt": "2025-11-28T05:42:24.767Z",
              "id": "1f2bd6c5-af4f-4a36-8846-17c36547f8ac",
              "email": "outboundtravelers1@gmail.com",
              "firstName": "Outbound",
              "lastName": "Travelers",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-28T06:02:15.741Z",
                "personalization_survey_n8n_version": "1.121.3",
                "companyIndustryExtended": [
                  "other"
                ],
                "otherCompanyIndustryExtended": "Travel and Tourism",
                "companySize": "<20",
                "companyType": "other",
                "automationGoalSm": [
                  "lead-generation"
                ],
                "role": "sales-and-marketing",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "8yGvAmoeoeT4pI2K",
                "userActivatedAt": 1765879592923,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1782362054742
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-08",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}
